{% extends "layout.html" %}


{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{{ govukBackLink({
  text: "Back",
 href: "ecfBreakdownv8v1"
}) }}
{% endblock %}

{% block content %}


        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
             
                <h1 class="govuk-heading-xl">Participant information</h1>
                <div class="vaccinations " itemtype="https://schema.org/SpecialAnnouncement" itemprop="SpecialAnnouncement" itemscope="">

                 
    
                  
                    <div itemprop="Observation" itemtype="https://schema.org/Observation" itemscope="">
                        <strong class="govuk-body-s float govuk-!-margin-bottom-0">{{data.providerName}}</strong>
                         <div class="number-group">
                             <div class="number-container govuk-!-padding-right-4">
                                 <div class="float tooltip">
                                     <div class="float govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
                                         <span class="">	Milestone end date 21 September 2022 </span></div>
                                 </div>
                             </div>
                         </div>
                        </div>
                      <div itemprop="Observation" itemtype="https://schema.org/Observation" itemscope="">
                        <strong class="govuk-body-s float govuk-!-margin-bottom-0">Total participants - September 2021 cohort</strong>
                         <div class="number-group">
                             <div class="number-container govuk-!-padding-right-4">
                                 <div class="float tooltip">
                                     <div class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
                                         <span class="">	90210 </span></div>
                                 </div>
                             </div>
                         </div>
                        </div>
                           
                      <div itemprop="Observation" itemtype="https://schema.org/Observation" itemscope="">
                        <strong class="govuk-body-s float govuk-!-margin-bottom-0">Total participants - January 2022 cohort</strong>
                         <div class="number-group">
                             <div class="number-container govuk-!-padding-right-4">
                                 <div class="float tooltip">
                                     <div class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
                                         <span class="">	90210 </span></div>
                                 </div>
                             </div>
                         </div>
                        </div>
                   
               
     
                                    
                </div>  
          <br>    <br>
               
                <div class="govuk-tabs" data-module="govuk-tabs">
                    <h2 class="govuk-tabs__title">
                      Contents
                    </h2>
                    <ul class="govuk-tabs__list">
                      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#past-day">
                            Participants paid
                        </a>
                      </li>
                      <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#past-week">
                            Back payments paid
                        </a>
                      </li>
                      <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#past-month">
                            Participants not paid
                        </a>
                      </li>
                      <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#dlb">
                            Delivery partner breakdown 
                        </a>
                      </li>

                    </ul>
                    <div class="govuk-tabs__panel" id="past-day">
                      <h2 class="govuk-heading-l">        Participants paid</h2>
                  
               
             
                         
                            <div  style="display: inline-block">
                                <label class="govuk-label govuk-!-width-three-quarters bold-label" for="firstName" >
                                    Search participants
                                </label>
                                <span id="email-hint" class="govuk-hint">
                                Search by User ID (UUID) or TRN
                                </span>
                                <input class="govuk-input govuk-!-width-three-quarters" style="min-width:300px" id="firstName" name="firstName" type="text" aria-describedby="First Name"><div class="bba"><button class="search" type="submit"> </button></div>
                                <p style="margin-top:10px">Showing 1 to 5 of five results found</p>
                            </div>
<!--                  
                            <div style="display: inline-block; padding-left:30px;">
                                <fieldset class="govuk-fieldset">
                                
                                    <h2 class="govuk-heading-s">
                                  Filter by cohort
                                    </h2>
           
                                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                
                                    <div class="govuk-checkboxes__item">
                                      <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                                      <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
                                       September 2021
                                      </label>
                                    </div>
                                    <div class="govuk-checkboxes__item">
                                      <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
                                      <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                                        January 2022
                                      </label>
                                    </div>
                                  </div>
                              
                                </fieldset>
                              </div>  -->
                    <table class="govuk-table  " style="">
                        <thead>
                            <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header">User ID (UUID)</th>
                                    <th scope="col" class="govuk-table__header">TRN</th>
                                    <th scope="col" class="govuk-table__header">Delivery partner</th>
                                    <th scope="col" class="govuk-table__header">Cohort</th>
                                  

                                   
                         
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell" scope="row">32893843984</td>
                                <td class="govuk-table__cell " scope="row">dsdsd</td>
                                <td class="govuk-table__cell" scope="row">delivery partner 1</td>
                                <td class="govuk-table__cell" scope="row">September 2021</td>
                               <!--   <td class="govuk-table__cell " scope="row">Reason X</td> -->
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell" scope="row">32893843984</td>
                                <td class="govuk-table__cell " scope="row">dsdsd</td>
                                <td class="govuk-table__cell" scope="row">delivery partner 1</td>
                                <td class="govuk-table__cell" scope="row">September 2021</td>
                               <!--   <td class="govuk-table__cell " scope="row">Reason X</td> -->
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell" scope="row">32893843984</td>
                                <td class="govuk-table__cell " scope="row">dsdsd</td>
                                <td class="govuk-table__cell" scope="row">delivery partner 1</td>
                                <td class="govuk-table__cell" scope="row">September 2021</td>
                               <!--   <td class="govuk-table__cell " scope="row">Reason X</td> -->
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell" scope="row">32893843984</td>
                                <td class="govuk-table__cell " scope="row">dsdsd</td>
                                <td class="govuk-table__cell" scope="row">delivery partner 1</td>
                                <td class="govuk-table__cell" scope="row">January 2022</td>
                               <!--   <td class="govuk-table__cell " scope="row">Reason X</td> -->
                            </tr>
                        </tbody>
                    </table>
                  
                    </div>
                    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
                      <h2 class="govuk-heading-l">     Back payments paid</h2>
                      <div class="govuk-form-group" style="">
                        <fieldset class="govuk-fieldset">
                            <div class="govuk-form-group" style="display: inline-block">
                                <label class="govuk-label govuk-!-width-three-quarters bold-label" for="firstName" >
                                    Search participants
                                </label>
                                <span id="email-hint" class="govuk-hint">
                                Search by User ID (UUID) or TRN
                                </span>
                                <input class="govuk-input govuk-!-width-three-quarters" style="min-width:500px" id="firstName" name="firstName" type="text" aria-describedby="First Name"><div class="bba"><button class="search" type="submit"> </button></div>
                            </div>
                            <p style="margin-top:10px">Showing 1 to 5 of five results found</p>
                        </fieldset>
                    </div>
         
                    <table class="govuk-table " style="">
                        <thead>
                            <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header">User ID (UUID)</th>
                                    <th scope="col" class="govuk-table__header">TRN</th>
                                    <th scope="col" class="govuk-table__header">Delivery partner</th>
                                    <th scope="col" class="govuk-table__header">Milestone </th>
                                    <th scope="col" class="govuk-table__header">Cohort</th>
                                  <!--   <th scope="col" class="govuk-table__header">Reason for rejection</th> -->
                                   
                         
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell" scope="row">32893843984</td>
                                <td class="govuk-table__cell " scope="row">dsdsd</td>
                                <td class="govuk-table__cell" scope="row">delivery partner 1</td>
                                <td class="govuk-table__cell" scope="row">1</td>
                                <td class="govuk-table__cell" scope="row">September 2021</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell" scope="row">32893843984</td>
                                <td class="govuk-table__cell " scope="row">dsdsd</td>
                                <td class="govuk-table__cell" scope="row">delivery partner 2</td>
                                <td class="govuk-table__cell" scope="row">2</td>
                                <td class="govuk-table__cell" scope="row">September 2021</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell" scope="row">32893843984</td>
                                <td class="govuk-table__cell " scope="row">dsdsd</td>
                                <td class="govuk-table__cell" scope="row">delivery partner 3</td>
                                <td class="govuk-table__cell" scope="row">3</td>
                                <td class="govuk-table__cell" scope="row">September 2021</td>
                            </tr>
                            
                        </tbody>
                    </table>
                  
                    </div>
                    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
                      <h2 class="govuk-heading-l">    Participants not paid</h2>
                      <div class="govuk-form-group" style="">
                        <fieldset class="govuk-fieldset">
                            <div class="govuk-form-group" style="display: inline-block">
                                <label class="govuk-label govuk-!-width-three-quarters bold-label" for="firstName" >
                                    Search participants
                                </label>
                                <span id="email-hint" class="govuk-hint">
                                Search by User ID (UUID) or TRN
                                </span>
                                <input class="govuk-input govuk-!-width-three-quarters" style="min-width:500px" id="firstName" name="firstName" type="text" aria-describedby="First Name"><div class="bba"><button class="search" type="submit"> </button></div>
                            </div>
                            <p style="margin-top:10px">Showing 1 to 5 of five results found</p>
                        </fieldset>
                    </div>
<table class="govuk-table " style="">
                <thead>
                    <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">User ID (UUID)</th>
                            <th scope="col" class="govuk-table__header">TRN</th>
                            <th scope="col" class="govuk-table__header">Delivery partner</th>
                            <th scope="col" class="govuk-table__header">Reason for rejection</th>
                            <th scope="col" class="govuk-table__header">Cohort</th>
                           
                 
                    </tr>
                </thead>
                <tbody>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" scope="row">32893843984</td>
                        <td class="govuk-table__cell " scope="row">dsdsd</td>
                        <td class="govuk-table__cell" scope="row">delivery partner 1</td>
                        <td class="govuk-table__cell " scope="row">9021022</td>
                        <td class="govuk-table__cell" scope="row">September 2021</td>
                     
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" scope="row">32893843984</td>
                        <td class="govuk-table__cell " scope="row">dsdsd</td>
                        <td class="govuk-table__cell" scope="row">delivery partner 1</td>
                        <td class="govuk-table__cell " scope="row">9021022</td>
                        <td class="govuk-table__cell" scope="row">September 2021</td>
                     
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" scope="row">32893843984</td>
                        <td class="govuk-table__cell " scope="row">dsdsd</td>
                        <td class="govuk-table__cell" scope="row">delivery partner 1</td>
                        <td class="govuk-table__cell " scope="row">9021022</td>
                        <td class="govuk-table__cell" scope="row">September 2021</td>
                     
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" scope="row">32893843984</td>
                        <td class="govuk-table__cell " scope="row">dsdsd</td>
                        <td class="govuk-table__cell" scope="row">delivery partner 1</td>
                        <td class="govuk-table__cell " scope="row">9021022</td>
                        <td class="govuk-table__cell" scope="row">September 2021</td>
                     
                    </tr>
                </tbody>
            </table>

                  
                    </div>
                    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="dlb">
                        <h2 class="govuk-heading-l"> Delivery partner breakdown </h2>
            
                        <table class="govuk-table ">
                          <thead>
                          <!--     <h3 class="govuk-heading-s" style="margin-bottom: 0px; margin-top:10px">Delivery partner breakdown</h3> -->
                              <tr class="govuk-table__row">
                   
                                  <th scope="col" class="govuk-table__header " style="font-weight:700">Delivery partner</th>
                                         <th scope="col" class="govuk-table__header govuk-table__cell" style="font-weight:700">September 2021 cohort participants</th>
                                            <th scope="col" class="govuk-table__header govuk-table__cell" style="font-weight:700">September 2021 cohort participants</th>
                                        
                                                 <th scope="col" class="govuk-table__header govuk-table__cell" style="font-weight:700">Total</th>
                                   
                              </tr>
                          </thead>
                          <tbody>
                              <tr class="govuk-table__row">
                                  <td class="govuk-table__cell" scope="row">Delivery partner 1</td>
                                 <td class="govuk-table__cell govuk-table__cell" scope="row">50</td>
                                  <td class="govuk-table__cell govuk-table__cell" scope="row">50</td>
                           
                                   <td class="govuk-table__cell govuk-table__cell" scope="row">150</td>
                              </tr>
                              <tr class="govuk-table__row">
                                      <td class="govuk-table__cell" scope="row">Delivery partner 2</td>
                                      <td class="govuk-table__cell govuk-table__cell" scope="row">50</td>
                                      <td class="govuk-table__cell govuk-table__cell" scope="row">50</td>
                               
                                       <td class="govuk-table__cell govuk-table__cell" scope="row">150</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <td class="govuk-table__cell" scope="row">Delivery partner 3</td>
                                   <td class="govuk-table__cell govuk-table__cell" scope="row">50</td>
                                   <td class="govuk-table__cell govuk-table__cell" scope="row">50</td>
                            
                                    <td class="govuk-table__cell govuk-table__cell" scope="row">150</td>
                              </tr>
                              <tr class="govuk-table__row">
                                    <td class="govuk-table__cell" scope="row">Delivery partner 4</td>
                                    <td class="govuk-table__cell govuk-table__cell" scope="row">50</td>
                                    <td class="govuk-table__cell govuk-table__cell" scope="row">50</td>
                             
                                     <td class="govuk-table__cell govuk-table__cell" scope="row">150</td>
                              </tr>
                                  <tr class="govuk-table__row">
                                    <td class="govuk-table__cell" scope="row">Delivery partner 5</td>
                                    <td class="govuk-table__cell govuk-table__cell" scope="row">50</td>
                                    <td class="govuk-table__cell govuk-table__cell" scope="row">50</td>
                             
                                     <td class="govuk-table__cell govuk-table__cell" scope="row">150</td>
                              </tr>
                                  <tr class="govuk-table__row">
                                    <td class="govuk-table__cell" scope="row">Delivery partner 6</td>
                                    <td class="govuk-table__cell govuk-table__cell" scope="row">50</td>
                                    <td class="govuk-table__cell govuk-table__cell" scope="row">50</td>
                             
                                     <td class="govuk-table__cell govuk-table__cell" scope="row">150</td>
                              </tr>
                                  <tr class="govuk-table__row">
                                    <td class="govuk-table__cell" scope="row">Delivery partner 7</td>
                                    <td class="govuk-table__cell govuk-table__cell" scope="row">50</td>
                                    <td class="govuk-table__cell govuk-table__cell" scope="row">50</td>
                             
                                     <td class="govuk-table__cell govuk-table__cell" scope="row">150</td>
                              </tr>
                           
                               
                          </tbody>
                      </table>

                    
                      </div>
            
                  </div>
           

    
            </div>
        </div>



{% endblock %}

