
{% extends "layout.html" %}
{% block beforeContent %}


{% endblock %}
{% block content %}

<div class="govuk-width-container">
 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <!--       <h1 class="govuk-heading-xl">
            Add an apprentice
        </h1> -->

             <p style="margin-bottom:0px">Your confirmation code is:</p>
            <h3 class="govuk-heading-m" style="padding-top:0">1234</h3>

       
            <p class="govuk-body">This email has been used to register for the National Professional Qualifications (NPQ) service.</p><p> You will need to finish the registration to access your NPQ course.</p>

       

       
<p><a href="confirmEMail">Continue with registration</a></p>
<p class="govuk-body">If you did not register for this service, please ignore the email.</p>
<p class="govuk-body">Best Regards</p>
<p class="govuk-body">NPQ Team</p>



    </div>
</div>
</main>
</div>

{% endblock %}
