
{% extends "layout.html" %}

{% block content %}


<div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                                <h1 class="govuk-heading-xl">Check your email</h1>
                               
                             <p>If you have an account, we have sent you a link to sign in.</p>

    <h2 class="govuk-heading-m">If you don’t get an email to sign in:</h2>
 
       <ul class="govuk-list govuk-list--bullet">
            <li>make sure you have <a href="./">created an account</a></li>
            <li>check your spam or junk folder</li>
             <li>contact us: <a href="mailto:continuing-professional-development@digital.education.gov.uk">continuing-professional-development@digital.education.gov.uk</a></li>
        </ul>
      
         <p>Skip to <a href="signInEmail">Example email</a></p>
                              
        <!--         <form action="details" method="get" class="form">
                    <button class="govuk-button">Continue</button>
                </form> -->
            </div>
        </div>
    </main>


{% endblock %}
