
{% extends "layout.html" %}
{% block beforeContent %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<!-- <script>

function whereNow(clickedID) {
  // var status = $('input[name=radio-group]:checked').val();

                             switch (true) {
                      case  (clickedID == 'box1'):
                                window.location.href='box2';
                            break;
                    default:
                          window.location.href='denied';
                        break;
            }

}
</script> -->


<div class="govuk-width-container">
  
        <div class="govuk-grid-row"">
    <div class="govuk-grid-column-two-thirds">

        <form method="get" action="chooseSchoolPost">
         
  <h1 class="govuk-heading-xl" >What courses are available</h1>
  <p style="font-weight: 700">As you selected head of department:</p>
<p>From September 2021, NPQ courses previously offered will be changed.</p>

<p>The existing NPQ Middle Leadership will be replaced with three different NPQs.</p>
<p>These are designed to help teachers and leaders who want to develop their expertise in specialist areas.</p>
<p>These include the:</p>
       <ul class="govuk-list govuk-list--bullet">
            <li>NPQ Leading Teacher Development – designed for those who support the training and development</li>
            <li>NPQ Leading Teaching- developing the skills of subject leads or those responsible for teaching in a particular subject</li>
            
             <li>NPQ Leading Behaviour and Culture - for teachers whose roles entail leading behaviour and culture among their fellow staff</li>
        </ul>
     
      
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h1 class="govuk-fieldset__heading">
                       Do you know who will fund your NPQ?
                       <!--    <span class="govuk-hint">The information you provide will help us personalise your experience and will not used for anything else.</span> -->
                        </h1>
                    </legend>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="confirm-head" name="confirm" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="confirm-yes">
                            Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="confirm-dh" name="confirm" type="radio" value="no" >
                            <label class="govuk-label govuk-radios__label" for="confirm-no">
                               No
                            </label>
                        </div> 
          
                     
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button">
                Continue
            </button>
          <!--     <input class="govuk-button" id="arse"  onclick="whereNow(this.id)" type="submit" value="Send invitation"> -->
        </form>
    </div>
</div>
</main>
</div>

{% endblock %}