
{% extends "layout.html" %}
{% block beforeContent %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %} 
<!-- <script>

function whereNow(clickedID) {
  // var status = $('input[name=radio-group]:checked').val();

                             switch (true) {
                      case  (clickedID == 'box1'):
                                window.location.href='box2';
                            break;
                    default:
                          window.location.href='denied';
                        break;
            }

}
</script> -->


<div class="govuk-width-container">
  
        <div class="govuk-grid-row"">
    <div class="govuk-grid-column-two-thirds">

        <form method="get" action="chooseSchoolPost">
         
  <h1 class="govuk-heading-xl" >Your provider options</h1>
<p>There are 18 training providers which run NPQ courses across the UK.</p>
<p>There are four which specialise in your qualification</p>
<p><a href="">Acme Training Limited</a></p>
<p><a href="">Bob’s Training Limited</a></p>
<p><a href="">Course It Is Limited</a></p>
<p><a href="">Smith’s Training Limited</a></p>

      
       <!--      <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h1 class="govuk-fieldset__heading">
                         Do you know how you will fund your NPQ
                      
                        </h1>
                    </legend>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="confirm-head" name="confirm" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="confirm-yes">
                            Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="confirm-dh" name="confirm" type="radio" value="no" >
                            <label class="govuk-label govuk-radios__label" for="confirm-no">
                               No
                            </label>
                        </div> 
          
                     
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button">
                Continue
            </button> -->
          <!--     <input class="govuk-button" id="arse"  onclick="whereNow(this.id)" type="submit" value="Send invitation"> -->
        </form>
    </div>
</div>
</main>
</div>

{% endblock %}