{% extends "layout-full-width-providers.html" %}
{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Change trainee scheme",
  href: "scheme"
  }) }}


{% endblock %}
{% block content %}




        <div class="govuk-grid-row">
           
            <div class="govuk-grid-column-full "> 
            
              <h1 class="govuk-heading-xl " style="margin-top: 0; "  id="company-Name">{{data.scheme}}</h1>

              {% if data.version === "1" %}
              <nav class="app-subnav " aria-label="Sub navigation">
                  <ul class="app-subnav__list">
                 
                
                <li class="app-subnav__list-item  app-subnav__list-item--selected">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="ecf-payment-breakdown?scheme={{data.scheme}}">
                    
                      Your statements
                      <span class="govuk-visually-hidden">Current page</span>
                </a></li>
                <li class="app-subnav__list-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" aria-current="page" href="index">
                    
                  Contract overview
                
                </a></li>
                <li class="app-subnav__list-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="participant-information">
                    
                    Trainee details
                      <span class="govuk-visually-hidden">Current page</span>
                </a></li>
                <li class="app-subnav__list-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="ecf-delivery-partner-breakdown">
                    
                    Delivery partners
                      <span class="govuk-visually-hidden">Current page</span>
                </a></li>
                <li class="app-subnav__list-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="support">
                    
                Help
                      <span class="govuk-visually-hidden">Current page</span>
                </a></li>
                
                  </ul>
                </nav>
             {%else%}
             <nav class="app-subnav " aria-label="Sub navigation">
              <ul class="app-subnav__list">
             
            
            <li class="app-subnav__list-item  app-subnav__list-item--selected">
              <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="ecf-payment-breakdown?scheme={{data.scheme}}">
                
                  Your statements
                  <span class="govuk-visually-hidden">Current page</span>
            </a></li>
        
            <li class="app-subnav__list-item ">
              <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="participant-information">
                
                Trainee details
                  <span class="govuk-visually-hidden">Current page</span>
            </a></li>
       
            
              </ul>
            </nav>
             {%endif%}



               
      
    

                <h2 class="govuk-heading-l">
             Your statements

                </h2>
        
                <div class="govuk-grid-row">
                  <form  method="get" novalidate="" autocomplete="off" action="" >   
          

        <div  class="govuk-grid-column-one-third">
           
                
          
          <div class="autocomplete-wrapper">
            <label class="govuk-label" for="date">View a different statement</label>
            <!-- <duet-date-picker identifier="date">

              
            </duet-date-picker> -->
            
          

            <select class="govuk-select autocomplete-element" id="statement" name="statementPeriod">


              <option value="" ></option>
             
              <option value="April 2022">April 2022</option>
              <option value="March 2022">March 2022</option>
              <option value="February 2022">February 2022</option>
              <option value="January 2022" >January 2022</option>
              
           </select>
        
  
  </div>
  

</div>

        <button  type="submit" style=" margin-top:30px; display:inline-block" class="govuk-button govuk-button--secondary govuk-!-margin-left-2" data-module="govuk-button">
          View
        </button>
                  </form>
</div>


            <div class="vaccinations  " itemtype="https://schema.org/SpecialAnnouncement" itemprop="SpecialAnnouncement" itemscope="">
            
                <div style="width:auto" class="topic ">
                  <strong itemprop="name" class="govuk-caption-l ">    {% if data.statementPeriod %}  {{data.statementPeriod}}{%else%} March 2022 {%endif%}

                  </strong>
                  <h4 class="govuk-heading-l title-mobile govuk-!-margin-bottom-2 ">Total £5,329,923.84</h4>
                    <p class=" govuk-body-s  govuk-!-margin-bottom-2">Service fee             <span style="float:right" >£975,103.20</span></p> 
                    <p class=" govuk-body-s title-mobile govuk-!-margin-bottom-2">VAT <span style="float:right" >£880,320.64</span></p>
                    <p class=" govuk-body-s title-mobile govuk-!-margin-bottom-2">Output payments <span style="float:right" >£3,426,500.00</span></p>
                    <p class=" govuk-body-s title-mobile govuk-!-margin-bottom-2">Adjustments<span style="float:right" >£48,000.00</span> </p>
                      
                    <a href="" class="govuk-link govuk-link--no-visited-state ext-link">
                      <strong>Download </strong>
                      </a>
                            <div class="additional-info bottom-aligned">
                              
                              
                               
                             
                                  <!-- <div class="govuk-checkboxes " data-module="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                      <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                                      <label class="govuk-label govuk-checkboxes__label" for="waste">
                                    Mark as payable
                                      </label>
                                    </div>
                                    </div>
                                    <br>
                                    <button class="govuk-button" id="send">Confirm and send</button> -->
                                  </div>
                                </div>

                  

                <ul class="first govuk-list">
                  <li itemprop="Observation" itemtype="https://schema.org/Observation" itemscope="">
                    <strong class="govuk-body-s float govuk-!-margin-bottom-0"> Status of declarations </strong> 
                    <br>
                    <div class="number-group">
                        <div class="number-container govuk-!-padding-right-4">
                            <div class="float tooltip">
                                <div class="float govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
                               
                             
                                  <strong class="govuk-tag govuk-tag--green">
                                    READY TO BE PAID
                                  </strong>
                         
                                
                             
              
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            
                    <!-- <li itemprop="Observation" itemtype="https://schema.org/Observation" itemscope="">
                       <strong class="govuk-body-s float govuk-!-margin-bottom-0">
                        Current ECTs</strong> <br>
                        <div class="number-group">
                            <div class="number-container govuk-!-padding-right-4">
                                <div class="float tooltip">
                                    <div class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
                                        <span class="">1500</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li> -->
                </ul>
                <!-- <ul class="second govuk-list">
                  <li itemprop="Observation" itemtype="https://schema.org/Observation" itemscope="">
                    <strong class="govuk-body-s float govuk-!-margin-bottom-0">Contract number</strong>
                     <div class="number-group">
                         <div class="number-container govuk-!-padding-right-4">
                             <div class="float tooltip">
                                 <div class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
                                     <span class="">	ABC123 </span></div>
                             </div>
                         </div>
                     </div>
                 </li>
                    <li itemprop="Observation" itemtype="https://schema.org/Observation" itemscope="">
                        <strong class="govuk-body-s float govuk-!-margin-bottom-0">Current mentors</strong>
                        <div class="number-group">
                            <div class="number-container govuk-!-padding-right-4">
                                <div class="float tooltip">
                                    <div class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
                                        <span class="">500</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul> -->
                <ul class="booster govuk-list">
                  <li itemprop="Observation" itemtype="https://schema.org/Observation" itemscope="">
                    <strong class="govuk-body-s float govuk-!-margin-bottom-0">Milestone cut off date</strong>
                    <br>
                     <div class="number-group">
                         <div class="number-container govuk-!-padding-right-4">
                             <div class="float tooltip">
                                 <div class="float govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
                                     <span class="">30 November 2021</span></div>
                             </div>
                         </div>
                     </div>
                 </li>
                  <!-- <li itemprop="Observation" itemtype="https://schema.org/Observation" itemscope="">
                    <strong class="govuk-body-s float govuk-!-margin-bottom-0">Recruitment target</strong>
                     <div class="number-group">
                         <div class="number-container govuk-!-padding-right-4">
                             <div class="float tooltip">
                                 <div class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
                                     <span class="">	4500 </span></div>
                             </div>
                         </div>
                     </div>
                 </li> -->
                    <!-- <li itemprop="Observation" itemtype="https://schema.org/Observation" itemscope="">
                        <strong class="govuk-body-s float govuk-!-margin-bottom-0">  <p class="govuk-!-margin-bottom-0 govuk-!-margin-top-0 govuk-!-font-size-16">
                              
                    
                          </p></strong> 
                        <div class="number-group">
                            <div class="number-container govuk-!-padding-right-4">
                                <div class="float tooltip">
                                    <div class="float govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
                                        <span class="">  <a href="" class="govuk-link  ">
                                       Download
                                          </a></span></div>
                                </div>
                            </div>
                        </div>
                    </li> -->

               
                </ul>
 
            </div>   
      
            <br>
                                    </div>
       

<div class="govuk-grid-column-full ">
  
  
            <div style="border-bottom:none; border-top:none" class="vaccinations  " itemtype="https://schema.org/SpecialAnnouncement" itemprop="SpecialAnnouncement" itemscope="">
         

                <div class="govuk-grid-column-full ">
                  <h2 class="govuk-heading-m">Output payments  
                   
                  </h2>
               
                  <table class="govuk-table ">
              
   
                   
             
                    <thead class="govuk-table__head">
                  
                      <tr  class="govuk-table__row">
                       
                  
                        <th   scope="col"  class="govuk-table__header">Outputs</th>
                  
                        <th    scope="col" class="govuk-table__header govuk-table__header--numeric">Band A </th>
                        <th   scope="col" class="govuk-table__header govuk-table__header--numeric">Band B </th>
                        <th   scope="col" class="govuk-table__header govuk-table__header--numeric">Band C </th>
                        <th   scope="col" class="govuk-table__header govuk-table__header--numeric">Band D </th>
                        <th   scope="col" class="govuk-table__header govuk-table__header--numeric">Payments</th>
                      </tr>
                     
                    </thead>
                  
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td  style="border-bottom: none;" scope="row" class="govuk-table__cell"> <strong>Starts</strong>
                        </td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">2000 </td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">2000</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">2000</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">500</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric"></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td   scope="row" class="govuk-table__cell">Payment per trainee</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £119.40</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £117.48</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £115.92</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £115.92</td>
                        <th   class="govuk-table__cell govuk-table__cell--numeric">£763,560.00</th>
                   
                       </tr>
                       <tr class="govuk-table__row">
                        <td  style="border-bottom: none;" scope="row" class="govuk-table__cell"><strong>Retained 1</strong></td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">2000 </td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">2000</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">500</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric"></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td   scope="row" class="govuk-table__cell">Payment per trainee</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £110.40</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £112.48</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £100.92</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £95.92</td>
                        <th   class="govuk-table__cell govuk-table__cell--numeric">£496,220.00</th>
                   
                       </tr>
                       <tr class="govuk-table__row">
                        <td  style="border-bottom: none;" scope="row" class="govuk-table__cell"><strong>Retained 2</strong> </td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">2000 </td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">2000</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">500</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric"></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td   scope="row" class="govuk-table__cell">Payment per trainee</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £110.40</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £112.48</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £100.92</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £95.92</td>
                        <th   class="govuk-table__cell govuk-table__cell--numeric">£496,220.00</th>
                   
                       </tr>
                       <tr class="govuk-table__row">
                        <td  style="border-bottom: none;" scope="row" class="govuk-table__cell"><strong>Retained 3</strong></td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">2000 </td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">2000</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">500</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric"></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td   scope="row" class="govuk-table__cell">Payment per trainee</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £110.40</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £112.48</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £100.92</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £95.92</td>
                        <th   class="govuk-table__cell govuk-table__cell--numeric">£496,220.00</th>
                   
                       </tr>
                       <tr class="govuk-table__row">
                        <td  style="border-bottom: none;" scope="row" class="govuk-table__cell"><strong>Retained 4</strong></td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">2000 </td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">2000</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">500</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric"></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td   scope="row" class="govuk-table__cell">Payment per trainee</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £110.40</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £112.48</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £100.92</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £95.92</td>
                        <th   class="govuk-table__cell govuk-table__cell--numeric">£496,220.00</th>
                   
                       </tr>
                       <tr class="govuk-table__row">
                        <td  style="border-bottom: none;" scope="row" class="govuk-table__cell"><strong>Completed </strong></td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">2000 </td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">2000</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">2000</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">500</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric"></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td   scope="row" class="govuk-table__cell">Payment per trainee</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £105.40</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £104.48</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £103.92</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £100.92</td>
                        <th   class="govuk-table__cell govuk-table__cell--numeric">£678,060.00</th>
                   
                       </tr>
                       
                    </tbody>
                  </table>
               
               
               
                  <div style="float: right;" class="govuk-table__row">     
                    <div class=" govuk-heading-s govuk-table__header--numeric">Output payment total <br>£3,426,500.00</div> 
                  
</div>     

             </div>
          
                 </div>    
               

                      <br>
               
              </div>     
                  
    
            </div>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full" >
              <div style="border-bottom:none; border-top:none" class="vaccinations " itemtype="https://schema.org/SpecialAnnouncement" itemprop="SpecialAnnouncement" itemscope="">
 
                <div class="govuk-grid-column-full ">
             
                  <h2 class="govuk-heading-m">Adjustments
                   
                  </h2>
                  <table class="govuk-table ">
              
  
                    <thead class="govuk-table__head">
                  
                      <tr  class="govuk-table__row">

                  
                        <th    scope="col" class="govuk-table__header ">Adjustment type </th>
                        <th   scope="col" class="govuk-table__header ">Band</th>
                        <th   scope="col" class="govuk-table__header "> Number of trainees </th>
                        <th   scope="col" class="govuk-table__header ">Fee per trainee </th>
           
                        <th   scope="col" class="govuk-table__header govuk-table__header--numeric">Payments</th>
                      </tr>
                     
                    </thead>
                  
                    <tbody class="govuk-table__body">
                   
                      <tr class="govuk-table__row">
                        <td   scope="row" class="govuk-table__cell"> Claimed back - starts
                        </td>
                        <td  class="govuk-table__cell ">B</td>
                        <td   class="govuk-table__cell" >100</td>
                        <td   class="govuk-table__cell ">        £90.00</td>
            
                        <td   class="govuk-table__cell govuk-table__cell--numeric">-£9,000.00</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td   scope="row" class="govuk-table__cell"> Claimed back - retained 1
                        </td>
                        <td  class="govuk-table__cell ">C</td>
                        <td   class="govuk-table__cell ">100</td>
                        <td   class="govuk-table__cell ">         £80.00</td>
            
                        <td   class="govuk-table__cell govuk-table__cell--numeric">-£8,000.00</td>
                      </tr>
                  
                 
                      <tr class="govuk-table__row">
                        <td   scope="row" class="govuk-table__cell">Claimed back - retained 2
                        </td>
                        <td  class="govuk-table__cell ">A</td>
                        <td   class="govuk-table__cell ">100</td>
                        <td   class="govuk-table__cell ">        £100.00</td>
            
                        <td   class="govuk-table__cell govuk-table__cell--numeric">-£10,000.00</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td   scope="row" class="govuk-table__cell"> Claimed back - retained 3
                        </td>
                        <td  class="govuk-table__cell ">B</td>
                        <td   class="govuk-table__cell ">100</td>
                        <td   class="govuk-table__cell ">        £90.00</td>
            
                        <td   class="govuk-table__cell govuk-table__cell--numeric">-£9,000.00</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td   scope="row" class="govuk-table__cell"> Claimed back - retained 4
                        </td>
                        <td  class="govuk-table__cell ">C</td>
                        <td   class="govuk-table__cell ">100</td>
                        <td   class="govuk-table__cell ">         £80.00</td>
            
                        <td   class="govuk-table__cell govuk-table__cell--numeric">-£8,000.00</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td   scope="row" class="govuk-table__cell"> Claimed back - completed
                        </td>
                        <td  class="govuk-table__cell ">C</td>
                        <td   class="govuk-table__cell ">100</td>
                        <td   class="govuk-table__cell ">        £80.00</td>
            
                        <td   class="govuk-table__cell govuk-table__cell--numeric">-£8,000.00</td>
                      </tr>
                    
                      <tr class="govuk-table__row">
                        
                        <td   scope="row" class="govuk-table__cell"> Uplift fee
                        <td   scope="row" class="govuk-table__cell">Not applicable</td>
                        <td   class="govuk-table__cell ">100 </td>
                        <td   scope="row" class="govuk-table__cell "> 
                          £100.00
                        </td>
                        <td  class="govuk-table__cell govuk-table__cell--numeric">£100,000.00</td>
                      </tr>
                 
                      
                       
                    </tbody>
                  </table>
                  <!-- <table class="govuk-table ">
              
   
                   
             
                    <thead class="govuk-table__head">
                  
                      <tr  class="govuk-table__row">
                       
                  
                        <th   scope="col"  class="govuk-table__header">Adjustment type</th>
                  
                        <th    scope="col" class="govuk-table__header ">Number of trainees </th>
                                    
                        <th    scope="col" class="govuk-table__header ">Fee per trainee </th>
                        <th   scope="col" class="govuk-table__header ">Payments</th>
                      </tr>
                     
                    </thead>
                  
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td   scope="row" class="govuk-table__cell"> Refunds
                        </td>
                       
                        <td  class="govuk-table__cell ">1000 </td>
                        <td   scope="row" class="govuk-table__cell"> 
                          -£100.00
                        </td>
                  
                        <td  class="govuk-table__cell">-£100,000.00</td>
                      </tr>
                   
                       <tr class="govuk-table__row">
                        <td   scope="row" class="govuk-table__cell">Uplift fee</td>
                        <td   class="govuk-table__cell ">1000 </td>
                        <td   scope="row" class="govuk-table__cell"> 
                          £100.00
                        </td>
                        <td  class="govuk-table__cell">£100,000.00</td>
                      </tr>
                    
               
                       
                    </tbody>
                  </table> -->
               
                 <div style="float: right;" class="govuk-table__row">     
    <div class=" govuk-heading-s govuk-table__header--numeric">Adjustments total <br> £48,000.00</div> 
  
</div>     

             </div>
                 </div>    
                </div>

       </div>  

       <br> 
       <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
             Contract information
          </span>
        </summary>
        <div class="govuk-details__text">
         
 <dl class="govuk-summary-list">
   <div class="govuk-summary-list__row">
     <dt class="govuk-summary-list__key">
       Recruitment target
     </dt>
     <dd class="govuk-summary-list__value">
       4500
     </dd>
   </div>
     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         Revised recruitment target (+2%)
       </dt>
       <dd class="govuk-summary-list__value">
         4590
       </dd>
     </div>
   <div class="govuk-summary-list__row">
     <dt class="govuk-summary-list__key">
       Uplift target
     </dt>
     <dd class="govuk-summary-list__value">
       33%
     </dd>
   </div>
   <div class="govuk-summary-list__row">
     <dt class="govuk-summary-list__key">
       Uplift amount
     </dt>
     <dd class="govuk-summary-list__value">
       £100.00
     </dd>
   </div>
   <div class="govuk-summary-list__row">
     <dt class="govuk-summary-list__key">
       Set-up Fee
     </dt>
     <dd class="govuk-summary-list__value">
       £149,861.00
     </dd>
   </div>
 </dl>
 
 <table class="govuk-table">
   <thead class="govuk-table__head">
   <tr class="govuk-table__row">
     <th class="govuk-table__header">Band</th>
     <th class="govuk-table__header govuk-table__cell--numeric">Min</th>
     <th class="govuk-table__header govuk-table__cell--numeric">Max</th>
     <th class="govuk-table__header govuk-table__cell--numeric">Payment amount per participant</th>
   </tr>
   </thead>
   <tbody class="govuk-table__body">
   <tr class="govuk-table__row">
   <td class="govuk-table__cell">Band A</td>
   <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
   <td class="govuk-table__cell govuk-table__cell--numeric">2000</td>
   <td class="govuk-table__cell govuk-table__cell--numeric">£995.00</td>
 </tr>
 <tr class="govuk-table__row">
   <td class="govuk-table__cell">Band B</td>
   <td class="govuk-table__cell govuk-table__cell--numeric">2001</td>
   <td class="govuk-table__cell govuk-table__cell--numeric">4000</td>
   <td class="govuk-table__cell govuk-table__cell--numeric">£979.00</td>
 </tr>
 <tr class="govuk-table__row">
   <td class="govuk-table__cell">Band C</td>
   <td class="govuk-table__cell govuk-table__cell--numeric">4001</td>
   <td class="govuk-table__cell govuk-table__cell--numeric">4500</td>
   <td class="govuk-table__cell govuk-table__cell--numeric">£966.00</td>
 </tr>
 <tr class="govuk-table__row">
   <td class="govuk-table__cell">New target</td>
   <td class="govuk-table__cell govuk-table__cell--numeric">4501</td>
   <td class="govuk-table__cell govuk-table__cell--numeric">4590</td>
   <td class="govuk-table__cell govuk-table__cell--numeric">£966.00</td>
 </tr>
 
   </tbody>
 </table>
 
        </div>
      </details>
            <script>
            $(function() {
  $('#date').addClass('govuk-input');
});
           </script>
            <script src="/public/javascripts/date-picker.js"></script>
            <script type="module" src="https://cdn.jsdelivr.net/npm/@duetds/date-picker@1.4.0/dist/duet/duet.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/@duetds/date-picker@1.4.0/dist/duet/duet.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@duetds/date-picker@1.4.0/dist/duet/themes/default.css" />
<script>
  $( "#mybtn2" ).click(function() {
  $( "#notification" ).removeClass('govuk-visually-hidden');
});
 $( ".inner" ).before( "<p>Test</p>" );
  const picker = document.querySelector("duet-date-picker")
  const DATE_FORMAT_US = /^(\d{1,2})\/(\d{1,2})\/(\d{4})$/

  picker.dateAdapter = {
    parse(value = "", createDate) {
      const matches = value.match(DATE_FORMAT_US)

      if (matches) {
        return createDate(matches[3], matches[1], matches[2])
      }
    },
    format(date) {
      return `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()}`
    },
  }

  picker.localization = {
    buttonLabel: "Choose date",
    placeholder: "",
    selectedDateMessage: "Selected date is",
    prevMonthLabel: "Previous month",
    nextMonthLabel: "Next month",
    monthSelectLabel: "Month",
    yearSelectLabel: "Year",
    closeLabel: "Close window",
    calendarHeading: "Choose a date",
    dayNames: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
    monthNames: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
    monthNamesShort: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
    locale: "en-UK",

  }
</script>
<script>



function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.innerHTML === "Hello") {
    x.innerHTML = "Swapped text!";
  } else {
    x.innerHTML = "Hello";
  }
}



// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

// // Get the modal
// var sendmodal = document.getElementById("sendmodal");

// // Get the button that opens the modal
// var sendbtn = document.getElementById("send");

// // Get the <span> element that closes the modal
// var sendspan = document.getElementsByClassName("close2")[0];

// // When the user clicks on the button, open the modal
// sendbtn.onclick = function() {
//   sendmodal.style.display = "block";
// }

// // When the user clicks on <span> (x), close the modal
// sendspan.onclick = function() {
//   sendmodal.style.display = "none";
// }

// // When the user clicks anywhere outside of the modal, close it
// window.onclick = function(event) {
//   if (event.target == sendmodal) {
//     sendmodal.style.display = "none";
//   }
// }

</script>
{% endblock %}
