{% extends "layout-full-width-providers.html" %}
{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Change trainee scheme",
  href: "scheme"
  }) }}

{% endblock %}
{% block content %}

        <div class="govuk-grid-row">
           
            <div class="govuk-grid-column-full ">
              
                  
        <h1 class="govuk-heading-xl " style="margin-top: 0;"  id="company-Name">{{data.scheme}}</h1> 
              {%if data.scheme === "Early Career Framework (ECF)" %}
              <nav class="app-subnav " aria-label="Sub navigation">
                <ul class="app-subnav__list">
            
            
            <li class="app-subnav__list-item  ">
              <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="ecf-payment-breakdown?scheme={{data.scheme}}">
                
                  Your statements
                  <span class="govuk-visually-hidden">Current page</span>
            </a></li>
            <li class="app-subnav__list-item ">
              <a class="govuk-link app-subnav__link govuk-link--no-visited-state" aria-current="page" href="index">
                
    Contract overview
            
            </a></li>
            <li class="app-subnav__list-item ">
              <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="participant-information">
                
                Trainee details
                  <span class="govuk-visually-hidden">Current page</span>
            </a></li>

            <li class="app-subnav__list-item ">
              <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="ecf-delivery-partner-breakdown">
                
                Delivery partners
                  <span class="govuk-visually-hidden">Current page</span>
            </a></li>
            <li class="app-subnav__list-item app-subnav__list-item--selected">
              <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="">
                
            Help
                  <span class="govuk-visually-hidden">Current page</span>
            </a></li>
       
            
              </ul>
              </nav>
                {% elif data.scheme === "National professional qualifications (NPQ)" %}
                <nav class="app-subnav " aria-label="Sub navigation">
                  <ul class="app-subnav__list">
                   
              
              <li class="app-subnav__list-item  ">
                <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="npq-payment-breakdown?scheme={{data.scheme}}">
                  
                    Your statements
                    <span class="govuk-visually-hidden">Current page</span>
              </a></li>
              <li class="app-subnav__list-item ">
                <a class="govuk-link app-subnav__link govuk-link--no-visited-state" aria-current="page" href="index">
                  
                Contract overview 
              
              </a></li>
              <li class="app-subnav__list-item ">
                <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="participant-information">
                  
                  Trainee details
                    <span class="govuk-visually-hidden">Current page</span>
              </a></li>
              <li class="app-subnav__list-item app-subnav__list-item--selected">
                <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="">
                  
              Help 
                    <span class="govuk-visually-hidden">Current page</span>
              </a></li>
              
                </ul>
                </nav>
                {%endif%}
                {%if data.requestSubmitted === "true"%}
                <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                  <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                      Success
                    </h2>
                  </div>
                  <div class="govuk-notification-banner__content">
                    <h3 class="govuk-notification-banner__heading">
                      Your request has been submitted
                    </h3>
                    <p class="govuk-body">You can check the progress here</p>
                  </div>
                </div>
                {%else%}

                {%endif%}
                <h2 class="govuk-heading-l">Help using this service
             

                </h2>
<div>
                <span style="text-decoration: none; display:inline-block; color:#1d70b8" class="govuk-link govuk-heading-m">+</span> <a style="display:inline-block" href="request" class="govuk-link govuk-heading-m">
        Report a problem
                    </a>
                  </div>
                <div class="govuk-grid-column-one-quarter govuk-!-padding-left-0">
                  <div class="moj-filter-layout__filter app-filter" tabindex="-1">
                    <div class="moj-filter">
                      <div class="moj-filter__header">
                        <div class="moj-filter__header-title">
                          <h2 class="govuk-heading-m">Filter</h2>
                        </div>
                        <div class="moj-filter__header-action">
                        </div>
                      </div>
                  
                      <div class="moj-filter__content" tabindex="-1">
                        {%if data.remove === "true" %}
                        {%else%}
                        <div class="moj-filter__selected ">
                          <div class="moj-filter__selected-heading">
                            <div class="moj-filter__heading-title">
                              <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Selected filters</h3>
                              <p class="govuk-body">
                                <a class="govuk-link govuk-link--no-visited-state" href="?remove=true">Clear filters</a>
                              </p>
                            </div>
                          </div>
              
                            <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Cohort</h4>
                            <ul class="moj-filter-tags">
                                <li>
                                  <a class="app-checkbox-filter__tag" id="tag-head" href="?q=&amp;remove=true">
                                    <span class="govuk-visually-hidden">Remove this filter</span>
                                    January 2021  <span style="float:right">X</span> 
              </a>                  </li>
              <li>
                <a class="app-checkbox-filter__tag" id="tag-head" href="?q=&amp;remove=true">
                  <span class="govuk-visually-hidden">Remove this filter</span>
                  April 2021  <span style="float:right">X</span> 
</a>                  </li>
<li>
  <a class="app-checkbox-filter__tag" id="tag-head" href="?q=&amp;remove=true">
    <span class="govuk-visually-hidden">Remove this filter</span>
    September 2021  <span style="float:right">X</span> 
</a>                  </li>
                            </ul>
                        </div>
                        {%endif%}
                        <div class="moj-filter__options">
                          <form method="get">
                            
                            <input id="searchbtn" type="button" name="commit" value="Apply filters" class="govuk-button" data-disable-with="Apply filters">
                  
                            
                              <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                  <legend id="filter-legend-q" class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                    Search
                                  </legend>
                                  <span class="govuk-hint" id="query-hint"> Search by ID or date</span>
                                    <input class="govuk-input " id="search" name="q" type="text" value="" aria-labelledby="filter-legend-q" autocomplete="off">
                                </fieldset>
                              </div>

                              <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Status</legend>
                                  <div class="govuk-checkboxes gem-c-checkboxes__list govuk-checkboxes--small" data-module="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                      <input class="govuk-checkboxes__input" id="jan" name="cohort" type="checkbox" value="January 2021">
                                      <label class="govuk-label govuk-checkboxes__label" for="jan">In progress</label>
                                    </div>
                                    <div class="govuk-checkboxes__item">
                                      <input class="govuk-checkboxes__input" id="apr" name="cohort" type="checkbox" value="April 2021">
                                      <label class="govuk-label govuk-checkboxes__label" for="apr">Resolved</label></div>
                                    <div class="govuk-checkboxes__item">
                                      <input class="govuk-checkboxes__input" id="sep" name="cohort" type="checkbox" value="September 2021">
                                      <label class="govuk-label govuk-checkboxes__label" for="sep">Something else</label>
                                    </div>
                               
                                  </div>
                              
                                </fieldset>
                              </div>
                              
           
         
         
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
           
                
                  </div>
             

<div class="govuk-grid-column-three-quarters">

 
                  
 
  
  
  <div id="js-search-results-info" data-module="remove-filter" class="result-info">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="result-info__header">
          <h2 class="gem-c-heading govuk-heading-s govuk-!-padding-top-2 " id="js-result-count">{{data.pinfo.length}} problems</h2>
        </div>
      </div>
  
   
    </div>
  
  </div>
  <table id="table" class="govuk-table govuk-summary-list"  style="">
    <thead >  
      <th scope="col" class="govuk-table__header"> 
  
  Request ID
   </th>
   <th scope="col" class="govuk-table__header"> 
  Date
   </th>
   <th scope="col" class="govuk-table__header"> 
  
    Status
   </th>
   <th scope="col" class="govuk-table__header"> 
  
    Description
   </th>

  </thead>

  {%if data.requestSubmitted === "true"%}
  <tr id="row" class="govuk-table__row">
    <td  scope="col" class="govuk-table__cell"> 
      418436ba-6c12-46bf-892e-e90659434759
    </td>


  <td scope="col" class="govuk-table__cell"> 

    <span class="">29/02/2022 </span>
  </td>

  <td  scope="col" class="govuk-table__cell schedule" rel="{{item.s}}"> 

    <span class=""> In progress </span>
  </td>

  <td scope="col" class="govuk-table__cell lp" rel="{{item.lp}}"> 

    <span class=""> {{data["more-detail"]}}</span>
  </td>

  
</tr>
{%else%}
{%endif%}
                  {% for item in data.pinfo %}
                  <tbody id="shelulerData">
                
             <tr id="row" class="govuk-table__row">
                    <td  scope="col" class="govuk-table__cell"> 
                      {{item.id}}
                    </td>
                
             
                  <td scope="col" class="govuk-table__cell"> 
           
                    <span class="">{{item.trn}} </span>
                  </td>
             
                  <td  scope="col" class="govuk-table__cell schedule" rel="{{item.s}}"> 
       
                    <span class=""> In progress </span>
                  </td>
               
                  <td scope="col" class="govuk-table__cell lp" rel="{{item.lp}}"> 
       
                    <span class=""> Something broke help me! </span>
                  </td>
        
                  
                </tr>

                {% endfor %}
          
  
            </tbody>
        </table>
  
  <div class="hods-pagination">
    <div class="hods-pagination__summary">
      Showing 51 - 75 of 249 results
    </div>
    <ul style="padding-left:0px;" class="">
      <li class="hods-pagination__item" id="prevButton">
        <a class="hods-pagination__link" href="?page=2">
          <span aria-hidden="true" role="presentation">
            «
          </span>
          Previous
        </a>
      </li>
      <li class="hods-pagination__item">
        <a class="hods-pagination__link" href="?page=1">
          1
        </a>
      </li>
      <li class="hods-pagination__item">
        <a class="hods-pagination__link" href="?page=2">
          2
        </a>
      </li>
      <li class="hods-pagination__item">
        <a
          class="
            hods-pagination__link
            hods-pagination__link--current
          "
          href=""
        >
          3
        </a>
      </li>
      <li class="hods-pagination__item">
        <a class="hods-pagination__link" href="?page=4">
          4
        </a>
      </li>
      <li class="hods-pagination__item">
        <a class="hods-pagination__link" href="?page=5">
          5
        </a>
      </li>
      <li class="hods-pagination__item" id="nextButton">
        <a class="hods-pagination__link" href="?page=4">
          Next
          <span aria-hidden="true" role="presentation">
            »
          </span>
        </a>
      </li>
    </ul>
  </div>
  
  
                      </div>

                   </div>
       


            
            </div>

            
            <script>

              $("#searchbtn").click(function() {
              
                $.each($("#table tbody tr"), function() {
              
              if($(this).text().toLowerCase().indexOf($('#search').val().toLowerCase()) === -1){
                  $(this).hide();
                            
              
              } 
            

          
              
                })
                var showAll = true;
  $('tr').not(':first').hide();

  $('input:checkbox:checked').each(function() {
    showAll = false;
    var status = $(this).attr('rel');
    var value = $(this).val();
    $('td.' + 'schedule' + '[rel="' + value + '"]').parent('tr').show();
    $('td.' + 'schedule' + '[rel="' + value + '"]').parent().siblings('tr').show();
    $('td.' + 'cohort' + '[rel="' + value + '"]').parent('tr').show();
    $('td.' + 'cohort' + '[rel="' + value + '"]').parent().siblings('tr').show();
    $('td.' + 'lp' + '[rel="' + value + '"]').parent('tr').show();
    $('td.' + 'lp' + '[rel="' + value + '"]').parent().siblings('tr').show();
  
  });
  if (showAll) {
    $('tr').show();
  }
;
              });
              
              
              
                        </script>

{% endblock %}

