{% set apprenticeships = [{
	value: "274",
	name: "Bredbury St. Marks CofE Primary School",
	level: 2,
	standard: true
},
{
	value: "34",
	name: "St Andrew's Church of England Voluntary Controlled Primary School, Marks Tey",
	level: 2,
	standard: true
},
{
	value: "272",
	name: "Antrobus St Mark's CofE Primary School",
	level: 7,
	standard: true
},
{
	value: "176",
	name: "Barnet St Mark's CofE Primary School",
	level: 3,
	standard: true
},
{
	value: "204",
	name: "The Holbeach St Mark's Church of England Primary School",
	level: 7,
	standard: true
},
{
	value: "454-20-1",
	name: "Scarisbrick St Mark's Church of England Primary School",
	level: 4
},
{
	value: "454-29-9",
	name: "Danesholme Infant Academy, Motala Close, Corby, Northamptonshire",
	level: 4
},
{
	value: "474-29-9",
	name: "Daneshold Infant Academy, Northampton",
	level: 4
},
{
	value: "454-3-1",
	name: "St Andrew's and St Mark's CofE Junior School",
	level: 2
},
{
	value: "St Mark's Catholic Primary School",
	name: "",
	level: 3
},
{
	value: "460-3-3",
	name: "St Mark's Catholic Secondary School",
	level: 2
},
{
	value: "460-3-2",
	name: "St Mark's Catholic Academy",
	level: 2
},

{
	value: "460-3-1",
	name: "Ashford, St Mary's Church of England Primary School",
	level: 2
},
{
	value: "17",
	name: "Astbury St Mary's CofE Primary School
",
	level: 4,
	standard: true
},

{
	value: "119",
	name: "Aston St Mary's Church of England Aided Primary School",
	level: 2,
	standard: true
},
{
	value: "271",
	name: "Beaminster St Mary's Academy",
	level: 3,
	standard: true
},
{
	value: "152",
	name: "Benhall St Mary's Church of England Voluntary Controlled Primary School",
	level: 3,
	standard: true
},

{
	value: "211",
	name: "Canning Street Primary School, Wellfield Road, Newcastle-upon-Tyne, Tyne and Wear, NE4 8PA",
	level: 2,
	standard: true
},
{
	value: "212",
	name: "Poplar Street Primary School, Ravenwood Drive, Audenshaw, Manchester, M34 5EF",
	level: 3,
	standard: true
},
{
	value: "213",
	name: "Haven High Academy, Marian Road, Boston, Lincolnshire, PE21 9HB",
	level: 3,
	standard: true
},
{
	value: "213",
	name: "St George's CofE Primary School, Corunna Road, Battersea, London, SW8 4JS",
	level: 3,
	standard: true
},


{
	value: "447-2-1",
	name: "Berwick St Mary's Church of England First School",
	level: 3
}]
%}