{% set apprenticeships = [{
	value: "274",
	name: "Bredbury St. Marks CofE Primary School",
	level: 2,
	standard: true
},
{
	value: "34",
	name: "St Andrew's Church of England Voluntary Controlled Primary School, Marks Tey",
	level: 2,
	standard: true
},
{
	value: "272",
	name: "Antrobus St Mark's CofE Primary School",
	level: 7,
	standard: true
},
{
	value: "176",
	name: "Antrobus St Mark's CofE Primary School",
	level: 3,
	standard: true
},
{
	value: "204",
	name: "The Holbeach St Mark's Church of England Primary School",
	level: 7,
	standard: true
},
{
	value: "454-20-1",
	name: "Scarisbrick St Mark's Church of England Primary School",
	level: 4
},
{
	value: "454-3-1",
	name: "St Andrew's and St Mark's CofE Junior School",
	level: 2
},
{
	value: "St Mark's Catholic Primary School",
	name: "",
	level: 3
},
{
	value: "460-3-3",
	name: "St Mark's Catholic Primary School",
	level: 2
},
{
	value: "460-3-2",
	name: "St Mark's Catholic Primary School",
	level: 2
},
{
	value: "460-3-4",
	name: "St Mark's Catholic Primary School",
	level: 2
},
{
	value: "460-3-1",
	name: "Ashford, St Mary's Church of England Primary School",
	level: 2
},
{
	value: "17",
	name: "Astbury St Mary's CofE Primary School
",
	level: 4,
	standard: true
},
{
	value: "255",
	name: "Astbury St Mary's CofE Primary School",
	level: 7,
	standard: true
},
{
	value: "119",
	name: "Aston St Mary's Church of England Aided Primary School",
	level: 2,
	standard: true
},
{
	value: "271",
	name: "Beaminster St Mary's Academy",
	level: 3,
	standard: true
},
{
	value: "152",
	name: "Benhall St Mary's Church of England Voluntary Controlled Primary School",
	level: 3,
	standard: true
},


{
	value: "447-2-1",
	name: "Berwick St Mary's Church of England First School",
	level: 3
}]
%}