{% set apprenticeships = [{
	value: "274",
	name: "delivery partner 1",
	level: 2,
	standard: true
},
{
	value: "34",
	name: "delivery partner 2",
	level: 2,
	standard: true
},
{
	value: "272",
	name: "delivery partner 3",
	level: 7,
	standard: true
},
{
	value: "176",
	name: "delivery partner 4",
	level: 3,
	standard: true
},
{
	value: "204",
	name: "delivery partner 5",
	level: 7,
	standard: true
},
{
	value: "454-20-1",
	name: "delivery partner 6",
	level: 4
},
{
	value: "454-3-1",
	name: "delivery partner 7",
	level: 2
},
{
	value: "delivery partner 8",
	name: "",
	level: 3
},
{
	value: "460-3-3",
	name: "delivery partner 9",
	level: 2
},
{
	value: "460-3-2",
	name: "delivery partner 10",
	level: 2
},

{
	value: "460-3-1",
	name: "delivery partner 11",
	level: 2
},
{
	value: "17",
	name: "delivery partner 12
",
	level: 4,
	standard: true
},

{
	value: "119",
	name: "delivery partner 13l",
	level: 2,
	standard: true
},
{
	value: "271",
	name: "delivery partner 14",
	level: 3,
	standard: true
},
{
	value: "152",
	name: "delivery partner 15",
	level: 3,
	standard: true
},


{
	value: "447-2-1",
	name: "delivery partner 16",
	level: 3
}]
%}