{% extends "layout.html" %}


{% block beforeContent %}
 {% include "includes/version3/microNav.html" %}
  {% include "includes/version3/microHomeNav.html" %}

{% endblock %}
{% block content %}

<style>

#navigation-primary, #kill-me, .govuk-header__logo,  .govuk-header__link--service-name  {
  display:none ;
}

.govuk-header__content {
  height:45px;
  border-bottom:0;
}

.govuk-header__container {
   border-bottom:none;
}

</style>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
  <div class="govuk-grid-row">
    <div class="" >
      <h1 class="govuk-heading-xl">
       Get teacher professional development
      </h1>
      <p style="width:66%; margin-bottom: 0">Hear from teachers how national professional qualifications have helped them move forwards in their career.</p>



<!--       <div class="xavier" style="margin-top:25px">
<div style="position:absolute; margin:20px 0 0 0px; width:35%; height:75px; background-color:#000"><h2 class="govuk-heading-m" style="margin:10px 0 0 20px; color:#fff">Xavier Edwards, Headmaster of Barnet School </h2>
        <h2 class="govuk-heading-s" style="margin:0 0 5px 20px; margin-bottom:10px; color:#fff">Apprenticeship 1982-1985</h2>
      </div> -->

<!--      <img src="/public/images/xavier.webp" width="100%" height="auto">
 -->   
        <!--   <img class="play-btn" src="https://www.getingofar.gov.uk/img/icons/xplay-btn.png.pagespeed.ic.WsDW9VyeOZ.webp" alt="Play"> -->
      </div>

      <!--   <p style="margin:20px 0 0 0">Xavier is passionate about how NPQs helped him and content here would be about why he is passionate and how it helped him in his career. Emotional and rational reasons for taking an NPQ/ECF. </p> -->

              <div class="slides" style="height:250px; padding:25px">

      <h2 class="govuk-heading-l" style="color:#fff;">Real stories</h2>
      <p style="width:66%">Hear real stories of how teacher professional development helped teachers move up in their career.</p>
          <form action="./microsite/stories"><div class="actions">
      <button type="submit" class="govuk-button" style="margin-bottom:15px">View</button>
      </div></form>
      </div>


      <div class="slides" style="height:250px; padding:25px">

      <h2 class="govuk-heading-l" style="color:#fff;">Find out about teacher professional development</h2>
      <p style="width:66%">Find out more about what an ECF/NPQ is and how they are structured. Also, which different levels of NPQ are available to suit your career.</p>
          <form action="./microsite/guide/business"><div class="actions">
      <button type="submit" class="govuk-button" style="margin-bottom:15px">Get started</button>
      </div></form>
      </div>

              
  

      
    </div>
  </div>
</main>
{% endblock %}


