{% extends "layout-full-width.html" %}
{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Change trainee scheme",
  href: "scheme"
  }) }}
{% endblock %}
{% block content %}




        <div class="govuk-grid-row">
           
            <div class="govuk-grid-column-full ">
              <h1 class="govuk-heading-xl " style="margin-top: 0; "  id="company-Name">{{data.scheme}}</h1>
              <nav class="app-subnav " aria-label="Sub navigation">
                  <ul class="app-subnav__list">
                      <li class="app-subnav__list-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" aria-current="page" href="index">
                    
                  Programme dashboard
                
                </a></li>
                
                <li class="app-subnav__list-item  app-subnav__list-item--selected">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="npq-payment-breakdown">
                    
                      Provider statement
                      <span class="govuk-visually-hidden">Current page</span>
                </a></li>
  
                <li class="app-subnav__list-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="participant-information">
                    
                    Participant information
                      <span class="govuk-visually-hidden">Current page</span>
                </a></li>
                
                
                  </ul>
                </nav>
                <div class="">
                  <div  style="float:right" class="govuk-form-group govuk-radios--small govuk-!-margin-bottom-0 ">
                    <div class="govuk-radios govuk-!-margin-bottom-0 ">
                      <div class="govuk-radios__item"><input class="govuk-radios__input"
                          id="lab-based-testing-and-capacity-by-test-type-0"
                          name="lab-based-testing-and-capacity-by-test-type-option-choices" type="radio" value="PCR tests"
                          checked=""><label class="govuk-label govuk-radios__label "
                          for="lab-based-testing-and-capacity-by-test-type-0">Current payment breakdown</label></div>
                      <div class="govuk-radios__item"><input class="govuk-radios__input"
                          id="lab-based-testing-and-capacity-by-test-type-1"
                          name="lab-based-testing-and-capacity-by-test-type-option-choices" type="radio" value="Antibody tests"><label
                          class="govuk-label govuk-radios__label " for="lab-based-testing-and-capacity-by-test-type-1">Forecast payment breakdown</label></div>
      
                        
                        
                    </div>
                  
                  </div>
                
                  
      </div>
      <h2 class="govuk-heading-l">Provider statement
             

      </h2>
  
  <br>
      <div class="govuk-grid-row">
      <div  class=" govuk-grid-column-one-third govuk-!-margin-right-3">
 
      
        <div class="autocomplete-wrapper">
          <label class="govuk-label" for="sort">
           Select a different provider 
                </label>
          <select class="govuk-select autocomplete-element " id="delveryProvider" name="delveryProvider">


             <option value="" ></option>
              <option value="dec">December 2021</option>
              <option value="nov">November 2021</option>
              <option value="oct" >October 2021</option>
              <option value="sep">September 2021</option>
              <option value="aug"> August 2021</option>
              <option value="jul" >July 2021</option>
              <option value="jun">June 2021</option>
              <option value="may">May 2021</option>
              <option value="apr" >April 2021</option>
              <option value="mar">March 2021</option>
              <option value="feb">February 2021</option>
              <option value="jan" >January 2021</option>
             
          </select>
      

</div>


</div>

<div  class="govuk-grid-column-one-third">
 
      
<div class="autocomplete-wrapper">
  <label class="govuk-label" for="sort">
    View previous payment breakdown
        </label>
  <select class="govuk-select autocomplete-element" id="delveryProvider1" name="delveryProvider1">


     <option value="" ></option>
      <option value="dec">December 2021</option>
      <option value="nov">November 2021</option>
      <option value="oct" >October 2021</option>
      <option value="sep">September 2021</option>
      <option value="aug"> August 2021</option>
      <option value="jul" >July 2021</option>
      <option value="jun">June 2021</option>
      <option value="may">May 2021</option>
      <option value="apr" >April 2021</option>
      <option value="mar">March 2021</option>
      <option value="feb">February 2021</option>
      <option value="jan" >January 2021</option>
     
  </select>


</div>


</div>

<button  style=" margin-top:30px; display:inline-block" class="govuk-button govuk-!-margin-left-2" data-module="govuk-button">
View
</button>
</div>
        
                <!-- <nav class="app-subnav govuk-!-margin-top-6" aria-label="Sub navigation">
                  <ul class="app-subnav__list">
                      <li class="app-subnav__list-item app-subnav__list-item--selected">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" aria-current="page" href="">
                  Provider statement
                 <span class="govuk-visually-hidden">Current page</span>
                </a></li>
                <li class="app-subnav__list-item">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="npq-participant-information">
                    
                  Participants
                </a></li>
                
                
                  </ul>
                </nav> -->
       

           
  
         
           
           
            <div class="vaccinations " itemtype="https://schema.org/SpecialAnnouncement" itemprop="SpecialAnnouncement" itemscope="">

                <div class="topic">
                  <strong itemprop="name" class="govuk-heading-m govuk-!-margin-bottom-0   govuk-!-font-weight-regular">{{data.providerName}}</strong>
                    <h4 class="govuk-heading-l title-mobile govuk-!-margin-bottom-0">Total £1,663,733.30</h4>
                    <p class="grey govuk-!-font-size-16 govuk-!-margin-top-3">
                      
                      <a href="" class="govuk-link govuk-link--no-visited-state ext-link">
                        <strong>Download provider statement (CSV)</strong>
                        </a>
                    </p>
                </div>

                <ul class="first govuk-list">
                  <li itemprop="Observation" itemtype="https://schema.org/Observation" itemscope="">
                    <strong class="govuk-body-s float govuk-!-margin-bottom-0">Milestone cut off date </strong>
                     <div class="number-group">
                         <div class="number-container govuk-!-padding-right-4">
                             <div class="float tooltip">
                                 <div class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
                                     <span class="">28 February 2022</span></div>
                             </div>
                         </div>
                     </div>
                 </li>
                
                </ul>
                <ul class="first govuk-list">
                    <li itemprop="Observation" itemtype="https://schema.org/Observation" itemscope="">
                      <strong class="govuk-body-s float govuk-!-margin-bottom-0">PO number</strong>
                       <div class="number-group">
                           <div class="number-container govuk-!-padding-right-4">
                               <div class="float tooltip">
                                   <div class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
                                       <span class="">001</span></div>
                               </div>
                           </div>
                       </div>
                   </li>
                  
                  </ul>
              
            
        
 
                                
            </div>   
            <br>
                                    </div>
       

<div class="govuk-grid-column-full ">
  <div style="border-bottom:none; border-top:none" class="vaccinations govuk-!-width-two-thirds " itemtype="https://schema.org/SpecialAnnouncement" itemprop="SpecialAnnouncement" itemscope="">
         

    <div class="govuk-grid-column-full ">
      <h2 class="govuk-heading-m  ">Leading Behaviour and Culture
       
      </h2>
      <table class="govuk-table ">
              
 
                   
             
        <thead class="govuk-table__head">
      
          <tr class="govuk-table__row">
           
      
            <th style="border-bottom: 1px solid black;" scope="col" class="govuk-table__header">Payment details</th>
      
            <th style="border-bottom: 1px solid black;" scope="col" class="govuk-table__header govuk-table__header--numeric">Payments </th>
      
     
          </tr>
         
        </thead>
      
        <tbody class="govuk-table__body">
    
          <tr class="govuk-table__row">
            <td style="border-bottom: none;" scope="row" class="govuk-table__cell"> 
              <span class="" >Starts - 1000</span>
            </td>
            
            <td style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric"></td>
     
      
          </tr>
          <tr class="govuk-table__row">
            <td style="border-bottom: 1px solid black;" scope="row" class="govuk-table__cell">Fee per participant -   £119.40</td>
       
            <td style="border-bottom: 1px solid black;" class="govuk-table__cell govuk-table__cell--numeric"> £1000 </td>
    
       
           </tr>
           <tr class="govuk-table__row">
            <td style="border-bottom: none;" scope="row" class="govuk-table__cell"> <span>Retained - 1000</span>
            </td>
            
            <td style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric"></td>
     
      
          </tr>
          <tr class="govuk-table__row">
            <td style="border-bottom: 1px solid black;" scope="row" class="govuk-table__cell">Fee per participant -   £119.40</td>
       
            <td style="border-bottom: 1px solid black;" class="govuk-table__cell govuk-table__cell--numeric"> £1000 </td>
    
       
           </tr>
           <tr class="govuk-table__row">
            <td style="border-bottom: none;" scope="row" class="govuk-table__cell"> <span>Completed - 1000</span>
            </td>
            
            <td style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric"></td>
     
      
          </tr>
          <tr class="govuk-table__row">
            <td style="border-bottom: 1px solid black;" scope="row" class="govuk-table__cell">Fee per participant -   £119.40</td>
       
            <td style="border-bottom: 1px solid black;" class="govuk-table__cell govuk-table__cell--numeric"> £1000 </td>
    
       
           </tr>
           <tr class="govuk-table__row">
            <td style="border-bottom: none;" scope="row" class="govuk-table__cell"> <strong></strong>
            </td>
            
            <td style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric"></td>
     
      
          </tr>
          <tr class="govuk-table__row">
            <td style="border-bottom: 1px solid black;" scope="row" class="govuk-table__cell">Output fee total</td>
       
            <td style="border-bottom: 1px solid black;" class="govuk-table__cell govuk-table__cell--numeric"> £3000 </td>
    
       
           </tr>
          <tr class="govuk-table__row">
            <td style="border-bottom: 1px solid black;" scope="row" class="govuk-table__cell">Service fee</td>
       
            <td style="border-bottom: 1px solid black;" class="govuk-table__cell govuk-table__cell--numeric"> £1000 </td>
    
       
           </tr>
           <tr class="govuk-table__row">
            <td style="border-bottom: 1px solid black;" scope="row" class="govuk-table__cell">Clawbacks</td>
       
            <td style="border-bottom: 1px solid black;" class="govuk-table__cell govuk-table__cell--numeric"> -£1000 </td>
    
       
           </tr>
           
        </tbody>
      </table>
   

     <div style="float: right;" class="govuk-table__row">     
<div class=" govuk-heading-s govuk-table__header--numeric">Total <br>£156,000.00</div> 

</div>     

 </div>

     </div>    
     <br>

</div>


<div class="govuk-grid-column-full ">
  <div class="vaccinations " itemtype="https://schema.org/SpecialAnnouncement" itemprop="SpecialAnnouncement"
    itemscope="">
    <div class="govuk-!-width-two-thirds ">
      <table class="govuk-table govuk-!-margin-0">
        <caption class="govuk-table__caption govuk-table__caption--s">Leading Teacher Development</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Payment type</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Payment amount</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td style="border-bottom:none;" scope="row" class="govuk-table__cell">Output fee<br><span
                style="font-weight: normal;">Number of participants - 1000</span></td>
            <td style="border-bottom:none;" class="govuk-table__cell govuk-table__header--numeric"> £90,200.00</td>
          </tr>

          <tr class="govuk-table__row">
            <td style="border-bottom:none;" scope="row" class="govuk-table__cell">Service fee</td>
            <td style="border-bottom:none;" class="govuk-table__cell govuk-table__header--numeric">£20,044.44</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Clawbacks</td>
            <td class="govuk-table__cell govuk-table__header--numeric">£0.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th style="border-bottom:none;" scope="row" class="govuk-table__header">Total</th>
            <th style="border-bottom:none;" class="govuk-table__cell govuk-table__header--numeric">£200,444.44</th>
          </tr>
        </tbody>
      </table>


    </div>
  </div>
  <br>
</div>
<div class="govuk-grid-column-full ">
  <div class="vaccinations " itemtype="https://schema.org/SpecialAnnouncement" itemprop="SpecialAnnouncement"
    itemscope="">
    <div class="govuk-!-width-two-thirds ">
      <table class="govuk-table govuk-!-margin-0">
        <caption class="govuk-table__caption govuk-table__caption--s">Senior Leadership</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Payment type</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Payment amount</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td style="border-bottom:none;" scope="row" class="govuk-table__cell">Output fee<br><span
                style="font-weight: normal;">Number of participants - 1000</span></td>
            <td style="border-bottom:none;" class="govuk-table__cell govuk-table__header--numeric"> £90,200.00</td>
          </tr>

          <tr class="govuk-table__row">
            <td style="border-bottom:none;" scope="row" class="govuk-table__cell">Service fee</td>
            <td style="border-bottom:none;" class="govuk-table__cell govuk-table__header--numeric">£20,044.44</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Clawbacks</td>
            <td class="govuk-table__cell govuk-table__header--numeric">£0.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th style="border-bottom:none;" scope="row" class="govuk-table__header">Total</th>
            <th style="border-bottom:none;" class="govuk-table__cell govuk-table__header--numeric">£200,444.44</th>
          </tr>
        </tbody>
      </table>


    </div>
  </div>
  <br>
</div>
<div class="govuk-grid-column-full ">
  <div class="vaccinations " itemtype="https://schema.org/SpecialAnnouncement" itemprop="SpecialAnnouncement"
    itemscope="">
    <div class="govuk-!-width-two-thirds ">
      <table class="govuk-table govuk-!-margin-0">
        <caption class="govuk-table__caption govuk-table__caption--s">Headship</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Payment type</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Payment amount</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td style="border-bottom:none;" scope="row" class="govuk-table__cell">Output fee<br><span
                style="font-weight: normal;">Number of participants - 1000</span></td>
            <td style="border-bottom:none;" class="govuk-table__cell govuk-table__header--numeric"> £90,200.00</td>
          </tr>

          <tr class="govuk-table__row">
            <td style="border-bottom:none;" scope="row" class="govuk-table__cell">Service fee</td>
            <td style="border-bottom:none;" class="govuk-table__cell govuk-table__header--numeric">£20,044.44</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Clawbacks</td>
            <td class="govuk-table__cell govuk-table__header--numeric">£0.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th style="border-bottom:none;" scope="row" class="govuk-table__header">Total</th>
            <th style="border-bottom:none;" class="govuk-table__cell govuk-table__header--numeric">£200,444.44</th>
          </tr>
        </tbody>
      </table>


    </div>
  </div>
  <br>
</div>
<div class="govuk-grid-column-full ">
  <div class="vaccinations " itemtype="https://schema.org/SpecialAnnouncement" itemprop="SpecialAnnouncement"
    itemscope="">
    <div class="govuk-!-width-two-thirds ">
      <table class="govuk-table govuk-!-margin-0">
        <caption class="govuk-table__caption govuk-table__caption--s">Executive Leadership</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Payment type</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Payment amount</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td style="border-bottom:none;" scope="row" class="govuk-table__cell">Output fee<br><span
                style="font-weight: normal;">Number of participants - 1000</span></td>
            <td style="border-bottom:none;" class="govuk-table__cell govuk-table__header--numeric"> £90,200.00</td>
          </tr>

          <tr class="govuk-table__row">
            <td style="border-bottom:none;" scope="row" class="govuk-table__cell">Service fee</td>
            <td style="border-bottom:none;" class="govuk-table__cell govuk-table__header--numeric">£20,044.44</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Clawbacks</td>
            <td class="govuk-table__cell govuk-table__header--numeric">£0.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th style="border-bottom:none;" scope="row" class="govuk-table__header">Total</th>
            <th style="border-bottom:none;" class="govuk-table__cell govuk-table__header--numeric">£200,444.44</th>
          </tr>
        </tbody>
      </table>


    </div>
  </div>
  <br>
</div>
<div class="govuk-grid-column-full ">
  <div class="vaccinations " itemtype="https://schema.org/SpecialAnnouncement" itemprop="SpecialAnnouncement"
    itemscope="">
    <div class="govuk-!-width-two-thirds ">
      <table class="govuk-table govuk-!-margin-0">
        <caption class="govuk-table__caption govuk-table__caption--s">Additional Support Offer</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Payment type</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Payment amount</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td style="border-bottom:none;" scope="row" class="govuk-table__cell">Output fee<br><span
                style="font-weight: normal;">Number of participants - 1000</span></td>
            <td style="border-bottom:none;" class="govuk-table__cell govuk-table__header--numeric"> £90,200.00</td>
          </tr>

          <tr class="govuk-table__row">
            <td style="border-bottom:none;" scope="row" class="govuk-table__cell">Service fee</td>
            <td style="border-bottom:none;" class="govuk-table__cell govuk-table__header--numeric">£20,044.44</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Clawbacks</td>
            <td class="govuk-table__cell govuk-table__header--numeric">£0.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th style="border-bottom:none;" scope="row" class="govuk-table__header">Total</th>
            <th style="border-bottom:none;" class="govuk-table__cell govuk-table__header--numeric">£200,444.44</th>
          </tr>
        </tbody>
      </table>


    </div>
  </div>
  <br>
</div>
<div class="govuk-grid-column-full ">
  <div class="vaccinations " itemtype="https://schema.org/SpecialAnnouncement" itemprop="SpecialAnnouncement"
    itemscope="">
    <div class="govuk-!-width-two-thirds ">
      <table class="govuk-table govuk-!-margin-0">

        <thead class="govuk-table__head">
    
        </thead>
        <tbody class="govuk-table__body">
     
          <tr class="govuk-table__row">
            <th style="border-bottom:none;" scope="row" class="govuk-table__header">VAT</th>
            <th style="border-bottom:none;" class="govuk-table__cell govuk-table__header--numeric">£1,663,733.30</th>
          </tr>
        </tbody>
      </table>


    </div>
  </div>
  <br>
</div>

 
                    </div>

            
    
            


{% endblock %}

