{% extends "layout.html" %}


{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{{ govukBackLink({
  text: "Back",
 href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}



        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                                <h1 class="govuk-heading-xl">Choose your Provider</h1>
                               <!--  <p>You </p> -->
                    <!--                <span id="waste-hint" class="govuk-hint">
                                     The information you provide will help us personalise your experience and will not used for anything else
                                    </span> -->

        <!--     <p>We'll send you:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Reminders</li>
              <li>Help and advice</li>
              <li>Announcements</li>
           
            </ul>

            <p>to:  {{ data['email'] }} </p> -->

                <form action="proQuestionOne" >
                       <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <!-- <h2 class="govuk-fieldset__heading">Sign up to email updates?</h2> -->
                    </legend>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                      <div class="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="provider1" name="providerName" type="radio" value="ABC Training Ltd" {{ checked( 'chooseSearch', 'ABC Training Ltd') }}>
                                    <label class="govuk-label govuk-radios__label" for="epaoName-city-guilds">
                                       ABC Training Ltd
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="provider2" name="providerName" type="radio" value="Cyberdyne Inc" {{ checked( 'chooseSearch', 'Cyberdyne Inc') }}>
                                    <label class="govuk-label govuk-radios__label" for="epaoName-cumbria">
                                        Cyberdyne Inc
                                    </label>
                                </div>
                                          <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="provider3" name="providerName" type="radio" value="OsCorp" {{ checked( 'chooseSearch', 'OsCorp') }}>
                                    <label class="govuk-label govuk-radios__label" for="epaoName-cumbria">
                                        OsCorp
                                    </label>
                                </div>
                                                    <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="provider4" name="providerName" type="radio" value=" Tyrell Corporation" {{ checked( 'chooseSearch', ' Tyrell Corporation') }}>
                                    <label class="govuk-label govuk-radios__label" for="epaoName-cumbria">
                                        Tyrell Corporation
                                    </label>
                                </div>
                                          <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="provider5" name="providerName" type="radio" value=" Umbrella Corporation" {{ checked( 'chooseSearch', ' Umbrella Corporation') }}>
                                    <label class="govuk-label govuk-radios__label" for="epaoName-cumbria">
                                         Umbrella Corporation
                                    </label>
                                </div>
                                          <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="provider6" name="providerName" type="radio" value=" Weyland-Yutani" {{ checked( 'chooseSearch', ' Weyland-Yutani') }}>
                                    <label class="govuk-label govuk-radios__label" for="epaoName-cumbria">
                                       Weyland-Yutani
                                    </label>
                                </div>
                     <!--                      <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="provider6" name="assessment" type="radio" value="provider6" {{ checked( 'chooseSearch', 'provider6') }}>
                                    <label class="govuk-label govuk-radios__label" for="epaoName-cumbria">
                                        NPQ 6
                                    </label>
                                </div> -->
                                
                            </div>
                        </fieldset>
                    </div>
                    <button class="govuk-button">Continue</button>
                </form>
            </div>
        </div>
    </main>
</div>

{% endblock %}
