{% extends "layout.html" %}
{% block beforeContent %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-fieldset__heading">
      Contact us so we can check your permissions
    </h1>
  </legend>
  <p>To add, remove or change your role, we need to check and confirm your permissions.</p>
  <p class="govuk-body">Contact us at <a class="govuk-link" href="mailto:continuing-professional-development@digital.education.gov.uk" data-hsupport="email">continuing-professional-development@digital.education.gov.uk</a> and we will make sure you can access everything you need.</p>
  </div>
</div>
{% endblock %}

