{% extends "layout.html" %}
{% block beforeContent %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {%if data.noaccess === "true" %}
    <h1 class="govuk-heading-xl">
      Request access
          </h1>
    <p class="govuk-body">You do not have access to another role. You need to request access to change roles.</p>
    <a class="govuk-button govuk-link govuk-link--no-visited-state" href="access-management1">Continue</a>.
    {%else%}
      {% if data.rolechange === "Delivery partner" %}
      <form action="delivery-partners" method="post" novalidate>
      {%else%}
      <form action="delivery-partners" method="post" novalidate>
      {%endif%}

      {% if data.rolechange === "Appropriate body" %}
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <span class="govuk-caption-xl">Appropriate body role</span>
            <h1 class="govuk-fieldset__heading">
              What organisation do you want to view?
            </h1>
          </legend>
          <p>Choose an organisation to view its participants.</p>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rolechange" name="rolechange" type="radio" value="ab1" checked="checked">
              <label class="govuk-label govuk-radios__label" for="rolechange">
                Barnsley and Doncaster Teaching School Hub
              </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="rolechange-2" name="rolechange" type="radio" value="ab2">
            <label class="govuk-label govuk-radios__label" for="rolechange-2">
              Derby
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="rolechange-3" name="rolechange" type="radio" value="ab3">
            <label class="govuk-label govuk-radios__label" for="rolechange-3">
              DRET Teaching School Hub
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Continue
    </button>

      {% elif data.rolechange === "School induction tutor" %}
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <span class="govuk-caption-xl">School induction tutor role</span>
            <h1 class="govuk-fieldset__heading">
              What organisation do you want to view?
            </h1>
          </legend>
          <p>Choose an organisation to view its participants.</p>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rolechange" name="rolechange" type="radio" value="si1" checked="checked">
              <label class="govuk-label govuk-radios__label" for="rolechange">
                John Taylor Teaching School Hub
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rolechange-2" name="rolechange" type="radio" value="si2">
              <label class="govuk-label govuk-radios__label" for="rolechange-2">
                King's College London
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rolechange-3" name="rolechange" type="radio" value="si3">
              <label class="govuk-label govuk-radios__label" for="rolechange-3">
                Kings Group Academies
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rolechange-4" name="rolechange" type="radio" value="si4">
              <label class="govuk-label govuk-radios__label" for="rolechange-4">
                London District East Teaching School Hub
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rolechange-5" name="rolechange" type="radio" value="si5">
              <label class="govuk-label govuk-radios__label" for="rolechange-5">
                London South Teaching School Hub
              </label>
            </div>


      </div>
    </fieldset>
  </div>
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Continue
  </button>
  {% elif data.rolechange === "I want to view different role" %}
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <!-- <span class="govuk-caption-xl">I want to view different role</span> -->
      <h1 class="govuk-fieldset__heading">
        Contact us so we can check your permissions
      </h1>
    </legend>
    <br>
    <p class="govuk-body">To add, remove or change your role, we need to check and confirm your permissions.</p>
    <p class="govuk-body">Contact us at <a class="govuk-link" href="mailto:continuing-professional-development@digital.education.gov.uk" data-hsupport="email">continuing-professional-development@digital.education.gov.uk</a> and we will make sure you can access everything you need.</p>
    <!-- <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="rolechange" name="rolechange" type="radio" value="si1" checked="checked">
        <label class="govuk-label govuk-radios__label" for="rolechange">
          John Taylor Teaching School Hub
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="rolechange-2" name="rolechange" type="radio" value="si2">
        <label class="govuk-label govuk-radios__label" for="rolechange-2">
          King's College London
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="rolechange-3" name="rolechange" type="radio" value="si3">
        <label class="govuk-label govuk-radios__label" for="rolechange-3">
          Kings Group Academies
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="rolechange-4" name="rolechange" type="radio" value="si4">
        <label class="govuk-label govuk-radios__label" for="rolechange-4">
          London District East Teaching School Hub
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="rolechange-5" name="rolechange" type="radio" value="si5">
        <label class="govuk-label govuk-radios__label" for="rolechange-5">
          London South Teaching School Hub
        </label>
      </div>

    </div> -->
      </fieldset>
      </div>
      <!-- <button type="submit" class="govuk-button" data-module="govuk-button">
      Continue
      </button> -->

      {% else %}
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <span class="govuk-caption-xl">Delivery partner role</span>
          <h1 class="govuk-fieldset__heading">
            What organisation do you want to view?
          </h1>
          </legend>
          <p>Choose an organisation to view its participants.</p>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rolechange" name="rolechange" type="radio" value="dp1" checked="checked">
              <label class="govuk-label govuk-radios__label" for="rolechange">
                ARK Teaching School Hub
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rolechange-2" name="rolechange" type="radio" value="dp2">
              <label class="govuk-label govuk-radios__label" for="rolechange-2">
                Academies Enterprise Trust (MAT)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rolechange-3" name="rolechange" type="radio" value="dp3">
              <label class="govuk-label govuk-radios__label" for="rolechange-3">
                Academy Transformation Trust
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rolechange-4" name="rolechange" type="radio" value="dp4">
              <label class="govuk-label govuk-radios__label" for="rolechange-4">
                Advantage Schools
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rolechange-5" name="rolechange" type="radio" value="dp5">
              <label class="govuk-label govuk-radios__label" for="rolechange-5">
                Benfleet TSA
              </label>
            </div>


      </div>
    </fieldset>
  </div>
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Continue
  </button>

      {% endif %}
      <!-- </fieldset>
      </div>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button> -->
      </form>
      <!-- <p class="govuk-body">If you need access to another role you need to <a class="govuk-link govuk-link govuk-link--no-visited-state" href="access-management1">request access</a>.</p> -->
    {%endif%}
  </div>
</div>  
            <!-- <script>

              $("#searchbtn").click(function() {
              
                $.each($("#table tbody tr"), function() {
              
              if($(this).text().toLowerCase().indexOf($('#search').val().toLowerCase()) === -1){
                  $(this).hide();
                            
              
              } 
            

          
              
                })
                var showAll = true;
  $('tr').not(':first').hide();

  $('input:checkbox:checked').each(function() {
    showAll = false;
    var status = $(this).attr('rel');
    var value = $(this).val();
    $('td.' + 'schedule' + '[rel="' + value + '"]').parent('tr').show();
    $('td.' + 'schedule' + '[rel="' + value + '"]').parent().siblings('tr').show();
    $('td.' + 'cohort' + '[rel="' + value + '"]').parent('tr').show();
    $('td.' + 'cohort' + '[rel="' + value + '"]').parent().siblings('tr').show();
    $('td.' + 'lp' + '[rel="' + value + '"]').parent('tr').show();
    $('td.' + 'lp' + '[rel="' + value + '"]').parent().siblings('tr').show();
  
  });
  if (showAll) {
    $('tr').show();
  }
;
              });
              
              
              
                        </script> -->

{% endblock %}

