{% extends "layout.html" %}
{% block beforeContent %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

<!-- {{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %} -->
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="change-role" method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              You’re now signed in
            </h1>
          </legend>
          <!-- <p>Choose a role to view the relevant organisations.</p>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rolechange-2" name="rolechange" type="radio" value="Appropriate body" checked="checked">
              <label class="govuk-label govuk-radios__label" for="rolechange-2">
            Appropriate body
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rolechange" name="rolechange" type="radio" value="Delivery partner">
              <label class="govuk-label govuk-radios__label" for="rolechange">
              Delivery partner
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rolechange-3" name="rolechange" type="radio" value="School induction tutor">
              <label class="govuk-label govuk-radios__label" for="rolechange-3">
                School induction tutor
              </label>
            </div>   
            <div class="govuk-radios__divider">or</div>     
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rolechange-4" name="rolechange" type="radio" value="I want to view different role">
              <label class="govuk-label govuk-radios__label" for="rolechange-4">
                I want to view different role
              </label>
            </div>        
          </div> -->
        </fieldset>
      </div>
      <button type="submit" class="govuk-button" data-module="govuk-button">
     Continue
      </button>
    </form>
  </div>
</div>  
</main>
{% endblock %}

