
{% extends "layout.html" %}
{% block beforeContent %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}




<div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                                <h1 class="govuk-heading-xl">You may qualify for NPQ funding</h1>
                              <p>Scholarship funding may be available for the {{ data['assessment'] }} course you have chosen.  </p>

                                <p>Your training provider will give you more details and confirm your funding. </p>

                 <form action="chooseProvider" >
                      
                  
                  <!--    <input class="button govuk-button" id="saveAndContinue" type="button" onclick="whereNow()" value="Continue"> -->
                    <button class="govuk-button">Continue</button>
                </form>


            </div>
        </div>
    </main>


{% endblock %}
