
{% extends "layout.html" %}
{% block beforeContent %}


{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Test Manage teacher CPD
        </h1>

  <p class="govuk-body-l">This service is a test environment which allows you to experience the service as a school induction tutor, lead provider and software vendor.</p>
        <p>
Use this service to:

        </p>

          <ul class="govuk-list govuk-list--bullet">
                <li>test setup inductions for Early Career Teachers (ECTs) and mentors as a school</li>
                <li>register for an NPQ course as a teacher </li>
                <lI>You can manage a list of school partnerships and test Manage teacher CPD’s API integrations as a lead provider:
<ul>
<li>retrieve a list of ECF participants or NPQ applications</li>
<li>declare a participant's engagement with the programmes </lI>
</ul>
</li>
            </ul>

    <!--  <div class="govuk-inset-text">If you have already applied for an NPQ, you can<a href="tstart/signIn"> check the status of your application</a></div> -->

        <h2 class="govuk-heading-m">Before you start</h2>

        <p class="govuk-body">
            You must:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>to test the service as an ECF lead provider, you’ll need to contact us by email on <a href="">continuing-professional-development@digital.education.gov.uk</a></li>
                
                <li>do another thing</li>
                <li>do more things</li>
               
            </ul>

            <div style="margin-top:35px"></div>
            <form action="sandbox/choose">
             <button class="govuk-button govuk-button--start">Start now</button>
            </form> 
          
    </div>
</div>
</main>
</div>

{% endblock %}
