{% extends "layout.html" %}

{% block pageTitle %}
  Task list
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
      Register for a National Professional Qualification (NPQ)
      </h1>
       <p class="govuk-body-l">This service is for teachers who want to register to study for an NPQ.</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Before you start
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="task/shareProvider" aria-describedby="eligibility-completed">
                   Agree declaration
                  
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="task/trncheck" aria-describedby="read-declaration-completed">
                 Check eligibility
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">Completed</strong>
            </li>
                   <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="task/email" aria-describedby="company-information-completed">
                  Register for an account
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Completed</strong>
            </li>

          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Your NPQ
          </h2>
          <ul class="app-task-list__items">
     
                                    <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="task/chooseNPQ" aria-describedby="contact-details-completed">
                  Choose your NPQ
                </a>
              </span>
               <strong class="app-task-list__tag govuk-tag govuk-tag--grey " id="medical-information-completed"style="float:right">Not started</strong>
             <!--  <strong class="govuk-tag app-task-list__task-completed" id="contact-details-completed">Completed</strong> -->
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="task/chooseProvider">
                  Choose your provider
                </a>
              </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-completed" style="float:right">Not started</strong>
            </li>

           <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="task/confirmSchool" aria-describedby="medical-information-completed">
                 Choose your school
                </a>
              </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-completed"style="float:right">Not started</strong>
             <!--  <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Completed</strong> -->
            </li>

          </ul>
        </li>


        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Provider questions
          </h2>
          <ul class="app-task-list__items">
                     <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="task/proQuestionOne">
                  Question 1
                </a>
              </span>
               <strong class="govuk-tag govuk-tag--grey" id="medical-information-completed" style="float:right">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="task/proQuestionTwo" aria-describedby="medical-information-completed">
                 Question 2
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey" id="medical-information-completed" style="float:right">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="task/proQuestionThree" aria-describedby="medical-information-completed">
                 Question 3
                </a>
              </span>
               <strong class="govuk-tag govuk-tag--grey" id="medical-information-completed" style="float:right">Cannot start yet</strong>
          <!--     <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Completed</strong> -->
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="task/proQuestionFour" aria-describedby="medical-information-completed">
                 Question 4
                </a>
              </span>
               <strong class="govuk-tag govuk-tag--grey" id="medical-information-completed" style="float:right">Cannot start yet</strong>
            <!--   <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Completed</strong> -->
            </li>
 
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Tell us more about you
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="task/ethnicty">
                  Your ethnic group
                </a>
              </span>
               <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-completed"style="float:right">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="task/gender">
                  Your gender
                </a>
              </span>
               <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-completed"style="float:right">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="task/learningProblem">
                  Learning difficulty, disability or health problem
                </a>
              </span>
               <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-completed"style="float:right">Not started</strong>
            </li>


          </ul>
        </li>



        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">5. </span> Apply
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="task/confirmDetails">
                  Review and submit
                </a>
              </span>
                 <strong class="govuk-tag govuk-tag--grey" id="medical-information-completed" style="float:right">Cannot start yet</strong>
            </li>
          </ul>
        </li>


      </ol>

    </div>
  </div>

{% endblock %}
