
{% extends "layout.html" %}
{% block beforeContent %}


{% endblock %}
{% block content %}




<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds
column-minimum">
      <h1 class="govuk-heading-xl">
        Teacher professional development
      </h1>
      <p class="">Use this step by step list to help you take an national professional qualification (NPQ)</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
           <span class="app-task-list__section-number">1. </span> What is an NPQ
          </h2>

           <p style="padding-left:35px">An NPQ is a thing, we'll tell you what the thing is.</p>
                  <!--    <div class="dummyvideo"> <img class="play-btn-guide" src="https://www.getingofar.gov.uk/img/icons/xplay-btn.png.pagespeed.ic.WsDW9VyeOZ.webp" alt="Play"></div> -->
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="task-name" href="" aria-describedby="eligibility-completed" style="font-size:19px">
                What is an an NPQ?
              </a>
<!--                <strong class="govuk-tag app-task-list__govuk-tag app-task-list__task-completed rj-dont-display" id="eligibilityLevy">Levy funded</strong>
                 <strong class="govuk-tag app-task-list__govuk-tag app-task-list__task-completed arj-dont-display" id="eligibilityCoinvestment">Co-investment funded</strong>
                  <strong class="govuk-tag app-task-list__govuk-tag app-task-list__task-completed rj-dont-display" id="eligibilityTransfer">Transfer funded</strong> -->
            </li>
                        <li class="app-task-list__item">
              <a class="task-name" href="" aria-describedby="eligibility-completed" style="font-size:19px">
                Who are NPQs for
              </a>
                                   <li class="app-task-list__item">
              <a class="task-name" href="" aria-describedby="eligibility-completed" style="font-size:19px">
               What are the types of NPQ
              </a>
<!--                <strong class="govuk-tag app-task-list__govuk-tag app-task-list__task-completed rj-dont-display" id="eligibilityLevy">Levy funded</strong>
                 <strong class="govuk-tag app-task-list__govuk-tag app-task-list__task-completed arj-dont-display" id="eligibilityCoinvestment">Co-investment funded</strong>
                  <strong class="govuk-tag app-task-list__govuk-tag app-task-list__task-completed rj-dont-display" id="eligibilityTransfer">Transfer funded</strong> -->
            </li>

            <li class="app-task-list__item rj-dont-display" id="forecastMyLevy">
              <a class="task-name" href="" aria-describedby="eligibility-completed">
                Funding your NPQ
              </a>
              <strong class="govuk-tag app-task-list__govuk-tag app-task-list__task-completed" rj-dont-display" id="forcastMyLevyComplete">Completed</strong>
            </li>
        <li class="app-task-list__item rj-dont-display" id="claimMyFunding">
              <a class="task-name" href=" " aria-describedby="eligibility-completed">
               Get funding
              </a>
              <strong class="govuk-tag app-task-list__task-completed rj-dont-display" id="claimMyFundingComplete">Completed</strong>
            </li>
          </ul>


        <li>
          <h2 class="app-task-list__section">
           <span class="app-task-list__section-number">2. </span> Funding your NPQ
          </h2>
           <p style="padding-left:35px">There are a number of different funding routes. You may be able to get help from the government to pay for an NPQ. </p>
        <!--     <div class="dummyvideo"> <img class="play-btn-guide" src="https://www.getingofar.gov.uk/img/icons/xplay-btn.png.pagespeed.ic.WsDW9VyeOZ.webp" alt="Play"></div> -->
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="task-name" href="checkFundingv1" aria-describedby="eligibility-completed" style="font-size:19px">
                How much does an NPQ cost?
              </a>
            </li>
                        <li class="app-task-list__item">
              <a class="task-name" href="checkFundingv1" aria-describedby="eligibility-completed" style="font-size:19px">
                Find out if you can get DfE funding
              </a>
            </li>
                        <li class="app-task-list__item">
              <a class="task-name" href="checkFundingv1" aria-describedby="eligibility-completed" style="font-size:19px">
               School or self funding
              </a>
            </li>

 <!--            <li class="app-task-list__item rj-dont-display" id="forecastMyLevy">
              <a class="task-name" href="" aria-describedby="eligibility-completed">
                Forecast my levy funding
              </a>
              <strong class="govuk-tag app-task-list__govuk-tag app-task-list__task-completed" rj-dont-display" id="forcastMyLevyComplete">Completed</strong>
            </li> -->
    <!--     <li class="app-task-list__item rj-dont-display" id="claimMyFunding">
              <a class="task-name" href=" " aria-describedby="eligibility-completed">
               Get funding
              </a>
              <strong class="govuk-tag app-task-list__task-completed rj-dont-display" id="claimMyFundingComplete">Completed</strong>
            </li> -->
          </ul>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span>  Training
          </h2>
          <p style="padding-left:35px">Find a training provider to deliver the training. </p>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="task-name" href=""  aria-describedby="company-information-completed" style="font-size:19px">
               How to choose a training provider
              </a> 
              <!--strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Completed</strong-->
            </li>
                  <li class="app-task-list__item">
              <a class="task-name" href=""  aria-describedby="company-information-completed" style="font-size:19px">
              The training providers
              </a> 
              <!--strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Completed</strong-->
            </li>
                            <li class="app-task-list__item">
              <a class="task-name" href=""  aria-describedby="company-information-completed" style="font-size:19px">
             How do I apply
              </a> 
              <!--strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Completed</strong-->
            </li>
     
          </ul>
        </li>
        <li>
          </ul>
  



 
      </ol>
    </div>
            <div class="govuk-grid-column-one-third" style="">
              <aside class="topBlueThing" style="  border-top-color: #005ea5; border-top-style: solid; border-top-width: 10px; " >

                 <h2 class="govuk-heading-m" id="company-Name" style="margin-top:20px">Apply for an NPQ</h2>
               
                 <p style="margin-top:5px"></p>

      <form method="get" action="../../newregister/fromMicro">
              <button type="submit" class="govuk-button">Apply </button>
        </form>
<!-- 
                  <a href="#" style="font-size:19px">Account projection table</a>
                 <p style="margin-top:5px">The download includes the details of the data in the table shown on this page</p>
                 -->
              </aside>
            </div>
  </div>

</main>
{% endblock %}


