{% extends "layout.html" %}
{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}
<script src="/public/javascripts/accordion.js"></script>
<script>
if (
    'addEventListener' in document &&
    document.querySelectorAll
) {
    document.addEventListener('DOMContentLoaded', function() {
        var accordions = document.querySelectorAll('.accordion')
        for (var i = accordions.length - 1; i >= 0; i--) {
            new Accordion(accordions[i])
        };
    })
}
</script>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">
            
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">FCA Ltd</h1>
                <p style="margin-bottom:0; color: #505a5f; ">Payment of</p>
                <h2 class="govuk-heading-xl" style="margin-bottom: 0; padding-top:0">£432,000.00<span style="font-size:30px"></span></h2>
                <p style="margin-bottom:50px; color: #505a5f; ">On 21 September 2022</p>
                <!--  <p> The following shows details of the payment into your account. </p> -->

             
                <table class="govuk-table ">
                    <thead>
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header"></th>
                            <th scope="col" class="govuk-table__header"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">Milestone end date [check with content designer]</td>
                            <td class="govuk-table__cell" scope="row">31 August 2022</td>
                        </tr>
                        <!--                     <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">Milestone</td>
                            <td class="govuk-table__cell" scope="row">2</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">Induction</td>
                            <td class="govuk-table__cell" scope="row">Standard</td>
                        </tr> -->
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">PO number</td>
                            <td class="govuk-table__cell" scope="row">90210</td>
                        </tr>
                        <!-- <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">Contract number</td>
                            <td class="govuk-table__cell" scope="row">90210</td>
                        </tr> -->
                        <!--            <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">Call off contract</td>
                            <td class="govuk-table__cell" scope="row">x</td>
                        </tr> -->
                    </tbody>
                </table>
                <table class="govuk-table ">
                    <thead>
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header"></th>
                            <th scope="col" class="govuk-table__header"></th>
                            <th scope="col" class="govuk-table__header"></th>
                        </tr>
                    </thead>
                    <tbody>
               
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row" style="max-width:370px">Current ECTs</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">600</td>
                            <td class="govuk-table__cell" scope="row" style="width:200px"></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row" style="max-width:370px">Current mentors</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">300</td>
                            <td class="govuk-table__cell" scope="row" style="width:200px"></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row" style="max-width:370px;font-weight:700">Total</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" scope="row" style="font-weight:700">900</td>
                            <td class="govuk-table__cell" scope="row" style="width:200px"></td>
                        </tr>
                     <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row" style="width:350px">Recruitment target</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">1,125</td>
                            <td class="govuk-table__cell" scope="row" style="width:200px"></td>
                        </tr>
                    </tbody>
                </table>

                <h1 class="govuk-heading-m" style="margin-top:55px; margin-bottom:25px">Payment breakdown</h1>
                <table class="govuk-table " style="margin-bottom: 55px;">
                    <thead>
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Payment type</th>
                            <th scope="col" class="govuk-table__header govuk-table__cell--numeric" style="font-weight:700">Number of <br />participants</th>
                            <th scope="col" class="govuk-table__header govuk-table__cell--numeric" style="font-weight:700">Payment amount<br />for period</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">Service fee</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">900</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">£90,000.00</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">Output payment - September 2021 cohort  </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" scope="row"><a href="deliveryPartnersSept">500</a></td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">£81,818.00</td>
                        </tr>
                    <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">Output payment - January 2021 cohort </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" scope="row"><a href="deliveryPartnersJan">600</a></td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">£98,182.00</td>
                        </tr>
                        <!--                <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">Back payments </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">900</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">-</td>
                        </tr> -->
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">Uplift payment </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" scope="row"> <a href="upliftSplitJan">400</a></td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">£90,000.00</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">Clawbacks </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">£0.00</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row" style="">VAT</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" scope="row"></td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">£72,000.00</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row" style="font-weight:700">Total payment</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" scope="row"></td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" scope="row" style="font-weight:700">£432,000.00</td>
                        </tr>
                    </tbody>
                </table>
                <!--               <table class="govuk-table ">
                    <thead>
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header"></th>
                            <th scope="col" class="govuk-table__header"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row" style="width: 500px; ">VAT</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">£10,000</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row" style="width: 500px; font-weight:700">Total payment</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" scope="row" style="font-weight:700">£324,000</td>
                        </tr>
                    </tbody>
                </table> -->
                <div class="accordion" style="margin-top:50px">
                    <div class="accordion-section">
                        <div class="accordion-section-header">
                            <h2 class="govuk-heading-m">Service fee </h2>
                        </div>
                        <div class="accordion-section-body">
                            <table class="govuk-table ">
                                <thead>
                                    <h3 class="govuk-heading-s" style="margin-bottom: 0px; margin-top:10px">Band A</h3>
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header"></th>
                                    
                                          <th scope="col" class="govuk-table__header govuk-table__cell--numeric" style="font-weight:700"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Fee per participant</td>
                                         
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">£xxx</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Number of participants </td>
                                       
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">900</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row" style="font-weight:700">Payment</td>
                                       <!--  <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">£112,500</td> -->
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row" style="font-weight:700">£90,000.00</td>
                                    </tr>
                   <!--               <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row" style="">Forecast payment</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">£112,500</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row" style="">£112,500</td>
                                    </tr> -->
                                </tbody>
                            </table>
                            <table class="govuk-table ">
                                <thead>
                                    <h3 class="govuk-heading-s" style="margin-bottom: 0px; margin-top:10px">Band B</h3>
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header"></th>
                                         
                                          <th scope="col" class="govuk-table__header govuk-table__cell--numeric" style="font-weight:700"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Fee per participant</td>
                                       
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">£xxx</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Number of participants </td>
                                       
                                         <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row" style="font-weight:700">Payment</td>
                                          
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row" style="font-weight:700">£0.00</td>
                                    </tr>
                           <!--          <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row" style="">Forecast payment</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row" style="">£0</td>
                                    </tr> -->
                                </tbody>
                            </table>
                            <table class="govuk-table ">
                                <thead>
                                    <h3 class="govuk-heading-s" style="margin-bottom: 0px; margin-top:10px">Band C</h3>
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header"></th>
                                         
                                          <th scope="col" class="govuk-table__header govuk-table__cell--numeric" style="font-weight:700"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Fee per participant</td>
                                    
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">£xxx</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Number of participants </td>
                                       
                                          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row" style="font-weight:700">Payment</td>
                                      
                                            <td class="govuk-table__cell govuk-table__cell--numeric" scope="row" style="font-weight:700">£0.00</td>
                                    </tr>
                            <!--                                             <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row" style="">Forecast payment</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row" style="">£0</td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <div class="accordion-section-header">
                            <h2 class="govuk-heading-m">Output payment - September 2021 cohort </h2>
                        </div>
                        <div class="accordion-section-body">
                            <table class="govuk-table ">
                                <thead>
                                    <h3 class="govuk-heading-s" style="margin-bottom: 0px; margin-top:10px">Band A</h3>
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header"></th>
                                    
                                          <th scope="col" class="govuk-table__header govuk-table__cell--numeric" style="font-weight:700"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Fee per participant</td>
                                        
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">£xxx</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Current participants </td>
                                      
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">300</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Back payment participants </td>
                                      
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">200</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row" style="font-weight:700">Payment</td>
                                   
                                            <td class="govuk-table__cell govuk-table__cell--numeric" scope="row" style="font-weight:700">£81,818.00</td>
                                    </tr>
                        <!--         <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row" style="">Forecast payment</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row" style="">£70,000</td>
                                    </tr> -->
                                </tbody>
                            </table>
                            <table class="govuk-table ">
                                <thead>
                                    <h3 class="govuk-heading-s" style="margin-bottom: 0px; margin-top:10px">Band B</h3>
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header"></th>
                                             
                                          <th scope="col" class="govuk-table__header govuk-table__cell--numeric" style="font-weight:700"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Fee per participant</td>
                                        
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">£xxx</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Current participants</td>
                                     
                                         <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Back payment participants </td>
                                      
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row" style="font-weight:700">Payment</td>
                                      
                                          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row" style="font-weight:700">£0.00</td>
                                    </tr>
                           <!--           <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row" style="">Forecast payment</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row" style="">£0</td>
                                    </tr> -->
                                </tbody>
                            </table>
                            <table class="govuk-table ">
                                <thead>
                                    <h3 class="govuk-heading-s" style="margin-bottom: 0px; margin-top:10px">Band C</h3>
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header"></th>
                                       
                                          <th scope="col" class="govuk-table__header govuk-table__cell--numeric" style="font-weight:700"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Fee per participant</td>
                                      
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">£xxx</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Current participants </td>
                                      
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Back payment participants </td>
                                   
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row" style="font-weight:700">Payment</td>
                                         
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row" style="font-weight:700">£0.00</td>
                                    </tr>
                           <!--                                              <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row" style="">Forecast payment</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row" style="">£0</td>
                                    </tr> -->
                                </tbody>
                            </table>
                             <table class="govuk-table ">
                                <thead>
                                    <h3 class="govuk-heading-s" style="margin-bottom: 0px; margin-top:10px">Band D</h3>
                                    <p>Participants over the original band C target up to the new target. </p>
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header"></th>
                                         
                                          <th scope="col" class="govuk-table__header govuk-table__cell--numeric" style="font-weight:700"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Fee per participant</td>
                                    
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">£xxx</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Current participants </td>
                                      
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Back payment participants </td>
                                      
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row" style="font-weight:700">Payment</td>
                                          
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row" style="font-weight:700">£0.00</td>
                                    </tr>
                            <!--                                             <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row" style="">Forecast payment</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row" style="">£0</td>
                                    </tr> -->
                                </tbody>
                            </table>
                            </table>
                            <table class="govuk-table ">
                                <thead>
                                    <h3 class="govuk-heading-s" style="margin-bottom: 0px; margin-top:10px">Participant breakdown</h3>
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header"></th>
                                               <th scope="col" class="govuk-table__header govuk-table__cell--numeric" style="font-weight:700"></th>
                                         
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Current milestone</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row"><a href="paidList">300</a></td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Back payment participants </td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row"><a href="paidListBackPayments">200</a></td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row" style="font-weight:700">Total paid</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" style="font-weight:700" scope="row">500</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Total not paid</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row"><a href="rejectedList">10</a></td>
                                    </tr>
                                    <!--          <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Milestone 1 back payments</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row"><a href="paidListBackPayments">xxx</a></td>
                                    </tr> -->
                                </tbody>
                            </table>

          


                        </div>
                    </div>
                    <div class="accordion-section">
                        <div class="accordion-section-header">
                            <h2 class="govuk-heading-m">Output payment - January 2022 cohort </h2>
                        </div>
                        <div class="accordion-section-body">
                            <table class="govuk-table ">
                                <thead>
                                    <h3 class="govuk-heading-s" style="margin-bottom: 0px; margin-top:10px">Band A</h3>
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header"></th>
                                    
                                          <th scope="col" class="govuk-table__header govuk-table__cell--numeric" style="font-weight:700"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Fee per participant</td>
                                        
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">£xxx</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Current participants </td>
                                      
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">600</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Back payment participants </td>
                                      
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row" style="font-weight:700">Payment</td>
                                   
                                            <td class="govuk-table__cell govuk-table__cell--numeric" scope="row" style="font-weight:700">£98,182.00</td>
                                    </tr>
                      <!--           <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row" style="">Forecast payment</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row" style="">£98,182</td>
                                    </tr> -->
                                </tbody>
                            </table>
                            <table class="govuk-table ">
                                <thead>
                                    <h3 class="govuk-heading-s" style="margin-bottom: 0px; margin-top:10px">Band B</h3>
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header"></th>
                                             
                                          <th scope="col" class="govuk-table__header govuk-table__cell--numeric" style="font-weight:700"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Fee per participant</td>
                                        
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">£xxx</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Current participants</td>
                                     
                                         <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Back payment participants </td>
                                      
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row" style="font-weight:700">Payment</td>
                                      
                                          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row" style="font-weight:700">£0.00</td>
                                    </tr>
                         <!--             <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row" style="">Forecast payment</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row" style="">£0</td>
                                    </tr> -->
                                </tbody>
                            </table>
                            <table class="govuk-table ">
                                <thead>
                                    <h3 class="govuk-heading-s" style="margin-bottom: 0px; margin-top:10px">Band C</h3>
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header"></th>
                                       
                                          <th scope="col" class="govuk-table__header govuk-table__cell--numeric" style="font-weight:700"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Fee per participant</td>
                                      
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">£xxx</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Current participants </td>
                                      
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Back payment participants </td>
                                   
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row" style="font-weight:700">Payment</td>
                                         
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row" style="font-weight:700">£0.00</td>
                                    </tr>
                            <!--                                             <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row" style="">Forecast payment</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row" style="">£0</td>
                                    </tr> -->
                                </tbody>
                            </table>
                             <table class="govuk-table ">
                                <thead>
                                    <h3 class="govuk-heading-s" style="margin-bottom: 0px; margin-top:10px">Band D</h3>
                                    <p>Participants over the original band C target up to the new target. </p>
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header"></th>
                                         
                                          <th scope="col" class="govuk-table__header govuk-table__cell--numeric" style="font-weight:700"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Fee per participant</td>
                                    
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">£xxx</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Current participants </td>
                                      
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Back payment participants </td>
                                      
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row" style="font-weight:700">Payment</td>
                                          
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row" style="font-weight:700">£0.00</td>
                                    </tr>
                            <!--                                             <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row" style="">Forecast payment</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row" style="">£0</td>
                                    </tr> -->
                                </tbody>
                            </table>
                            </table>
                            <table class="govuk-table ">
                                <thead>
                                    <h3 class="govuk-heading-s" style="margin-bottom: 0px; margin-top:10px">Participant breakdown</h3>
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header"></th>
                                               <th scope="col" class="govuk-table__header govuk-table__cell--numeric" style="font-weight:700"></th>
                                         
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Current milestone</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row"><a href="paidList">600</a></td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Back payment participants </td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row"><a href="paidListBackPayments">0</a></td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row" style="font-weight:700">Total paid</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" style="font-weight:700" scope="row">600</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Total not paid</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row"><a href="rejectedList">10</a></td>
                                    </tr>
                                    <!--          <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Milestone 1 back payments</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row"><a href="paidListBackPayments">xxx</a></td>
                                    </tr> -->
                                </tbody>
                            </table>
                                            
                        </div>
                    </div>
                    <!--                    <div class="accordion-section">
                        <div class="accordion-section-header">
                            <h2 class="govuk-heading-m">Back payment </h2>
                        </div>
                        <div class="accordion-section-body">
                            <table class="govuk-table ">
                                <thead>
                                    <h3 class="govuk-heading-s" style="margin-bottom: 0px; margin-top:10px">Milestone 1</h3>
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header"></th>
                                        <th scope="col" class="govuk-table__header"></th>
                                    </tr>
                                </thead>
                                <tbody>
                              
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Number of participants </td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">900</td>
                                    </tr>
                          
                                </tbody>
                            </table>
                            
                            
                        </div>
                    </div> -->
                    <div class="accordion-section">
                        <div class="accordion-section-header">
                            <h2 class="govuk-heading-m">Uplift payment </h2>
                        </div>
                        <div class="accordion-section-body">
                            <table class="govuk-table ">
                                <thead>
                                    <!--    <h3 class="govuk-heading-s" style="margin-bottom: 0px; margin-top:10px">ECF FIP Band A</h3> -->
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header"></th>
                                           
                                          <th scope="col" class="govuk-table__header govuk-table__cell--numeric" style="font-weight:700"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Fee per participant</td>
                                   
                                          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">£xxx</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Current participants </td>
                                   
                                         <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">400</td>
                                    </tr>
                   <!--                         <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Backpayment participants </td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">900</td>
                                         <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">900</td>
                                    </tr> -->
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row" style="font-weight:700">Payment</td>
                                       
                                               <td class="govuk-table__cell govuk-table__cell--numeric" scope="row" style="font-weight:700">£90,000.00</td>
                                    </tr>
                            <!--                                             <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row" style="">Forecast payment</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row" style="">£90,000</td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <div class="accordion-section-header">
                            <h2 class="govuk-heading-m">Clawbacks </h2>
                        </div>
                        <div class="accordion-section-body">
                            <table class="govuk-table ">
                                <thead>
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header"></th>
                                        <th scope="col" class="govuk-table__header"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                  
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row" style="font-weight:700">Clawbacks</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row" style="font-weight:700">£0.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>

            
            </div>

            
        </div>
    </main>
</div>
{% endblock %}