{% extends "layout.html" %}
{% block beforeContent %}

{% endblock %}
{% block content %}

<script src="/public/javascripts/accordion.js"></script>

<script>
// uncomment this to turn on the accordions

if (
    'addEventListener' in document &&
    document.querySelectorAll
) {
    document.addEventListener('DOMContentLoaded', function() {
        var accordions = document.querySelectorAll('.accordion')
        for (var i = accordions.length - 1; i >= 0; i--) {
            new Accordion(accordions[i])
        };
    })
}
</script>




<!-- include "includes/webchat/chatjsuser.html" 
 -->

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
           <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl" >Take a national professional qualification (NPQ)</h1>

      <p class="linksAtTop">Contents</p>
      <p class="linksAtTop">&#8212 <a href="./">What is an NPQ</a></p>
      <p class="linksAtTop">&#8212 <a href="study">Benefits of an NPQ</a></p>
       <p class="linksAtTop">&#8212 <a href="courses"> Available courses</a></p>
       <p class="linksAtTop">&#8212 <a href="pay">Payment</a></p>
       <p class="linksAtTop">&#8212 Providers</p>
       <p class="linksAtTop">&#8212 <a href="apply">Apply</a></p>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <h2 class="govuk-heading-m" >Providers</h2>
<p>There are nine training providers across the United Kingdom which run NPQ training courses.</p>
<p>They are:</p>

       <ul class="govuk-list govuk-list--bullet">
            <li><a href="../ambition">Ambition Institute</a></li>
            <li><a href="">Best Practice Network</a></li>
             <li><a href="">Church of England</a></li>
             <li><a href="">Education Development Trust</a></li>
             <li><a href="">Harris Federation</a> </li>
             <li><a href="">Leadership Learning South East</a> </li>
             <li><a href="">Teacher Development Trust</a> </li>
             <li><a href="">Teach First</a> </li>
             <li><a href="">UCL Institute of Education</a> </li>

        </ul>
<p>Some providers may have specific criteria depending on your school’s circumstances.</p>
<p>For example, the provider may require your school to be rated ‘good’ or ‘outstanding’ if you wish to train for their NPQ.
Check with your current school to see if they recommended accredited partners for NPQ training.</p>




<nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
  <ul class="gem-c-pagination__list" data-module="track-click">
      <li class="gem-c-pagination__item gem-c-pagination__item--next">
        <a href="apply" class="gem-c-pagination__link" rel="next" data-track-category="contentsClicked" data-track-action="next" data-track-label="guidance/pay" data-track-dimension="next" data-track-dimension-index="29">
          <span class="gem-c-pagination__link-title">
            <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
            <span class="gem-c-pagination__link-text">
              Next
            </span>
          </span>
            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
            <span class="gem-c-pagination__link-label" style="margin-left:27px">How do I apply</span>
        </a>
      </li>
  </ul>
</nav>
</div>
            <div class="column-one-third">
          
            <!--    <h3 class="govuk-heading-s"  >Related content</h3> -->

        
          </div>
</div>
<!--  include "includes/webchat/chatbox.html" 
 --></main>
{% endblock %}
