{% extends "layout-full-width.html" %}
{% block beforeContent %}

{% endblock %}
{% block content %}


<div class="govuk-grid-row">
 
    <div class="govuk-grid-column-full">

       
      <img style="float:right" height="200px;" width="300px;" src="/public/images/3jnq.gif" alt="wip gif"> 
        <h1 class="govuk-heading-xl " style="margin-top: 0;"  id="company-Name">Service performance</h1> 

       
            <nav class="app-subnav " aria-label="Sub navigation">
                <ul class="app-subnav__list">
                    <li class="app-subnav__list-item ">
                <a class="govuk-link app-subnav__link govuk-link--no-visited-state" aria-current="page" href="service-performance">
                  
API usage overview
              
              </a></li>
              
              <li class="app-subnav__list-item  ">
                <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="trainee-details">
                  
                Trainee details
              
                    <span class="govuk-visually-hidden">Current page</span>
              </a></li>

              <li class="app-subnav__list-item app-subnav__list-item--selected">
                <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="declarations-feed">
              Declarations feed
              
                    <span class="govuk-visually-hidden">Current page</span>
              </a></li>

           
              
                </ul>
              </nav>
     <h2 class="govuk-heading-l">  Declarations feed </h2>



    </div>


</div>


<script src="/public/javascripts/filters.js"></script>
{% endblock %}