{% extends "layout.html" %} {% block beforeContent %} {% include "includes/version1/mainNav.html" %}    {% include "includes/version1/financeNav.html" %} {% from "govuk/components/back-link/macro.njk" import govukBackLink %} {{ govukBackLink({ text: "Back", href: "./" }) }} {% endblock %} {% block content %}


<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Credit details</h1>
                <p> The following shows details of the payment into your account. </p>
                <table class="govuk-table ">
                    <thead>
                        <tr class="govuk-table__row">
                   
                                <h2 class="govuk-heading-m">Overview</h2>
                     
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">Payment type</td>
                            <td class="govuk-table__cell" scope="row">Skills Funding Agency Payment</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">Date</td>
                            <td class="govuk-table__cell" scope="row">23 May 2018</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">Payment amount</td>
                            <td class="govuk-table__cell" scope="row">£235,062.12</td>
                        </tr>
                    </tbody>
                </table>
              <table class="govuk-table ">
                <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <h2 class="govuk-heading-m">Payroll</h2>
                            <th scope="col" class="govuk-table__header">Payroll number</th>
                            <th class=" govuk-table__header numeric" scope="col">English percentage</th>
                            <th scope="col" class=" govuk-table__header numeric">Amount</th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">387/987</td>
                            <td class="govuk-table__cell numeric">81%</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£117,531.06</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">987/666</td>
                            <td class=" govuk-table__cell numeric">67%</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£117,532.06</td>
                        </tr>
                        <!--tr> <td class="govuk-table__cell" scope="row">Current total</td><td class="govuk-table__cell" scope="row">£2,987.24</td><td class="govuk-table__cell" scope="row"></td></tr-->
                    </tbody>
                </table>
            </div>
        </div>
</main>
</div>


{% endblock %}

