{% extends "layout.html" %}
{% block beforeContent %}

{% endblock %}
{% block content %}

<script src="/public/javascripts/accordion.js"></script>

<script>
// uncomment this to turn on the accordions

if (
    'addEventListener' in document &&
    document.querySelectorAll
) {
    document.addEventListener('DOMContentLoaded', function() {
        var accordions = document.querySelectorAll('.accordion')
        for (var i = accordions.length - 1; i >= 0; i--) {
            new Accordion(accordions[i])
        };
    })
}
</script>




<!-- include "includes/webchat/chatjsuser.html" 
 -->

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
           <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl" >Take a national professional qualification (NPQ)</h1>

      <p class="linksAtTop">Contents</p>
          <p class="linksAtTop">&#8212 <a href="./">What is an NPQ</a></p>
      <p class="linksAtTop">&#8212 <a href="study">Benefits of an NPQ</a></p>
       <p class="linksAtTop">&#8212 Available courses</p>
        <p class="linksAtTop">&#8212 <a href="pay">Payment</a></p>
       <p class="linksAtTop">&#8212 <a href="provider">Providers</a></p>
       <p class="linksAtTop">&#8212 <a href="apply">Apply</a></p>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <h2 class="govuk-heading-m" >Available courses</h2>
<p>From September 2021, NPQ courses previously will be changed.</p>
<p>These changes include:</p>
       <ul class="govuk-list govuk-list--bullet">
            <li>replacing the existing NPQs in senior leadership, headship and executive leadership</li>
            <li>replacing the current NPQ in middle leadership with 3 new NPQs for teachers and leaders who want to develop their expertise in specialist areas of teaching practice:</li>
             <ul class="govuk-list govuk-list--bullet">
              <LI>supporting the training and development of others</LI>
              <LI>developing teachers who are subject leads or responsible for improving teaching practice in a subject or phase</LI>
              <li>developing teachers who have responsibilities for leading behaviour and culture</li>

            </UL>
             <li>knowledge-based experience for the staffroom</li>
        </ul>
        <p>These will be known as:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>NPQ Senior Leadership </li>
             <li>NPQ Executive Leadership </li>
              <li>NPQ Headship </li>
               <li>NPQ Leading Teaching Development </li>
                <li>NPQ Leading Teaching </li>
                 <li>NPW Leading Behaviour and Culture </li>

          </ul>



<nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
  <ul class="gem-c-pagination__list" data-module="track-click">
      <li class="gem-c-pagination__item gem-c-pagination__item--next">
        <a href="pay" class="gem-c-pagination__link" rel="next" data-track-category="contentsClicked" data-track-action="next" data-track-label="guidance/pay" data-track-dimension="next" data-track-dimension-index="29">
          <span class="gem-c-pagination__link-title">
            <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
            <span class="gem-c-pagination__link-text">
              Next
            </span>
          </span>
            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
            <span class="gem-c-pagination__link-label" style="margin-left:27px">Who will pay for my NPQ</span>
        </a>
      </li>
  </ul>
</nav>
</div>
            <div class="column-one-third">
          
            <!--    <h3 class="govuk-heading-s"  >Related content</h3> -->

        
          </div>
</div>
<!--  include "includes/webchat/chatbox.html" 
 --></main>
{% endblock %}
