{% extends "layout.html" %}
{% block beforeContent %}

{% endblock %}
{% block content %}

<script src="/public/javascripts/accordion.js"></script>

<script>
// uncomment this to turn on the accordions

if (
    'addEventListener' in document &&
    document.querySelectorAll
) {
    document.addEventListener('DOMContentLoaded', function() {
        var accordions = document.querySelectorAll('.accordion')
        for (var i = accordions.length - 1; i >= 0; i--) {
            new Accordion(accordions[i])
        };
    })
}
</script>




<!-- include "includes/webchat/chatjsuser.html" 
 -->

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
           <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl" >Take a national professional qualification (NPQ)</h1>

      <p class="linksAtTop">Contents</p>
      <p class="linksAtTop">&#8212 What is an NPQ</p>
      <p class="linksAtTop">&#8212 <a href="guidance/study">Why should I study for an NPQ</a></p>
       <p class="linksAtTop">&#8212 <a href="guidance/courses">What courses are available</a></p>
       <p class="linksAtTop">&#8212 <a href="guidance/pay">Who will pay</a></p>
       <p class="linksAtTop">&#8212 <a href="guidance/provider">How do I find a provider</a></p>
       <p class="linksAtTop">&#8212 <a href="guidance/apply">How do I apply</a></p>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <h2 class="govuk-heading-m" >What is an NPQ</h2>
 <p>A National Professional Qualification (NPQ) is one of a series of leadership qualifications available to qualified teachers.</p>
<p>Each is designed to equip teachers with the skills and knowledge to make a big impact at the next stage of their career, as well as providing the basis to make improvements across their current school.</p>
<p>From September 2021, the existing four NPQs will be replaced by six new NPQs, designed to reform the qualifications first established in the 1990s.</p>



<nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
  <ul class="gem-c-pagination__list" data-module="track-click">
      <li class="gem-c-pagination__item gem-c-pagination__item--next">
        <a href="guidance/study" class="gem-c-pagination__link" rel="next" data-track-category="contentsClicked" data-track-action="next" data-track-label="/employing-an-apprentice/get-funding" data-track-dimension="next" data-track-dimension-index="29">
          <span class="gem-c-pagination__link-title">
            <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
            <span class="gem-c-pagination__link-text">
              Next
            </span>
          </span>
            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
            <span class="gem-c-pagination__link-label" style="margin-left:27px">Why should I study for an NPQ</span>
        </a>
      </li>
  </ul>
</nav>
</div>
            <div class="column-one-third">
          
            <!--    <h3 class="govuk-heading-s"  >Related content</h3> -->

        
          </div>
</div>
<!--  include "includes/webchat/chatbox.html" 
 --></main>
{% endblock %}
