
{% extends "layout.html" %}
{% block beforeContent %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  
        <div class="govuk-grid-row"">
                <div class="govuk-grid-column-two-thirds">


        <form method="get" action="changeEmailAddress">
            <h1 class="govuk-heading-xl">Confirm your email address</h1>
            <p>This is the email address you will use to sign in to the service.</p>


                  <dl class="app-check-your-answers app-check-your-answers--short">
               <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style=" font-weight:400; ;">
           
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; ;">
           
          </dd>
    
        </div>

  



        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; ;">
           Email
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; ">
           {{ data['email'] }} 
          </dd>
  
        </div>


      </dl>
    </div>
  </fieldset>
</div>
<div style="margin-top:25px"></div>
 <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

                              <!--   <p>Choose the End Point Assessment Organisation for   {{ data['course-name'] }}</p> -->
       

                                <label class="govuk-label  bold-label" for="firstName">
 Do you wish to use this email address to sign in to the service?

              </label>

                            </legend>
                            <div class="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="emailChange" name="emailChange" type="radio" value="email-yes" >
                                    <label class="govuk-label govuk-radios__label" for="TRN-yes">
                                       Yes, use this email address
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="emailChange" name="emailChange" type="radio" value="email-no" >
                                    <label class="govuk-label govuk-radios__label" for="TRN-no">
                                       No, I want to change the email address
                                    </label>
                                </div>
                    <!--             <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="epaoName-coventry" name="epao-name" type="radio" value="Coventry University" {{ checked( "epao-name", "Coventry University") }}>
                                    <label class="govuk-label govuk-radios__label" for="epaoName-coventry">
                                       Coventry University
                                    </label>
                                </div> -->
                            </div>
                        </fieldset>
                    </div>



            <button type="submit" class="govuk-button">Continue </button>
             <!--  <a  class="govuk-button clear-button" href="confirm-training-provider" >Cancel</a> -->
        </form>
    </div>
</div>
</main>
</div>



{% endblock %}