
{% extends "layout.html" %}
{% block beforeContent %}


{% endblock %}
{% block content %}

<div class="govuk-width-container">
 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <!--       <h1 class="govuk-heading-xl">
            Add an apprentice
        </h1> -->

           <p class="govuk-body">Dear NPQ Participant</p>
            <p class="govuk-body">Your NPQ provider has told the Department of Education (DfE) that you wish to start an NPQ.  To finish your application and access your NPQ course, you will need to complete this registration.</p>

        <h2 class="govuk-heading-m">Before you start</h2>

        <p class="govuk-body">
            You must:

            <ul class="govuk-list govuk-list--bullet">
                <li>have your Teacher Reference Number (TRN)</li>
   <!--              <li>know your training provider's UK Provider Reference Number (UKPRN) - your training provider can tell you this</li>
                <li>make sure the organisation that's named on the contract you have with your training provider is in your account - <a href="#">view organisations in this account</a></li>
                <li>make sure the PAYE scheme that each apprentice is paid through is in your account - <a href="#">view PAYE schemes in this account</a></li> -->
            </ul>

    <!--         <div style="margin-top:35px"></div>
            <form action="epaoChoice/oneOrBulk">
             <button class="govuk-button govuk-button--start">Start now</button>
            </form>  -->
        </p> 

<p><a href="teacher/startPage">Continue with registration</a></p>
<p class="govuk-body">If you did not register with this service, please ignore the email.</p>
<p class="govuk-body">Best Regards</p>
<p class="govuk-body">NPQ Team</p>



    </div>
</div>
</main>
</div>

{% endblock %}
