{% extends "layout.html" %}
{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">FCA Ltd</h1>
                <p style="margin-bottom:0; color: #505a5f; ">Payment of</p>
                <h2 class="govuk-heading-xl" style="margin-bottom: 0; padding-top:0">£324,000<!-- <span style="font-size:30px">.00</span> --></h2>
                <p style="margin-bottom:50px; color: #505a5f; ">On 21 May 2021</p>
                <!--  <p> The following shows details of the payment into your account. </p> -->
<div>
                <table class="govuk-table ">
                    <thead>
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header"></th>
                            <th scope="col" class="govuk-table__header"></th>
                            <th scope="col" class="govuk-table__header"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row" style="">Payment reference</td>
                            <td class="govuk-table__cell " scope="row">90210</td>
                            <td class="govuk-table__cell" scope="row" style=""></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row" style="max-width:370px">Payment period</td>
                            <td class="govuk-table__cell " scope="row">1 - 30 April 2021</td>
                            <td class="govuk-table__cell" scope="row" style=""></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row" style="max-width:370px">Cohort</td>
                            <td class="govuk-table__cell " scope="row">Sept 2021</td>
                            <td class="govuk-table__cell" scope="row" style=""></td>
                        </tr>
               
                    </tbody>
                </table>
          </div>      
         
                            <h2 class="govuk-heading-m" style="margin-top:50px;">NPQ Payment breakdown </h2>
                    
                      
                            <table class="govuk-table " style="">
                                <thead style="">
                                   
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header" style="padding-top:0; padding-bottom:0"></th>
                                        <th scope="col" class="govuk-table__header" style="padding-top:0 ; padding-bottom:0"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row"><a href="npqBreakdown">Leading teaching</a></td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">£1,026</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row"><a href="npqBreakdown">Leading behaviour</a> </td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">£974</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row" ><a href="npqBreakdown">Leading teacher development</a></td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row" >£2,000</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row"><a href="npqBreakdown">Senior leadership</a></td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">£3,000</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row"><a href="npqBreakdown">Headship</a> </td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">£1,000</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row" ><a href="npqBreakdown">Executive leadership</a></td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row" >£2,000</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="govuk-table ">
                    <thead>
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header"></th>
                            <th scope="col" class="govuk-table__header"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row" style="width: 500px; ">VAT</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">£2,000</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row" style="width: 500px; font-weight:700">Total payment</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" scope="row" style="font-weight:700">£12,000</td>
                        </tr>
                    </tbody>
                </table>
                           
                     <form method="get" action="#">
                             <button type="submit" class="govuk-button">Continue </button>
                    </form>


                    </div>
                </div>
          
                </div>
            </div>
    </main>
</div>
{% endblock %}