
{% extends "layout.html" %}
{% block beforeContent %}


{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Is this correct?    
        </h1>
  <h2 class="govuk-heading-s" style="margin-bottom:0px">
          File name  
        </h2>
  <p class="">updated_teachers_final_final.csv</p>


    

      <!--   <h2 class="govuk-heading-m">Before you start</h2> -->

        <p class="govuk-body">
            This file will:

            <ul class="govuk-list govuk-list--bullet">
                <li>add 15 new teachers</li>
                <li>change 85 Existing teachers details</li>

            </ul>
            <form method="get" action="finish">

      <div style="margin-top:25px"></div>
 <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

                              <!--   <p>Choose the End Point Assessment Organisation for   {{ data['course-name'] }}</p> -->
       

                                <label class="govuk-label  bold-label" for="firstName">
Update the details

              </label>

                            </legend>
                            <div class="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="emailChange" name="emailChange" type="radio" value="email-yes" >
                                    <label class="govuk-label govuk-radios__label" for="TRN-yes">
                                       Yes, update the details
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="emailChange" name="emailChange" type="radio" value="email-no" >
                                    <label class="govuk-label govuk-radios__label" for="TRN-no">
                                       No, do not update the details
                                    </label>
                                </div>
                    <!--             <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="epaoName-coventry" name="epao-name" type="radio" value="Coventry University" {{ checked( "epao-name", "Coventry University") }}>
                                    <label class="govuk-label govuk-radios__label" for="epaoName-coventry">
                                       Coventry University
                                    </label>
                                </div> -->
                            </div>
                        </fieldset>
                    </div>



            <button type="submit" class="govuk-button">Continue </button>
             <!--  <a  class="govuk-button clear-button" href="confirm-training-provider" >Cancel</a> -->
        </form>
    </div>
        </p>        
    </div>
</div>
</main>
</div>

{% endblock %}
