
{% extends "layout.html" %}
{% block beforeContent %}


{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Add and update teachers
        </h1>

  <p class="govuk-body-l">Add new teachers and update existing teacher details on the NPQ journey.</p>


    

        <h2 class="govuk-heading-m">Before you start</h2>

        <p class="govuk-body">
            You must:

            <ul class="govuk-list govuk-list--bullet">
                <li>have the teacher reference number (TRN)</li>
                <li>the teacher's name as it appears on the Database of Qualified Teachers (DQT)</li>

            </ul>

            <div style="margin-top:35px"></div>
            <form action="upload/uploadFile">
             <button class="govuk-button govuk-button--start">Start now</button>
            </form> 
        </p>        
    </div>
</div>
</main>
</div>

{% endblock %}
