
{% extends "layout.html" %}
{% block beforeContent %}


{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
           Testing the Continuing Professional Development (CPD) service
        </h1>

  <p class="govuk-body-l">This programme allows you to experience the CPD service as a school induction tutor, lead provider or software vendor.</p>
        <p>
You can:

        </p>

          <ul class="govuk-list govuk-list--bullet">
                <li>set up inductions for Early Career Teachers (ECTs) and mentors as a school</li>
                <li>register for a National Professional Qualification (NPQ) as a teacher </li>
                <lI>manage a list of school partnerships</li>
                  <li>test teacher API integrations – including retrieval of lists of Early Career Framework (ECF) participants or NPQ applications and confirm an individual’s participation with a programme</li>
            </ul>

    <!--  <div class="govuk-inset-text">If you have already applied for an NPQ, you can<a href="tstart/signIn"> check the status of your application</a></div> -->

        <h2 class="govuk-heading-m">Before you start</h2>

        <p class="govuk-body">
            Testing as an ECF provider? You must contact us by email at <a href="">continuing-professional-development@digital.education.gov.uk</a> </p><p>We can then set up your test login.</p>

       

            <div style="margin-top:35px"></div>
            <form action="sandbox/choose">
             <button class="govuk-button govuk-button--start">Start now</button>
            </form> 
          
    </div>
</div>
</main>
</div>

{% endblock %}
