{% extends "layout.html" %}
{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "choose-provider"
}) }}
{% endblock %}
{% block content %}




        <div class="govuk-grid-row">
           
            <div class="govuk-grid-column-full "> 
             <span class="govuk-caption-xl">Early career framework payment breakdown</span>
                <h1 class="govuk-heading-xl">{{data.providerName}} </h1>
               
                <!-- <nav class="app-subnav govuk-!-margin-top-6" aria-label="Sub navigation">
                  <ul class="app-subnav__list">
                      <li class="app-subnav__list-item app-subnav__list-item--selected">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" aria-current="page" href="">
                  Payment breakdown
                 <span class="govuk-visually-hidden">Current page</span>
                </a></li>
                <li class="app-subnav__list-item">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="ecf-participant-information-p1-option-1">
                    
                  Participants
                </a></li>

                  <li class="app-subnav__list-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="ecf-delivery-partner-breakdown">
                    
                      Delivery partner breakdown 
                      <span class="govuk-visually-hidden">Current page</span>
                </a></li>
                
                  </ul>
                </nav> -->

                <div  style="display:inline-block" class="">
           
                
                  <div class="autocomplete-wrapper">
                    <label class="govuk-label" for="sort">
                      View previous payment breakdown
                          </label>
                    <select class="govuk-select autocomplete-element" id="delveryProvider" name="delveryProvider">


                       <option value="" ></option>
                        <option value="dec">December 2021</option>
                        <option value="nov">November 2021</option>
                        <option value="oct" >October 2021</option>
                        <option value="sep">September 2021</option>
                        <option value="aug"> August 2021</option>
                        <option value="jul" >July 2021</option>
                        <option value="jun">June 2021</option>
                        <option value="may">May 2021</option>
                        <option value="apr" >April 2021</option>
                        <option value="mar">March 2021</option>
                        <option value="feb">February 2021</option>
                        <option value="jan" >January 2021</option>
                       
                    </select>
                
          
          </div>
     
        </div>
        <button  style=" margin-top:30px; display:inline-block" class="govuk-button govuk-!-margin-left-2" data-module="govuk-button">
          View
        </button>
    
          <div class="">
            <div  style="display:inline-block" class="govuk-form-group govuk-radios--small govuk-!-margin-bottom-0 ">
              <div class="govuk-radios govuk-radios--inline govuk-!-margin-bottom-0 ">
                <div class="govuk-radios__item"><input class="govuk-radios__input"
                    id="lab-based-testing-and-capacity-by-test-type-0"
                    name="lab-based-testing-and-capacity-by-test-type-option-choices" type="radio" value="PCR tests"
                    checked=""><label class="govuk-label govuk-radios__label "
                    for="lab-based-testing-and-capacity-by-test-type-0">Current payment breakdown</label></div>
                <div class="govuk-radios__item"><input class="govuk-radios__input"
                    id="lab-based-testing-and-capacity-by-test-type-1"
                    name="lab-based-testing-and-capacity-by-test-type-option-choices" type="radio" value="Antibody tests"><label
                    class="govuk-label govuk-radios__label " for="lab-based-testing-and-capacity-by-test-type-1">Forecast payment breakdown</label></div>

                  
                  
              </div>
            
            </div>
          
            
</div>

                <!-- <nav class="app-subnav govuk-!-margin-top-6" aria-label="Sub navigation">
                  <ul class="app-subnav__list">
                      <li class="app-subnav__list-item">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" aria-current="page" href="">
                    
           Milestone 1
                 <span class="govuk-visually-hidden">Current page</span>
                </a></li>
                <li class="app-subnav__list-item">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="ecf-delivery-partner-breakdown">
                    
             Milestone 2
                </a></li>
                <li class="app-subnav__list-item">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="ecf-delivery-partner-breakdown">
                    
             Milestone 3
                </a></li>
                <li class="app-subnav__list-item  app-subnav__list-item--selected">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="ecf-delivery-partner-breakdown">
                    
             Milestone 4 - <strong class="govuk-tag govuk-tag--turquoise">
              Current
            </strong>
                </a></li>
                <li class="app-subnav__list-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="ecf-delivery-partner-breakdown">
                    
             Milestone 5
                </a></li>
                <li class="app-subnav__list-item">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="ecf-delivery-partner-breakdown">
                    
             Milestone 6
                </a></li>
                
                
                  </ul>
                </nav> -->

           
                <!-- <div  class="govuk-form-group govuk-radios--small  ">
                  <div class="govuk-radios  govuk-radios--inline govuk-!-margin-bottom-0 ">
                    <div class="govuk-radios__item"><input class="govuk-radios__input"
                        id="lab-based-testing-and-capacity-by-test-type-0"
                        name="lab-based-testing-and-capacity-by-test-type-option-choices" type="radio" value="PCR tests"
                        checked=""><label class="govuk-label govuk-radios__label "
                        for="lab-based-testing-and-capacity-by-test-type-0">Current payment breakdown</label></div>
                    <div class="govuk-radios__item"><input class="govuk-radios__input"
                        id="lab-based-testing-and-capacity-by-test-type-1"
                        name="lab-based-testing-and-capacity-by-test-type-option-choices" type="radio" value="Antibody tests"><label
                        class="govuk-label govuk-radios__label " for="lab-based-testing-and-capacity-by-test-type-1">Payable payment breakdown</label></div>
                  </div>
                </div> -->

            <div class="vaccinations  " itemtype="https://schema.org/SpecialAnnouncement" itemprop="SpecialAnnouncement" itemscope="">

                <div class="topic"><strong itemprop="name" class="govuk-caption-m govuk-!-font-weight-regular">Payment total</strong>
                    <h4 class="govuk-heading-l title-mobile govuk-!-margin-bottom-0">£975,103.20</h4>
                    <p class="grey govuk-!-font-size-16 govuk-!-margin-top-1">
                      
                      <span
                            class="card-timestamp">Milestone end date 21 November 2021</span></p>

                            
                            <div class="additional-info bottom-aligned">
                                <p class=" govuk-!-margin-top-0 govuk-!-font-size-16">
                                <a href="" class="govuk-link govuk-link--no-visited-state bottom-aligned govuk-!-margin-top-2 ext-link">
                                    <strong>Download payment breakdown (PDF)</strong>
                                    </a>
                                </p>
                                <p class="govuk-!-margin-bottom-0 govuk-!-margin-top-0 govuk-!-font-size-16">
                                  <a href="" class="govuk-link govuk-link--no-visited-state bottom-aligned govuk-!-margin-top-2 ext-link">
                                      <strong>Download payment breakdown (CSV)</strong>
                                      </a>
                                  </p>
                            </div>
                </div>

                <ul class="first govuk-list">
                  <li itemprop="Observation" itemtype="https://schema.org/Observation" itemscope="">
                    <strong class="govuk-body-s float govuk-!-margin-bottom-0">PO number</strong>
                     <div class="number-group">
                         <div class="number-container govuk-!-padding-right-4">
                             <div class="float tooltip">
                                 <div class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
                                     <span class="">001</span></div>
                             </div>
                         </div>
                     </div>
                 </li>
                    <li itemprop="Observation" itemtype="https://schema.org/Observation" itemscope="">
                       <strong class="govuk-body-s float govuk-!-margin-bottom-0">
                        Current ECTs</strong>
                        <div class="number-group">
                            <div class="number-container govuk-!-padding-right-4">
                                <div class="float tooltip">
                                    <div class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
                                        <span class="">1500</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="second govuk-list">
                  <li itemprop="Observation" itemtype="https://schema.org/Observation" itemscope="">
                    <strong class="govuk-body-s float govuk-!-margin-bottom-0">Contract number</strong>
                     <div class="number-group">
                         <div class="number-container govuk-!-padding-right-4">
                             <div class="float tooltip">
                                 <div class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
                                     <span class="">	ABC123 </span></div>
                             </div>
                         </div>
                     </div>
                 </li>
                    <li itemprop="Observation" itemtype="https://schema.org/Observation" itemscope="">
                        <strong class="govuk-body-s float govuk-!-margin-bottom-0">Current mentors</strong>
                        <div class="number-group">
                            <div class="number-container govuk-!-padding-right-4">
                                <div class="float tooltip">
                                    <div class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
                                        <span class="">500</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="booster govuk-list">
                  
                  <li itemprop="Observation" itemtype="https://schema.org/Observation" itemscope="">
                    <strong class="govuk-body-s float govuk-!-margin-bottom-0">Recruitment target</strong>
                     <div class="number-group">
                         <div class="number-container govuk-!-padding-right-4">
                             <div class="float tooltip">
                                 <div class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
                                     <span class="">	4500 </span></div>
                             </div>
                         </div>
                     </div>
                 </li>
                    <li itemprop="Observation" itemtype="https://schema.org/Observation" itemscope="">
                        <strong class="govuk-body-s float govuk-!-margin-bottom-0"> <strong>Total declarations </strong></strong> 
                        <div class="number-group">
                            <div class="number-container govuk-!-padding-right-4">
                                <div class="float tooltip">
                                    <div class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
                                        <span class="">2000</span></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
 
                                
            </div>   
            <br>
                                    </div>
       

<div class="govuk-grid-column-full ">
  
  
            <div style="border-bottom:none; border-top:none" class="vaccinations " itemtype="https://schema.org/SpecialAnnouncement" itemprop="SpecialAnnouncement" itemscope="">
         

                <div class="govuk-grid-column-full ">
                  <h2 class="govuk-heading-m">Output fee  
                    <div style="float:right" class="govuk-radios__item">  <a href="participant-information" class="govuk-link  govuk-!-font-size-16">
              <strong> View participant information</strong>       
                           </a></div>
                  </h2>
               
               
                  <table class="govuk-table">
              
   
                   
             
                    <thead class="govuk-table__head">
             
                      <tr  class="govuk-table__row">
                       
                
                        <th  style="border-bottom: 1px solid black;" scope="col"  class="govuk-table__header">Band</th>
                        <th  style="border-bottom: 1px solid black;" style="border-bottom: 1px solid black;" scope="col" class="govuk-table__header govuk-table__header--numeric">Started declarations </th>
                        <th  style="border-bottom: 1px solid black;" style="border-bottom: 1px solid black;" scope="col" class="govuk-table__header govuk-table__header--numeric">Retained declarations</th>
                        <th  style="border-bottom: 1px solid black;" style="border-bottom: 1px solid black;" scope="col" class="govuk-table__header govuk-table__header--numeric">Completed declarations</th>
                        <th   style="border-bottom: 1px solid black;"scope="col" class="govuk-table__header govuk-table__header--numeric">Fee per participant</th>
                        <th   style="border-bottom: 1px solid black;"scope="col" class="govuk-table__header govuk-table__header--numeric">Payments</th>
                      </tr>
                      <th  style=" border-bottom: 1px solid black;" scope="col" colspan="7" class="govuk-table__header govuk-colour">January 2021 declarations</th>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td  scope="row" class="govuk-table__cell">Band A</td>
                        <td  class="govuk-table__cell govuk-table__cell--numeric">     1000</td>
                        <td  class="govuk-table__cell govuk-table__cell--numeric">     1000</td>
                        <td  class="govuk-table__cell govuk-table__cell--numeric">     1000</td>
                        <td  class="govuk-table__cell govuk-table__cell--numeric">     £168</td>
                        <th class="govuk-table__cell govuk-table__cell--numeric">£168,000.00</th>
                      </tr>
                      <tr class="govuk-table__row">
                        <td  scope="row" class="govuk-table__cell">Band B</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">     1000</td>
                        <td  class="govuk-table__cell govuk-table__cell--numeric">     1000</td>
                        <td  class="govuk-table__cell govuk-table__cell--numeric">     1000</td>
                        <td  class="govuk-table__cell govuk-table__cell--numeric">     £156</td>
                        <th  class="govuk-table__cell govuk-table__cell--numeric">£156,000.00</th>
                      </tr>
                      <tr class="govuk-table__row">
                        <td  style="border-bottom: 1px solid black;" scope="row" class="govuk-table__cell">Band C</td>
    
                        <td  style="border-bottom: 1px solid black;" class="govuk-table__cell govuk-table__cell--numeric">     250</td>
                        <td  style="border-bottom: 1px solid black;" class="govuk-table__cell govuk-table__cell--numeric">     250</td>
                        <td  style="border-bottom: 1px solid black;" class="govuk-table__cell govuk-table__cell--numeric">     250</td>
                        <td  style="border-bottom: 1px solid black;" class="govuk-table__cell govuk-table__cell--numeric">     £144</td>
                  
                     
                        <th  style="border-bottom: 1px solid black;" class="govuk-table__cell govuk-table__cell--numeric">£36,000</th>
                      
                      </tr>
                      <th  style="border-bottom: 1px solid black;"  scope="col" colspan="7" class="govuk-table__header">Retained declarations </th>
                      <tr class="govuk-table__row">
                        <td  scope="row" class="govuk-table__cell">Band A</td>
                        <td  class="govuk-table__cell govuk-table__cell--numeric">     1000</td>
                        <td  class="govuk-table__cell govuk-table__cell--numeric">     1000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">     1000</td>
                        <td  class="govuk-table__cell govuk-table__cell--numeric">     £168</td>
                        <th class="govuk-table__cell govuk-table__cell--numeric">£168,000.00</th>
                      </tr>
                      <tr class="govuk-table__row">
                        <td  scope="row" class="govuk-table__cell">Band B</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">     1000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">     1000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">     1000</td>
                        <td  class="govuk-table__cell govuk-table__cell--numeric">     £156</td>
                        <th  class="govuk-table__cell govuk-table__cell--numeric">£156,000.00</th>
                      </tr>
                      <tr class="govuk-table__row">
                        <td  style="border-bottom: 1px solid black;"  scope="row" class="govuk-table__cell">Band C</td>
                        <td  style="border-bottom: 1px solid black;"  class="govuk-table__cell govuk-table__cell--numeric">     250</td>
                        <td  style="border-bottom: 1px solid black;"  class="govuk-table__cell govuk-table__cell--numeric">     250</td>
                        <td  style="border-bottom: 1px solid black;" class="govuk-table__cell govuk-table__cell--numeric">     250</td>
                        <td  style="border-bottom: 1px solid black;"  class="govuk-table__cell govuk-table__cell--numeric">     £144</td>
                  
                     
                        <th  style="border-bottom: 1px solid black;" class="govuk-table__cell govuk-table__cell--numeric">£36,000</th>
                      
                      </tr>
                      <th  style="border-bottom: 1px solid black;"  scope="col" colspan="7" class="govuk-table__header">Completed declarations </th>
                      <tr class="govuk-table__row">
                        <td  scope="row" class="govuk-table__cell">Band A</td>
                        <td  class="govuk-table__cell govuk-table__cell--numeric">     1000</td>
                        <td  class="govuk-table__cell govuk-table__cell--numeric">     1000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">     1000</td>
                        <td  class="govuk-table__cell govuk-table__cell--numeric">     £168</td>
                        <th class="govuk-table__cell govuk-table__cell--numeric">£168,000.00</th>
                      </tr>
                      <tr class="govuk-table__row">
                        <td  scope="row" class="govuk-table__cell">Band B</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">     1000</td>
                        <td  class="govuk-table__cell govuk-table__cell--numeric">     1000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">     1000</td>
                        <td  class="govuk-table__cell govuk-table__cell--numeric">     £156</td>
                        <th  class="govuk-table__cell govuk-table__cell--numeric">£156,000.00</th>
                      </tr>
                      <tr class="govuk-table__row">
                        <td  style="border-bottom: 1px solid black;"  scope="row" class="govuk-table__cell">Band C</td>
                        <td  style="border-bottom: 1px solid black;"  class="govuk-table__cell govuk-table__cell--numeric">     250</td>
                        <td  style="border-bottom: 1px solid black;"  class="govuk-table__cell govuk-table__cell--numeric">     250</td>
                        <td  style="border-bottom: 1px solid black;"  class="govuk-table__cell govuk-table__cell--numeric">     250</td>
                     
                        <td  style="border-bottom: 1px solid black;"  class="govuk-table__cell govuk-table__cell--numeric">     £144</td>
                  
                     
                        <th  style="border-bottom: 1px solid black;" class="govuk-table__cell govuk-table__cell--numeric">£36,000</th>
                      
                      </tr>
               
                    </tbody>
                  </table>

                  <!-- <table class="govuk-table">
              
   
                   
             
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th  scope="col" class="govuk-table__header">September 2021 cohort </th>
                
                        <th  scope="col" class="govuk-table__header govuk-table__header--numeric">Participants started</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Participants retained</th>
                        <th  scope="col" class="govuk-table__header govuk-table__header--numeric">Back payment participants</th>
                        <th  scope="col" class="govuk-table__header govuk-table__header--numeric">Participant total</th>
                        <th  scope="col" class="govuk-table__header govuk-table__header--numeric">Fee per participant</th>
                        <th  scope="col" class="govuk-table__header govuk-table__header--numeric">Payments</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td  scope="row" class="govuk-table__cell">Band A</td>
                        <td  class="govuk-table__cell govuk-table__cell--numeric">     1000</td>
                        <td  class="govuk-table__cell govuk-table__cell--numeric">     1000</td>
                        <td  class="govuk-table__cell govuk-table__cell--numeric">     100</td>
                        <td  class="govuk-table__cell govuk-table__cell--numeric">     2100</td>
                        <td  class="govuk-table__cell govuk-table__cell--numeric">     £168</td>
                        <th class="govuk-table__cell govuk-table__cell--numeric">£168,000.00</th>
                      </tr>
                      <tr class="govuk-table__row">
                        <td  scope="row" class="govuk-table__cell">Band B</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">     1000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">     1000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">     100</td>
                        <td  class="govuk-table__cell govuk-table__cell--numeric">     2100</td>
                        <td  class="govuk-table__cell govuk-table__cell--numeric">     £156</td>
                        <th  class="govuk-table__cell govuk-table__cell--numeric">£156,000.00</th>
                      </tr>
                      <tr class="govuk-table__row">
                        <td  scope="row" class="govuk-table__cell">Band C</td>
                        <td  class="govuk-table__cell govuk-table__cell--numeric">     250</td>
                        <td  class="govuk-table__cell govuk-table__cell--numeric">     250</td>
                        <td  class="govuk-table__cell govuk-table__cell--numeric">     100</td>
                        <td  class="govuk-table__cell govuk-table__cell--numeric">     600</td>
                        <td  class="govuk-table__cell govuk-table__cell--numeric">     £144</td>
                  
                     
                        <th  class="govuk-table__cell govuk-table__cell--numeric">£36,000</th>
                      
                      </tr>
                  

                    </tbody>
                  </table> -->

            
                 <div style="float: right;" class="govuk-table__row">     
    <div class=" govuk-heading-s govuk-table__header--numeric">Output fee total <br>£156,000.00</div> 
  
</div>     

             </div>
          
                 </div>    
<!--                  
<br>
<div style="border-bottom:none; border-top:none" class="vaccinations" itemtype="https://schema.org/SpecialAnnouncement" itemprop="SpecialAnnouncement" itemscope="">
         

  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">Clawbacks
     
    </h2>
 
 
    <table class="govuk-table">


     

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th  scope="col" class="govuk-table__header govuk-table__header--numeric">Participants started</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Participants retained</th>
     
          <th  scope="col" class="govuk-table__header govuk-table__header--numeric">Participant total</th>
          <th  scope="col" class="govuk-table__header govuk-table__header--numeric">Fee per participant</th>
          <th  scope="col" class="govuk-table__header govuk-table__header--numeric">Payments</th>

        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
  
          <td  class="govuk-table__cell govuk-table__cell--numeric">     1000</td>
          <td  class="govuk-table__cell govuk-table__cell--numeric">     1000</td>

          <td  class="govuk-table__cell govuk-table__cell--numeric">     2100</td>
          <td  class="govuk-table__cell govuk-table__cell--numeric">     £168</td>
          <th class="govuk-table__cell govuk-table__cell--numeric">£168,000.00</th>
        </tr>
        <tr class="govuk-table__row">

          <td class="govuk-table__cell govuk-table__cell--numeric">     1000</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">     1000</td>
    
          <td  class="govuk-table__cell govuk-table__cell--numeric">     2100</td>
          <td  class="govuk-table__cell govuk-table__cell--numeric">     £156</td>
          <th  class="govuk-table__cell govuk-table__cell--numeric">£156,000.00</th>
        </tr>
        <tr class="govuk-table__row">
    
          <td  class="govuk-table__cell govuk-table__cell--numeric">     250</td>
          <td  class="govuk-table__cell govuk-table__cell--numeric">     250</td>
    
          <td  class="govuk-table__cell govuk-table__cell--numeric">     600</td>
          <td  class="govuk-table__cell govuk-table__cell--numeric">     £144</td>
    
       
          <th  class="govuk-table__cell govuk-table__cell--numeric">£36,000</th>
        
        </tr>
      

      </tbody>
    </table>
    <div style="float: right;">     
      <div class=" govuk-heading-s govuk-table__header--numeric">Clawbacks total <br>£156,000.00</div> 
    
  </div>     
</div>

   </div>     -->
                      <br>
                      <!-- <div style="border-bottom:none; border-top:none" class="vaccinations govuk-!-width-two-thirds" itemtype="https://schema.org/SpecialAnnouncement" itemprop="SpecialAnnouncement" itemscope="">
                     
            
                        <div style="width:120%" class="govuk-grid-column-full">
                          <h2 class="govuk-heading-m">Uplift payment
                            <a style="float:right; font-size: 16px;" href="" class="govuk-link govuk-link--no-visited-state">
                              <strong>View uplift payment information</strong>
                              </a>
                          </h2>
                       
                       
                          <table class="govuk-table ">
                      
                      
                           
                      
                            <thead class="govuk-table__head">
                              <tr class="govuk-table__row">
                      
                        
                                <th  scope="col" class="govuk-table__header ">Eligible participants</th>
                          
                                <th  scope="col" class="govuk-table__header govuk-table__header--numeric">Fee per participant</th>
                              </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                            
                              <tr class="govuk-table__row">
           
                          
                 
                                <td  class="govuk-table__cell ">     100</td>
                          
                             
                                <th  class="govuk-table__cell govuk-table__cell--numeric">£100</th>
                              
                              </tr>
                          
                            </tbody>
                          </table>
                          <div style="float: right;">     
                            <div class=" govuk-heading-s govuk-table__header--numeric">Uplift payment total <br>£10,000.00</div> 
                          
                        </div> 
                      
                      
                      </div>
                     
                         </div>    
                         <br> -->
               
                     
            <div style="border-bottom:none; border-top:none" class="vaccinations govuk-!-width-two-thirds" itemtype="https://schema.org/SpecialAnnouncement" itemprop="SpecialAnnouncement" itemscope="">
                     
            
              <div style="width:120%" class="govuk-grid-column-full">
                <h2 class="govuk-heading-m">Other fees
                  <a style="float:right; font-size: 16px;" href="" class="govuk-link govuk-link--no-visited-state">
                    <strong>View uplift payment information</strong>
                    </a>
                </h2>
             
             
                <table class="govuk-table">
            
            
                 
            
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
            
              
                      <th  scope="col" class="govuk-table__header govuk-table">Payment type</th>
                
                      <th  scope="col" class="govuk-table__header govuk-table__header--numeric">Payments</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
            
                
                      <td  class="govuk-table__cell">Clawbacks <br> Participants - 100 <br> Fee per participant - £100</td>
                      <th  class="govuk-table__cell govuk-table__cell--numeric">£10,000.00</th>
                    </tr>
                    <tr class="govuk-table__row">
            
                
                      <td  class="govuk-table__cell">     Uplift payment <br> Eligible participants - 100 <br> Fee per participant - £100</td>
                      <th  class="govuk-table__cell govuk-table__cell--numeric">£10,000.00</th>
                    </tr>
                    <tr class="govuk-table__row">
            
                
                      <td  class="govuk-table__cell">     Service fee</td>
                      <th  class="govuk-table__cell govuk-table__cell--numeric">£156,000.00</th>
                    </tr>
                    <tr class="govuk-table__row">
 
                
       
                      <td  class="govuk-table__cell ">     VAT</td>
                
                   
                      <th  class="govuk-table__cell govuk-table__cell--numeric">£36,000</th>
                    
                    </tr>
                  
            
                  </tbody>
                </table>
                <div style="float: right;">     
                  <div class=" govuk-heading-s govuk-table__header--numeric">Other fees total <br>£10,000.00</div> 
                
              </div> 
            </div>
            
               </div>    
                            
              </div>     
                             
    
            </div>


{% endblock %}
