{% extends "layout.html" %}
{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}




        <div class="govuk-grid-row">
           
            <div class="govuk-grid-column-full ">
             <span class="govuk-caption-m">Payment history</span>
                <h1 class="govuk-heading-xl">{{data.name}}</h1>
                <table id="table" class="govuk-table  " style="">
                  <thead>
                        <tr class="govuk-table__row">
                 
                              <th scope="col" class="govuk-table__header">Milestone</th>
                              <th scope="col" class="govuk-table__header">Payment breakdown date</th>
                              <th scope="col" class="govuk-table__header">Payment status</th>
                              <th scope="col" class="govuk-table__header">Action</th>
                      </tr>
                  </thead>
                  <tbody id="shelulerData">

                        <tr id="row" class="govuk-table__row paid">
                        
                          <td class="govuk-table__cell" scope="row">6 -    <strong class="govuk-tag ">CURRENT</strong></td>
                        
                        
                          <td class="govuk-table__cell " scope="row">April 2021</td>
                        
                          <td class="govuk-table__cell" scope="row">
                            <strong class="govuk-tag govuk-tag--green">PAID</strong>
                        
                          </td>
                          <td scope="col" class="govuk-table__cell"><a href="ecf-payment-breakdown">View payment breakdown</a></td>
                        </tr>

                        <tr id="row" class="govuk-table__row paid">
                        
                          <td class="govuk-table__cell" scope="row">5</td>
                        
                        
                          <td class="govuk-table__cell " scope="row">January 2021</td>
                        
                          <td class="govuk-table__cell" scope="row">
                            <strong class="govuk-tag govuk-tag--green ">PAID</strong>
                        
                          </td>
                          <td scope="col" class="govuk-table__cell"><a href="ecf-payment-breakdown">View payment breakdow</a></td>
                        </tr>

                        <tr id="row" class="govuk-table__row paid">
                        
                          <td class="govuk-table__cell" scope="row">4</td>
                        
                        
                          <td class="govuk-table__cell " scope="row">September 2020</td>
                        
                          <td class="govuk-table__cell" scope="row">
                            <strong class="govuk-tag govuk-tag--green">PAID</strong>
                        
                          </td>
                          <td scope="col" class="govuk-table__cell"><a href="ecf-payment-breakdown">View payment breakdow</a></td>
                        </tr>

                        <tr id="row" class="govuk-table__row paid">
                        
                          <td class="govuk-table__cell" scope="row">3</td>
                        
                        
                          <td class="govuk-table__cell " scope="row">April 2020</td>
                        
                          <td class="govuk-table__cell" scope="row">
                            <strong class="govuk-tag govuk-tag--green">PAID</strong>
                        
                          </td>
                          <td scope="col" class="govuk-table__cell"><a href="ecf-payment-breakdown">View payment breakdown</a></td>
                        </tr>

                        <tr id="row" class="govuk-table__row paid">
                        
                          <td class="govuk-table__cell" scope="row">2</td>
                        
                        
                          <td class="govuk-table__cell " scope="row">January 2020</td>
                        
                          <td class="govuk-table__cell" scope="row">
                            <strong class="govuk-tag govuk-tag--green">PAID</strong>
                        
                          </td>
                          <td scope="col" class="govuk-table__cell"><a href="ecf-payment-breakdown">View payment breakdow</a></td>
                        </tr>

                        <tr id="row" class="govuk-table__row paid">
                        
                          <td class="govuk-table__cell" scope="row">1</td>
                        
                        
                          <td class="govuk-table__cell " scope="row">October 2020</td>
                        
                          <td class="govuk-table__cell" scope="row">
                            <strong class="govuk-tag govuk-tag--green">PAID</strong>
                        
                          </td>
                          <td scope="col" class="govuk-table__cell"><a href="ecf-payment-breakdown">View payment breakdow</a></td>
                        </tr>
         
                

                  </tbody>
              </table>
    
            

            
            </div>
</div>
            


{% endblock %}
