
{% extends "layout.html" %}
{% block beforeContent %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  
        <div class="govuk-grid-row"">
                <div class="govuk-grid-column-two-thirds">


        <form method="get" action="finish">
            <h1 class="govuk-heading-xl">Check your details</h1>
            <p>Check the following details are correct before continuing. </p>


                  <dl class="app-check-your-answers app-check-your-answers--short" style="margin-bottom:0">
               <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style=" font-weight:700; ;">
           
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:400; ;">
           
          </dd>
                <dd class="app-check-your-answers__change">
            <a href="#" style="font-weight:400; ;">
            
            </a>
          </dd>
     
        </div>

         <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:45%; font-weight:700; ;">
          First name
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:400; ">
            {{ data['firstName'] }} 
          </dd>
                    <dd class="app-check-your-answers__change">
            <a href="#" style="font-weight:400; ">
              Change
            </a>
          </dd>
    
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:45%; font-weight:700; ;">
           Last name
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:400; ">
            {{ data['lastName'] }} 
          </dd>
                    <dd class="app-check-your-answers__change">
            <a href="#" style="font-weight:400; ">
              Change
            </a>
          </dd>
  
        </div>
                <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:45%; font-weight:700; ;">
        TRN
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:400; ">
              {{ data['trnd'] }} 
          </dd>
                    <dd class="app-check-your-answers__change">
            <a href="#" style="font-weight:400; ">
              Change
            </a>
          </dd>
        </div>
                        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:45%; font-weight:700; ;">
       Date of birth
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:400; ">
              {{ data['dob-day'] }} {{ data['dob-month'] }} {{ data['dob-year'] }} 


          </dd>
                    <dd class="app-check-your-answers__change">
            <a href="#" style="font-weight:400; ">
              Change
            </a>
          </dd>
        </div>

          <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:45%; font-weight:700; ;">
        Email
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:400; ">
            {{ data['email'] }} 
          </dd>
                    <dd class="app-check-your-answers__change">
            <a href="#" style="font-weight:400; ">
              Change
            </a>
          </dd>
     
        </div>
                  <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:45%; font-weight:700; ;">
        Contact number
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:400; ">
            {{ data['phone'] }} 
          </dd>
                    <dd class="app-check-your-answers__change">
            <a href="#" style="font-weight:400; ">
              Change
            </a>
          </dd>
     
        </div>

                <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="font-weight:700; ">
          NPQ
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:400; ">
           {{ data['assessment'] }} 
          </dd>
                    <dd class="app-check-your-answers__change">
            <a href="#" style="font-weight:400; ">
              Change
            </a>
          </dd>
      
        </div>

               <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="font-weight:700; ">
          Provider
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:400; ">
           {{ data['providerName'] }} 
          </dd>
                    <dd class="app-check-your-answers__change">
            <a href="#" style="font-weight:400; ">
              Change
            </a>
          </dd>
      
        </div>
          </dl>

   
  
  

<!--                     <dl class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:100%; font-weight:700; border:none; ;">
     Why would you like to complete the School Leader programme with {{ data['providerName'] }} ?
          </dt>
                    <dd class="app-check-your-answers__change" style="border-bottom:0px;">
            <p style="margin:0;padding:0">  <a href="#" style="font-weight:400; ">
              Change
            </a></p>
          </dd>     
        </dl>
                         <div class="" style='font-weight:400; border-bottom: 1px solid #b1b4b6;padding: 0.63158em 1.05263em 0.47368em 0; '><p style="margin:0;padding:0">
           {{ data['proQuestionOne'] }}  
       </p>
            </div>

          <dl class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:100%; font-weight:700; border:none; ;">
     Provide a specific, recent example to show how you are ready for the next step in school leadership.
          </dt>
                    <dd class="app-check-your-answers__change" style="border-bottom:0px;">
           <p style="margin:0;padding:0"> <a href="#" style="font-weight:400; ">
              Change
            </a></p>
          </dd>     
        </dl>
                         <div class="" style='font-weight:400; border-bottom: 1px solid #b1b4b6;padding: 0.63158em 1.05263em 0.47368em 0; '><p style="margin:0;padding:0">
           {{ data['proQuestionTwo'] }}  
          </p>
            </div>

      <dl class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:100%; font-weight:700; border:none; ;">
     Choose one area you consider most important for you to develop in your role and explain how this will impact on pupils and staff at your school.
          </dt>
                    <dd class="app-check-your-answers__change" style="border-bottom:0px;">
            <p style="margin:0;padding:0">  <a href="#" style="font-weight:400; ">
              Change
            </a></p>
          </dd>     
        </dl>                   <div class="" style='font-weight:400; border-bottom: 1px solid #b1b4b6;padding: 0.63158em 1.05263em 0.47368em 0; '><p style="margin:0;padding:0">
           {{ data['proQuestionThree'] }}  
          </p>
            </div>


          <dl class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:100%; font-weight:700; border:none; ;">
    Choose the one area that you consider most important to develop in your role and how it will impact on pupils and staff at your school
          </dt>
                    <dd class="app-check-your-answers__change" style="border-bottom:0px;">
            <p style="margin:0;padding:0">  <a href="#" style="font-weight:400; ">
              Change
            </a></p>
          </dd>     
        </dl>
                         <div class="" style='font-weight:400; border-bottom: 1px solid #b1b4b6;padding: 0.63158em 1.05263em 0.47368em 0; '><p style="margin:0;padding:0">
           {{ data['proQuestionFour'] }}  
          </p>
            </div> -->





<dl class="app-check-your-answers app-check-your-answers--short">


        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:45%; font-weight:700; ;">
        St Mark's Church of England Junior School fully funding the NPQ 
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:400; ">
          Yes       
            </dd>
                    <dd class="app-check-your-answers__change">
            <a href="#" style="font-weight:400; ">
              Change
            </a>
          </dd>
     
        </div>
           

      </dl>
    </div>
  </fieldset>
</div>
<div style="margin-top:25px"></div>



            <button type="submit" class="govuk-button">Submit </button>
             <!--  <a  class="govuk-button clear-button" href="confirm-training-provider" >Cancel</a> -->
        </form>
    </div>
</div>
</main>
</div>



{% endblock %}