
{% extends "layout.html" %}
{% block beforeContent %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}


<div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                                <h1 class="govuk-heading-xl">Funding</h1>
                                 <p class="govuk-body"> </p>
                                 <p>St Mark's Primary School is not eligible for NPQ funding from the DfE.</p>
                                

                <form action="fundingchecker" method="get" class="form">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

                              <!--   <p>Choose the End Point Assessment Organisation for   {{ data['course-name'] }}</p> -->
       

                                <label class="govuk-label  bold-label" for="firstName">
Is St Mark's Primary School fully funding this NPQ?

              </label>

                            </legend>
                            <div class="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="funding" name="funding" type="radio" value="funding-yes" {{ checked( "funding", "funding-yes") }}>
                                    <label class="govuk-label govuk-radios__label" for="funding-yes">
                                       Yes, St Mark's Primary School is fully funding this NPQ
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="funding" name="funding" type="radio" value="funding-no" {{ checked( "funding", "funding-no") }}>
                                    <label class="govuk-label govuk-radios__label" for="funding-no">
                                       No, St Mark's Primary School is not fully funding this NPQ
                                    </label>
                                </div>
                    <!--             <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="epaoName-coventry" name="epao-name" type="radio" value="Coventry University" {{ checked( "epao-name", "Coventry University") }}>
                                    <label class="govuk-label govuk-radios__label" for="epaoName-coventry">
                                       Coventry University
                                    </label>
                                </div> -->
                            </div>
                        </fieldset>
                    </div>

                    <button class="govuk-button">Continue</button>
                    <!--  <a  class="govuk-button clear-button" href="apprenticeDetails/add-apprentice" >Skip and continue</a> -->
                </form>



            </div>
        </div>
    </main>


{% endblock %}
