{% extends "layout.html" %}
{% block beforeContent %}

{% endblock %}
{% block content %}




  

    <!----------/////////////////////////// MAIN PAGE CONTENT HERE /////////////////////////////////////////////////////////////////////////////////-->  
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l">

        <section id="allContentHome" class="">
            <!-- <div class="govuk-grid-row"> -->
                    <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl rj-headings-border" style="" id="company-Name">St Mark's Primary School
  <!--     <span class="govuk-caption-l">Account ID: XJBMNV</span></h1> -->
                <!--script>document.getElementById('company-Name').innerText = JSON.parse(localStorage.getItem('company-name-header'));</script-->
            </h1>
        </div>
    </div>
               <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <div style="max-width:90%">
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-one-half ">
                                    <h3 class="govuk-heading-m" style="margin-top:0 "><a href="index">Add teacher</a></h3>
                                    <p class="rj-home-spacer">Start a new NPQ registration</p>
                                </div>
                                <div class="govuk-grid-column-one-half">
                                    <h3 class="govuk-heading-m rj-top-border-mobile" style="margin-top:0;"><a href="./finance">Edit teacher</a></h3>
                                    <p>Make changes and updates</p>
                                </div>
                            </div>
                   
                   
                 
                        </div>
                    </div>
                    <div class="govuk-grid-column-one-third">
            
                    </div>
                </div>
            <!-- </div> -->
        </section>
</div>
    
{% endblock %}