
{% extends "layout.html" %}
{% block beforeContent %}


{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Register a teacher for a National Professional Qualification (NPQ)
        </h1>

  <p class="govuk-body-l">This service is for schools who want to register a teacher to study for an NPQ.</p>
        <p>
Use this service to:

        </p>

          <ul class="govuk-list govuk-list--bullet">
                <li>start a teacher's NPQ registration</li>
            </ul>

    

        <h2 class="govuk-heading-m">Before you start</h2>

        <p class="govuk-body">
            You must:

            <ul class="govuk-list govuk-list--bullet">
                <li>have the teacher reference number (TRN)</li>
                <li>have the funding source confirmed - either a scholarship, school or personal funding</li>
                <li>know which NPQ you want to register a teacher for</li>
                <li>have chosen a provider</li>
            </ul>

            <div style="margin-top:35px"></div>
            <form action="shareProvider">
             <button class="govuk-button govuk-button--start">Start now</button>
            </form> 
        </p>        
    </div>
</div>
</main>
</div>

{% endblock %}
