{% extends "layout.html" %}


{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{{ govukBackLink({
  text: "Back",
 href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}



        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                                <h1 class="govuk-heading-xl">Choose your provider</h1>
                                <p>These are the training providers who provide {{ data['assessment'] }}. Providers may have different entry requirements for courses.</p>
                                <p>Check with the person responsible for professional development at your school or college.  </p>
                               <!--  <p>You </p> -->
                    <!--                <span id="waste-hint" class="govuk-hint">
                                     The information you provide will help us personalise your experience and will not used for anything else
                                    </span> -->

        <!--     <p>We'll send you:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Reminders</li>
              <li>Help and advice</li>
              <li>Announcements</li>
           
            </ul>

            <p>to:  {{ data['email'] }} </p> -->

                <form action="HowPayingorNot" >
                  <!--!!!!!!! ------ NEXT LINK WAS confirmSchool !!!!!! --------->
                       <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <!-- <h2 class="govuk-fieldset__heading">Sign up to email updates?</h2> -->
                    </legend>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                      <div class="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="provider1" name="providerName" type="radio" value="Ambition Institute" {{ checked( 'chooseSearch', 'Ambition Institute') }}>
                                    <label class="govuk-label govuk-radios__label" for="epaoName-city-guilds">
                                       Ambition Institute
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="provider2" name="providerName" type="radio" value="Best Practice Network (home of Outstanding Leaders Partnership)" {{ checked( 'chooseSearch', 'Best Practice Network (home of Outstanding Leaders Partnership)') }}>
                                    <label class="govuk-label govuk-radios__label" for="epaoName-cumbria">
                                        Best Practice Network (home of Outstanding Leaders Partnership)
                                    </label>
                                </div>
                                          <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="provider3" name="providerName" type="radio" value="Church of England" {{ checked( 'chooseSearch', 'Church of England') }}>
                                    <label class="govuk-label govuk-radios__label" for="epaoName-cumbria">
                                        Church of England
                                    </label>
                                </div>
                                                    <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="provider4" name="providerName" type="radio" value=" Education Development Trust" {{ checked( 'chooseSearch', ' Education Development Trust') }}>
                                    <label class="govuk-label govuk-radios__label" for="epaoName-cumbria">
                                      Education Development Trust
                                    </label>
                                </div>
                                          <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="provider5" name="providerName" type="radio" value=" School-Led Network" {{ checked( 'chooseSearch', ' School-Led Network') }}>
                                    <label class="govuk-label govuk-radios__label" for="epaoName-cumbria">
                                       School-Led Network
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="provider6" name="providerName" type="radio" value=" Leadership Learning South East (LLSE)" {{ checked( 'chooseSearch', ' Leadership Learning South East (LLSE)') }}>
                                    <label class="govuk-label govuk-radios__label" for="epaoName-cumbria">
                                     Leadership Learning South East (LLSE)
                                    </label>
                                </div>

                                   <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="provider6" name="providerName" type="radio" value=" Teacher Development Trust" {{ checked( 'chooseSearch', ' Teacher Development Trust') }}>
                                    <label class="govuk-label govuk-radios__label" for="epaoName-cumbria">
                                    Teacher Development Trust
                                    </label>
                                </div>

                                   <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="provider6" name="providerName" type="radio" value=" Teach First" {{ checked( 'chooseSearch', ' Teach First') }}>
                                    <label class="govuk-label govuk-radios__label" for="epaoName-cumbria">
                                    Teach First
                                    </label>
                                </div>

                                   <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="provider6" name="providerName" type="radio" value=" UCL Institute of Education" {{ checked( 'chooseSearch', ' UCL Institute of Education') }}>
                                    <label class="govuk-label govuk-radios__label" for="epaoName-cumbria">
                                    UCL Institute of Education
                                    </label>
                                </div>
                     <!--                      <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="provider6" name="assessment" type="radio" value="provider6" {{ checked( 'chooseSearch', 'provider6') }}>
                                    <label class="govuk-label govuk-radios__label" for="epaoName-cumbria">
                                        NPQ 6
                                    </label>
                                </div> -->
                                
                            </div>
                        </fieldset>
                    </div>
                    <button class="govuk-button">Continue</button>
                </form>
            </div>
        </div>
    </main>
</div>

{% endblock %}
