
{% extends "layout.html" %}
{% block beforeContent %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  
        <div class="govuk-grid-row"">
                <div class="govuk-grid-column-two-thirds">


        <form method="get" action="confirmDetails">
            <h1 class="govuk-heading-xl">Funding </h1>
            <p>Your school or college is not eligible for NPQ government scholarship funding. </p>

<!--  <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Ways to pay for your {{data['assessment']}}?
    </span>
  </summary>
  <div class="govuk-details__text">

<p>Information about scholarships will go here</p>

  </div>
</details> -->
               <!--    <dl class="app-check-your-answers app-check-your-answers--short">
               <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style=" font-weight:400; ;">
           
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; ;">
           
          </dd>
    
        </div>

  



        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; ;">
           Funding
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; ">
           Scholarship
          </dd>
  
        </div>


      </dl>
    </div>
  </fieldset> 
</div>-->
<div style="margin-top:25px"></div>
 <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

                              <!--   <p>Choose the End Point Assessment Organisation for   {{ data['course-name'] }}</p> -->
       

                                <label class="govuk-label  bold-label" for="firstName">
How is your {{data['assessment']}} being paid for?

              </label>

                            </legend>
                            <div class="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="emailChange" name="paying" type="radio" value="School_paying" >
                                    <label class="govuk-label govuk-radios__label" for="TRN-yes">
                                       My school or college is covering the cost 
                                    </label>
                                </div>
                                         <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="trust" name="paying" type="radio" value="My trust is paying" >
                                    <label class="govuk-label govuk-radios__label" for="TRN-yes">
                                       My trust is paying 
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="paying" name="paying" type="radio" value="Teacher_paying" >
                                    <label class="govuk-label govuk-radios__label" for="TRN-no">
                                       I am paying 
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="paying" name="paying" type="radio" value="Another way" {{ checked( "epao-name", "Another way") }}>
                                    <label class="govuk-label govuk-radios__label" for="epaoName-coventry">
                                       My NPQ is being paid in another way
                                    </label>
                                      <div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
          For example, I am sharing the costs with my school or college
        </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>



            <button type="submit" class="govuk-button">Continue </button>
             <!--  <a  class="govuk-button clear-button" href="confirm-training-provider" >Cancel</a> -->
        </form>
    </div>
</div>
</main>
</div>



{% endblock %}