{% extends "layout-full-width.html" %}


{% block beforeContent %}

{%if data.scheme === "Early Career Framework (ECF)" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}



{{ govukBackLink({
    text: "Back",
    href: "ecf-payment-breakdown"
    }) }}

    {% endif %}
    {%if data.scheme === "National professional qualifications (NPQ)" %}

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
    
    
    
    {{ govukBackLink({
        text: "Back",
        href: "ecf-payment-breakdown"
        }) }}
        
        {% endif %}
{% endblock %}

{% block content %}

{%if data.scheme === "Early Career Framework (ECF)" %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
            
 


            <h1 class="govuk-heading-xl " style="margin-top: 0;"  id="company-Name">Change the status of declarations
            </h1>
            <div class="govuk-inset-text"> 
              <strong>Status of declarations</strong><br>
              <strong  class="govuk-tag govuk-tag--blue">
                READY FOR FINAL SIGN OFF
               </strong>
            </div>
            <form  method="post" novalidate="" autocomplete="off" action="ecf-payment-breakdown?payable=true&notification=1" >
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-fieldset__heading">
              Are the declarations ready to be paid?
                    </h1>
                  </legend>
                  <div id="changed-name-hint" class="govuk-hint">
                
                  </div>
                  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="changed-name">
       Yes
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                      <label class="govuk-label govuk-radios__label" for="changed-name-2">
                   No
                      </label>
                    </div>
                  </div>
              
                </fieldset>
              </div>
         
            <button type="submit" class="govuk-button" data-module="govuk-button">
              Confirm
            </button>
            </form>
              </div>
        
        </div>
 
{% endif %}

{%if data.scheme === "National professional qualifications (NPQ)" %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  



  <h1 class="govuk-heading-xl " style="margin-top: 0;"  id="company-Name">Change status of declarations
  </h1>
  <div class="govuk-inset-text"> 
    <strong>Status of declarations</strong><br>
    <strong  class="govuk-tag govuk-tag--blue">
      READY FOR FINAL SIGN OFF
     </strong>
  </div>
  <form  method="post" novalidate="" autocomplete="off" action="npq-payment-breakdown?payable=true&notification=1" >
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
    Are the declarations ready to be paid?
          </h1>
        </legend>
        <div id="changed-name-hint" class="govuk-hint">
      
        </div>
        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="changed-name">
Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="changed-name-2">
         No
            </label>
          </div>
        </div>
    
      </fieldset>
    </div>

  <button type="submit" class="govuk-button" data-module="govuk-button">
    Confirm
  </button>
  </form>
    </div>

</div>
 
{% endif %}
{% endblock %}


