{% extends "layout-full-width.html" %}
{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
  href: "ecf-payment-breakdown"
  }) }}


{% endblock %}
{% block content %}




        <div class="govuk-grid-row">
           
            <div class="govuk-grid-column-full "> 
            
              <h1 class="govuk-heading-xl " style="margin-top: 0;"  id="company-Name">Refunds</h1>
            
               

               
              <div class="govuk-inset-text">
                <strong class="">{{data.providerName}}</strong>
                <p class="">For milestone cut off 15 December 2021</p>
              </div>
             
   
    
                         
       

  
  
            <div style="border-bottom:none; border-top:none" class="vaccinations  " itemtype="https://schema.org/SpecialAnnouncement" itemprop="SpecialAnnouncement" itemscope="">
         

                <div class="govuk-grid-column-full ">
           
                
                  <table class="govuk-table ">
              
   
                   
             
                    <thead class="govuk-table__head">
                  
                      <tr  class="govuk-table__row">
                       
                  
                        <th   scope="col"  class="govuk-table__header">Refund type</th>
                  
                        <th    scope="col" class="govuk-table__header govuk-table__header--numeric">Band A </th>
                        <th   scope="col" class="govuk-table__header govuk-table__header--numeric">Band B </th>
                        <th   scope="col" class="govuk-table__header govuk-table__header--numeric">Band C </th>
                        <th   scope="col" class="govuk-table__header govuk-table__header--numeric">Band D </th>
                        <th   scope="col" class="govuk-table__header govuk-table__header--numeric">Payments</th>
                      </tr>
                     
                    </thead>
                  
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td  style="border-bottom: none;" scope="row" class="govuk-table__cell"> <strong>Starts</strong>
                        </td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">2000 </td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">2000</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">2000</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">500</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric"></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td   scope="row" class="govuk-table__cell">Fee per trainee</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £119.40</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £117.48</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £115.92</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £115.92</td>
                        <th   class="govuk-table__cell govuk-table__cell--numeric">-£763,560.00</th>
                   
                       </tr>
                       <tr class="govuk-table__row">
                        <td  style="border-bottom: none;" scope="row" class="govuk-table__cell"><strong>Retained 1</strong></td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">2000 </td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">2000</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">500</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric"></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td   scope="row" class="govuk-table__cell">Fee per trainee</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £110.40</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £112.48</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £100.92</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £95.92</td>
                        <th   class="govuk-table__cell govuk-table__cell--numeric">-£496,220.00</th>
                   
                       </tr>
                       <tr class="govuk-table__row">
                        <td  style="border-bottom: none;" scope="row" class="govuk-table__cell"><strong>Retained 2</strong> </td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">2000 </td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">2000</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">500</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric"></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td   scope="row" class="govuk-table__cell">Fee per trainee</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £110.40</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £112.48</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £100.92</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £95.92</td>
                        <th   class="govuk-table__cell govuk-table__cell--numeric">-£496,220.00</th>
                   
                       </tr>
                       <tr class="govuk-table__row">
                        <td  style="border-bottom: none;" scope="row" class="govuk-table__cell"><strong>Retained 3</strong></td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">2000 </td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">2000</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">500</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric"></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td   scope="row" class="govuk-table__cell">Fee per trainee</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £110.40</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £112.48</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £100.92</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £95.92</td>
                        <th   class="govuk-table__cell govuk-table__cell--numeric">-£496,220.00</th>
                   
                       </tr>
                       <tr class="govuk-table__row">
                        <td  style="border-bottom: none;" scope="row" class="govuk-table__cell"><strong>Retained 4</strong></td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">2000 </td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">2000</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">500</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric"></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td   scope="row" class="govuk-table__cell">Fee per trainee</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £110.40</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £112.48</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £100.92</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £95.92</td>
                        <th   class="govuk-table__cell govuk-table__cell--numeric">-£496,220.00</th>
                   
                       </tr>
                       <tr class="govuk-table__row">
                        <td  style="border-bottom: none;" scope="row" class="govuk-table__cell"><strong>Completed </strong></td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">2000 </td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">2000</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">2000</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">500</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric"></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td   scope="row" class="govuk-table__cell">Fee per trainee</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £105.40</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £104.48</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £103.92</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £100.92</td>
                        <th   class="govuk-table__cell govuk-table__cell--numeric">-£678,060.00</th>
                   
                       </tr>
                       
                    </tbody>
                  </table>
               
               

                 <div style="float: right;" class="govuk-table__row">     
    <div class=" govuk-heading-s govuk-table__header--numeric">Refunds total <br> -£3,426,500.00</div> 
  
</div>     

             </div>
          
                 </div>    
               

                      <br>
               
              </div>     
                  
    
            </div>
  
  
{% endblock %}
