{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Add adjustment</span>
      <h1 class="govuk-heading-xl">What is the adjustment you want to add?</h1>

      <form class="form" action="/url/of/next/page" method="post">
        <div class="govuk-form-group">
          <label class="govuk-label" for="adjustment-name">
            What is the name or description of the adjustment?
          </label>
          <input class="govuk-input" id="adjustment-name" name="adjustment-name" type="text">
        </div>
        <label class="govuk-label" for="adjustment-name">
          What is the amount of the adjustment?
        </label>
        <div id="more-detail-hint" class="govuk-hint">
          You can enter positive or negative amounts. ??
        </div>
        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-!-width-one-quarter" id="cost" name="cost" type="text" spellcheck="false">
        </div>
        <!-- <p>[Insert question content here]</p>

        <p>[See <a href="https://design-system.service.gov.uk">the GOV.UK Design System</a> for examples]</p> -->
        <div class="govuk-form-group"></div>
        <button class="govuk-button" data-module="govuk-button">Continue</button>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
