{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {% if data.scheme === "National professional qualifications (NPQs)" %}
     <span class="govuk-caption-xl">Add reconciliation</span>
      <h1 class="govuk-heading-xl">Check your answers</h1>

      <h2 class="govuk-heading-m">Reconciliation type</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reconciliation name or description
          </dt>
          <dd class="govuk-summary-list__value" id="data">
            <p>{{ data['nadjustment-name'] }}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="add-adjustment">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reconciliation amount
          </dt>
          <dd class="govuk-summary-list__value" id="data1">
            <p>£{{ data['nadjustment-cost'] }}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="add-adjustment">
              Change
              <span class="govuk-visually-hidden"> amount</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reconciliation made by
          </dt>
          <dd class="govuk-summary-list__value" id="data1">
            <p>{{ data['nadjustment-person'] }}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="add-adjustment">
              Change
              <span class="govuk-visually-hidden"> person</span>
            </a>
          </dd>
        </div>
      </dl>  

      <h2 class="govuk-heading-m">Now submit your reconciliation</h2>

      <p>By submitting this reconciliation you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="adda-confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Accept and submit
        </button>

      </form>
      {%else%}
      
      <span class="govuk-caption-xl">Add adjustment</span>
      <h1 class="govuk-heading-xl">Check your answers</h1>

      <h2 class="govuk-heading-m">Adjustment type</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Adjustment name or description
          </dt>
          <dd class="govuk-summary-list__value" id="data">
            <p>{{ data['adjustment-name'] }}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="add-adjustment">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Adjustment amount
          </dt>
          <dd class="govuk-summary-list__value" id="data1">
            <p>£{{ data['adjustment-cost'] }}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="add-adjustment">
              Change
              <span class="govuk-visually-hidden"> amount</span>
            </a>
          </dd>

        </div>
      </dl>  

      <h2 class="govuk-heading-m">Now submit your adjustment</h2>

      <p>By submitting this adjustment you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="adda-confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Accept and submit
        </button>

      </form>
      {%endif%}
    </div>
  </div>

  <!-- <script>
  var numl = sessionStorage.getItem("numl");
  console.log(numl);
  </script> -->

{% endblock %}
