{% extends "layout-full-width.html" %}
{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Back",
  href: "scheme"
  }) }}


{% endblock %}
{% block header %}

  {# Set serviceName in config.js. #}
 
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
     
    
  })
 
}}



<div  class="primary-nav-container">
  <div class="govuk-width-container">

  </div>
</div>
<div class="govuk-phase-banner govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong style="color:black; background-color: #fee100; border: 1px solid black" class="govuk-tag ">
  PROTOTYPE
    </strong>
    -&nbsp;
    <span class="govuk-phase-banner__text">
    This is not a real service
    </span>
  </p>
  
</div>

<style>
  .govuk-width-container {
    max-width: 90%;
  
  }
  </style>
 
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

          <span class="govuk-caption-xl">{{data.scheme}}</span>
          <h1 class="govuk-heading-xl " style="margin-top: 0;"  id="company-Name">Ambition Institute</h1>
          <!-- <span autocomplete="on" class="govuk-caption-l"> {% if data.providerName %} {{data.providerName}}{%else%} Ambition Institute 
            {%endif%}</span>  -->
            {% if data.statementPeriod === "March 2022" %}
                  <h2 class="govuk-heading-l">March 2022</h2>
            {%else%}
                   <h2 class="govuk-heading-l">February</h2>
            {%endif%}
  </div>
  <div class="govuk-grid-column-one-quarter">
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <h2 class="govuk-heading-s " style="margin-top: 0;"  id="company-Name">Related content</h2>
</div>
</div>

<!-- <div class="govuk-grid-row"> -->
 
          <!-- <div> -->
                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-quarter">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="sort">
                          View a different provider
                        </label>
                        <select class="govuk-select" id="sort" name="sort">
                          <option value="ambition" selected>Ambition Institute</option>
                          <option value="bpn">Best Practice Network</option>
                          <option value="capita">Capita</option>
                          <option value="edt">Education Development Trust</option>
                          <option value="edt">Teach First</option>
                          <option value="edt">UCL Institute of Education</option>
                        </select>
                      </div>
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="sort">
                          View a different cohort
                        </label>
                        <select class="govuk-select" id="sort" name="sort">
                          <option value="c2021" selected>2021</option>
                          <option value="c2022">2022</option>
                        </select>
                      </div>
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="sort">
                          View a different statement
                        </label>
                        <select class="govuk-select" id="month" name="statementPeriod">
                          <option value="February 2022" selected>February 2022</option>
                          <option value="March 2022">March 2022</option>
                          <option value="April 2022">April 2022</option>
                          <option value="May 2022">May 2022</option>
                          <option value="June 2022">June 2022</option>
                          <option value="July 2022">July 2022</option>
                        </select>
                      </div>
                      <button type="submit" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">
                        View
                      </button>
                      <br>
                      <br>
                      <p>
                        <a href="" class="govuk-link ">
                          Download declarations (CSV)
                        </a>
                      </p>
                    </div>
                    <div class="govuk-grid-column-three-quarters">
                      <div class="govuk-grid-column-one-third">
                          <h2 class="govuk-heading-m">Milestone cut off date</h2>
                          <p>30 November 2021</p>
                          <h2 class="govuk-heading-m">Payment date</h2>
                          <p>31 November 2021</p>
                        </div>
                        <div class="govuk-grid-column-one-third">
                          <h2 class="govuk-heading-m">Total declarations received</h2>
                          <p>11,600</p>
                          <h2 class="govuk-heading-m">Total voided</h2>
                          <p>15</p>
                        </div>
                        <div class="govuk-grid-column-one-third">
                          <!-- <caption class="govuk-table__caption govuk-table__caption--m">Summary</caption> -->
                          <table class="govuk-table">
                            <thead class="govuk-table__head">
                              <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Total (inc VAT)</th>
                                <th scope="col" class="govuk-table__header govuk-table__header--numeric">£1,526,674.00</th>
                              </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                              <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Service fee</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£134,400.00</td>
                              </tr>
                              <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Output payment</th>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£1,138,820.00</td>
                              </tr>
                              <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Uplift fee</th>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£18,000.00</td>
                              </tr>                            
                              <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Adjustments</th>
                                <td class="govuk-table__cell govuk-table__cell--numeric">-£1,190.00</td>
                              </tr>                            
                              <tr class="govuk-table__row">
                                <td class="govuk-table__cell">VAT</th>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£254,644.00</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      <table class="govuk-table">
                        <thead class="govuk-table__head">
                          <caption class="govuk-table__caption govuk-table__caption--m">Output payments</caption>
                          <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Outputs</th>
                            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Band A</th>
                            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Band B</th>
                            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Band C</th>
                            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Band D</th>
                            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Payments</th>
                          </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Started</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">600</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Fee per trainee</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£119.00</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£117.00</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£116.00</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£193.00</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£115,920.00</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Retained 1</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">2000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">2000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">6000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">1000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Fee per trainee</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£90.00</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£88.00</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£87.00</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£144.90</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£1,022,900.00</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Retained 2</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                          </tr>
                          <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Fee per trainee</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£90.00</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£88.00</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£87.00</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£144.90</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Retained 3</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Fee per trainee</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£90.00</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£88.00</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£87.00</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£144.90</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Retained 4</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Fee per trainee</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£90.00</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£88.00</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£87.00</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£144.90</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Completed</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Fee per trainee</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£119.00</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£117.00</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£116.00</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£193.00</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Total</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                            <th scope="col" class="govuk-table__header govuk-table__header--numeric">£1,138,820.00</th>
                          </tr>
                        </tbody>
                      </table>
                      <br>
                      <table class="govuk-table">
                        <caption class="govuk-table__caption govuk-table__caption--m">Uplift fee</caption>
                        <thead class="govuk-table__head">
                          <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Number of trainees</th>
                            <th scope="col" class="govuk-table__header">Fee per trainee</th>
                            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Payments</th>
                          </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">180</th>  
                            <td class="govuk-table__cell">£100.00</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£18,000.00</td>
                          </tr>
                        </tbody>
                      </table>
                      <br>
                      <table class="govuk-table">
                        <caption class="govuk-table__caption govuk-table__caption--m">Adjustments</caption>
                        <thead class="govuk-table__head">
                          <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Adjustment type</th>
                            <th scope="col" class="govuk-table__header">Number of trainees</th>
                            <th scope="col" class="govuk-table__header">Fee per trainee</th>
                            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Payments</th>
                          </tr>
                        </thead>
                        {% if data['adjustment-cost'] == '' %}
                        <tbody class="govuk-table__body">
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Clawback for started (Band A)</th>  
                            <td class="govuk-table__cell">10</th>
                            <td class="govuk-table__cell">£119.00</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">-£1,190.00</td>
                          </tr>
                        </tbody>
                        {%else%}
                        <tbody class="govuk-table__body">
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Clawback for started (Band A)</th>  
                            <td class="govuk-table__cell">10</th>
                            <td class="govuk-table__cell">£119.00</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">-£1,190.00</td>
                          </tr>
                        </tbody>
                        <tbody class="govuk-table__body">
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">{{ data['adjustment-name'] }}</th>  
                            <td class="govuk-table__cell"></th>
                            <td class="govuk-table__cell"></th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£{{ data['adjustment-cost'] }}</td>
                          </tr>
                        </tbody>

                        {%endif%}
                      </table>
                      <form class="form" action="add-adjustment" method="post">
                      <button type="submit" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">
                        Add adjustment
                      </button>
                      </form>
                      <br>
                      <br>
                      <br>
                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            Contract information
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <table class="govuk-table">
                            <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                              <th class="govuk-table__header">Recruitment target</th>
                              <td class="govuk-table__cell govuk-table__cell--numeric">4,500</td>
                            </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                              <th class="govuk-table__header">Revised recruitment target (+2%)</th>
                              <td class="govuk-table__cell govuk-table__cell--numeric">4,590</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <th class="govuk-table__header">Uplift Target</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">33%</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <th class="govuk-table__header">Uplift amount</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£100.00</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <th class="govuk-table__header">Set-up Fee</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£149,861.00</td>
                          </tr>
                          
                            </tbody>
                          </table>
                          <table class="govuk-table">
                            <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                              <th class="govuk-table__header">Band</th>
                              <th class="govuk-table__header govuk-table__cell--numeric">Min</th>
                              <th class="govuk-table__header govuk-table__cell--numeric">Max</th>
                              <th class="govuk-table__header govuk-table__cell--numeric">Payment per participant</th>
                            </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Band A</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">2000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£995.00</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Band B</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">2001</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">4000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£979.00</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Band C</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">4001</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">4500</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£966.00</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">New target</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">4501</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">4590</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£966.00</td>
                          </tr>
                          
                            </tbody>
                          </table>
                        </div>
                      </details>
                    </div>
                  </div>
          <div style="box-shadow: none;" class="moj-filter-layout__filter app-filter" tabindex="-1">

  </div>

<!-- </div>  -->
<script>

$( "#savebtn" ).click(function() {
  $( "#addform" ).addClass('govuk-visually-hidden');
  $( "#addbtn" ).removeClass('govuk-visually-hidden');
  $( "#addedrow" ).removeClass('govuk-visually-hidden');
});
                  $( "#addbtn" ).click(function() {
  $( "#addform" ).removeClass('govuk-visually-hidden');
  $( "#addbtn" ).addClass('govuk-visually-hidden');
});

$( "#removebtn" ).click(function() {
  $( "#addform" ).addClass('govuk-visually-hidden');
  $( "#addbtn" ).removeClass('govuk-visually-hidden');
});

$( "#editbtn" ).click(function() {
  $( "#addform" ).removeClass('govuk-visually-hidden');
  $( "#addbtn" ).addClass('govuk-visually-hidden');
  $( "#addedrow" ).addClass('govuk-visually-hidden');
});
            $(function() {
  $('#date').addClass('govuk-input');
});
           </script>
            <script src="/public/javascripts/date-picker.js"></script>
            <script src="/public/javascripts/all.js"></script>
            <script type="module" src="https://cdn.jsdelivr.net/npm/@duetds/date-picker@1.4.0/dist/duet/duet.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/@duetds/date-picker@1.4.0/dist/duet/duet.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@duetds/date-picker@1.4.0/dist/duet/themes/default.css" />
<script>

  $( "#mybtn2" ).click(function() {
  $( "#notification" ).removeClass('govuk-visually-hidden');
});
 $( ".inner" ).before( "<p>Test</p>" );
  const picker = document.querySelector("duet-date-picker")
  const DATE_FORMAT_US = /^(\d{1,2})\/(\d{1,2})\/(\d{4})$/

  picker.dateAdapter = {
    parse(value = "", createDate) {
      const matches = value.match(DATE_FORMAT_US)

      if (matches) {
        return createDate(matches[3], matches[1], matches[2])
      }
    },
    format(date) {
      return `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()}`
    },
  }

  picker.localization = {
    buttonLabel: "Choose date",
    placeholder: "",
    selectedDateMessage: "Selected date is",
    prevMonthLabel: "Previous month",
    nextMonthLabel: "Next month",
    monthSelectLabel: "Month",
    yearSelectLabel: "Year",
    closeLabel: "Close window",
    calendarHeading: "Choose a date",
    dayNames: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
    monthNames: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
    monthNamesShort: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
    locale: "en-UK",

  }
</script>
<script>



function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.innerHTML === "Hello") {
    x.innerHTML = "Swapped text!";
  } else {
    x.innerHTML = "Hello";
  }
}



// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

// // Get the modal
// var sendmodal = document.getElementById("sendmodal");

// // Get the button that opens the modal
// var sendbtn = document.getElementById("send");

// // Get the <span> element that closes the modal
// var sendspan = document.getElementsByClassName("close2")[0];

// // When the user clicks on the button, open the modal
// sendbtn.onclick = function() {
//   sendmodal.style.display = "block";
// }

// // When the user clicks on <span> (x), close the modal
// sendspan.onclick = function() {
//   sendmodal.style.display = "none";
// }

// // When the user clicks anywhere outside of the modal, close it
// window.onclick = function(event) {
//   if (event.target == sendmodal) {
//     sendmodal.style.display = "none";
//   }
// }

</script>
{% endblock %}