{% extends "layout-full-width-providers.html" %}
{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({
  text: "Change trainee scheme",
  href: "scheme"
  }) }}


{% endblock %}
{% block content %}




        <div class="govuk-grid-row">
           
            <div class="govuk-grid-column-full "> 
              <h1 class="govuk-heading-xl " style="margin-top: 0; "  id="company-Name">{{data.scheme}}</h1>
              <nav class="app-subnav " aria-label="Sub navigation">
                  <ul class="app-subnav__list">
                 
                
                <li class="app-subnav__list-item  app-subnav__list-item--selected">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="ecf-payment-breakdown?scheme={{data.scheme}}">
                    
                      Your statements
                      <span class="govuk-visually-hidden">Current page</span>
                </a></li>
                <li class="app-subnav__list-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" aria-current="page" href="index">
                    
                  Contract overview
                
                </a></li>
                <li class="app-subnav__list-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="participant-information">
                    
                    Participant information
                      <span class="govuk-visually-hidden">Current page</span>
                </a></li>
                <li class="app-subnav__list-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="ecf-delivery-partner-breakdown">
                    
                    Delivery partner information
                      <span class="govuk-visually-hidden">Current page</span>
                </a></li>
                <li class="app-subnav__list-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="">
                    
                Support request
                      <span class="govuk-visually-hidden">Current page</span>
                </a></li>
                
                  </ul>
                </nav>
                {%if data.statementDate === "April 2022"%}
                <div id="notification" class="govuk-notification-banner " role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                  <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                      Important
                    </h2>
                  </div>
                  <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                      you can't approve this <br>
                      the info is changing
       
                    </p>
                  </div>
                </div>
                {%else%}

                {%endif%}
                {%if data.payable === "true"%}
                <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                  <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                      Success
                    </h2>
                  </div>
                  <div class="govuk-notification-banner__content">
                    <h3 class="govuk-notification-banner__heading">
                     Payment has been approved
                    </h3>

                  </div>
                </div>
                {%else%}

                {%endif%}

               
      
    
        <span autocomplete="on" class="govuk-caption-l">{{data.providerName}} </span> 
                <h2 class="govuk-heading-l">{{data.statementDate}} provider statement
             

                </h2>
                <div class="govuk-inset-text">
                  Next milestone end date 28 February 2022
                </div>
                <!-- <nav class="app-subnav govuk-!-margin-top-6" aria-label="Sub navigation">
                  <ul class="app-subnav__list">
                      <li class="app-subnav__list-item app-subnav__list-item--selected">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" aria-current="page" href="">
                  Your statements
                 <span class="govuk-visually-hidden">Current page</span>
                </a></li>
                <li class="app-subnav__list-item">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="ecf-participant-information-p1-option-1">
                    
                  Participants
                </a></li>

                  <li class="app-subnav__list-item ">
                  <a class="govuk-link app-subnav__link govuk-link--no-visited-state" href="ecf-delivery-partner-breakdown">
                    
                      Delivery partner breakdown 
                      <span class="govuk-visually-hidden">Current page</span>
                </a></li>
                
                  </ul>
                </nav> -->
            <br>
                <div class="govuk-grid-row">
                  <form  method="get" novalidate="" autocomplete="off" action="" >   
                <div  class=" govuk-grid-column-one-third govuk-!-margin-right-3">
           
   
                   
                  <div class="autocomplete-wrapper">
                    <label class="govuk-label" for="sort">
                     View a differerent provider 
                          </label>
                    <select class="govuk-select autocomplete-element " id="provider" name="providerName">


                 
                      <option value="" ></option>
                      <option value="Ambition Institute">Ambition Institute</option>
                      <option value="Best Practice Network (home of Outstanding Leaders Partnership)">Best Practice Network (home of Outstanding Leaders Partnership)</option>
                      <option value="Capita" >Capita</option>
                      <option value="Education Development Trust">Education Development Trust</option>
                      <option value="Teach First">Teach First</option>
                      <option value="UCL Institute of Education" >UCL Institute of Education</option>
                       
                    </select>
                
          
          </div>
     
     
        </div>

        <div  class="govuk-grid-column-one-third">
           
                
          <div class="autocomplete-wrapper">
            <label class="govuk-label" for="date">View a different satement</label>
            <!-- <duet-date-picker identifier="date">

              
            </duet-date-picker> -->
            
            <select class="govuk-select autocomplete-element" id="statement" name="statementDate">


               <option value="" ></option>
               <option value="April 2022">April 2022</option>
                <option value="March 2022">March 2022</option>
                <option value="February 2022">February 2022</option>
                <option value="January 2022" >January 2022</option>
               
            </select>
        
  
  </div>
  

</div>

        <button  type="submit" style=" margin-top:30px; display:inline-block" class="govuk-button govuk-button--secondary govuk-!-margin-left-2" data-module="govuk-button">
          View
        </button>
                  </form>
</div>

              <!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">

    
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            This will approve the payment of £975,103.20 for {{data.providerName}} for the milestone period.
          </h1>
        </legend>
        <div id="changed-name-hint" class="govuk-hint">
         
        </div>
        <!-- <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="changed-name">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="changed-name-2">
              No
            </label>
          </div>
        </div>
     -->
      </fieldset>
    </div>
    <a href="ecf-payment-breakdown?payable=true"  class="govuk-button" data-module="govuk-button">
   Continue
    </a>
    <button class="close govuk-button govuk-button--secondary"> Cancel</button>  
  </div>

</div>

<!-- The Modal -->
<div id="sendmodal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close2"> <span >&times;</span> Close</span>  
    
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
          Are you sure you want to send this payment breakdown to {{data.providerName}}?
          </h1>
        </legend>
        <div id="changed-name-hint" class="govuk-hint">
         
        </div>
        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="changed-name">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="changed-name-2">
              No
            </label>
          </div>
        </div>
    
      </fieldset>
    </div>
    <a href="ecf-payment-breakdown?payable=true"  class="govuk-button" data-module="govuk-button">
   Continue
    </a>
  </div>

</div> 
            <div class="vaccinations  " itemtype="https://schema.org/SpecialAnnouncement" itemprop="SpecialAnnouncement" itemscope="">
            
                <div style="width:30%" class="topic ">
                 
                  <strong itemprop="name" class="govuk-heading-m govuk-!-margin-bottom-0   govuk-!-font-weight-regular"></strong>
                    <h4 class="govuk-heading-l title-mobile govuk-!-margin-bottom-0 ">Total £975,103.20</h4>
                    <br>
                    
                    <p class=" govuk-body-m title-mobile govuk-!-margin-bottom-2">Service fee £975,103.20</p>
                    <p class=" govuk-body-m title-mobile govuk-!-margin-bottom-0">VAT £975,103.20</p>
                    <p class="grey govuk-!-font-size-16 govuk-!-margin-top-1">
                      
                      {%if data.statementDate === "April 2022" %}
                
                      {%else%}
                     
                            {%if data.payable ==="true"%}
                            <div>
                            <strong class="govuk-tag">
                              APPROVED
                            </strong>
                          </div>
                          <br>
                            {%else%}
                            <div>
                              <button class="govuk-button" id="myBtn">Approve payment</button>
                            </div>
                       

                            {%endif%}
                            {%endif%}   
                            <div class="additional-info bottom-aligned">
                              
                              
                                <p class="govuk-!-margin-bottom-0 govuk-!-margin-top-0 govuk-!-font-size-16">
                                  <div></div>
                                  <a href="" class="govuk-link govuk-link--no-visited-state bottom-aligned govuk-!-margin-top-2 ext-link">
                                      <strong>Download provider statement (CSV)</strong>
                                      </a>
                                  </p>
                                  <br>
                                  <!-- <div class="govuk-checkboxes " data-module="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                      <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                                      <label class="govuk-label govuk-checkboxes__label" for="waste">
                                    Mark as payable
                                      </label>
                                    </div>
                                    </div>
                                    <br>
                                    <button class="govuk-button" id="send">Confirm and send</button> -->
                                  </div>
                                </div>

                  

                <ul class="first govuk-list">
                  <li itemprop="Observation" itemtype="https://schema.org/Observation" itemscope="">
                    <strong class="govuk-body-s float govuk-!-margin-bottom-0">PO number</strong>
                     <div class="number-group">
                         <div class="number-container govuk-!-padding-right-4">
                             <div class="float tooltip">
                                 <div class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
                                     <span class="">001</span></div>
                             </div>
                         </div>
                     </div>
                 </li>
                    <li itemprop="Observation" itemtype="https://schema.org/Observation" itemscope="">
                       <strong class="govuk-body-s float govuk-!-margin-bottom-0">
                        Current ECTs</strong>
                        <div class="number-group">
                            <div class="number-container govuk-!-padding-right-4">
                                <div class="float tooltip">
                                    <div class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
                                        <span class="">1500</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="second govuk-list">
                  <li itemprop="Observation" itemtype="https://schema.org/Observation" itemscope="">
                    <strong class="govuk-body-s float govuk-!-margin-bottom-0">Contract number</strong>
                     <div class="number-group">
                         <div class="number-container govuk-!-padding-right-4">
                             <div class="float tooltip">
                                 <div class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
                                     <span class="">	ABC123 </span></div>
                             </div>
                         </div>
                     </div>
                 </li>
                    <li itemprop="Observation" itemtype="https://schema.org/Observation" itemscope="">
                        <strong class="govuk-body-s float govuk-!-margin-bottom-0">Current mentors</strong>
                        <div class="number-group">
                            <div class="number-container govuk-!-padding-right-4">
                                <div class="float tooltip">
                                    <div class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
                                        <span class="">500</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="booster govuk-list">
                
                  <li itemprop="Observation" itemtype="https://schema.org/Observation" itemscope="">
                    <strong class="govuk-body-s float govuk-!-margin-bottom-0">Recruitment target</strong>
                     <div class="number-group">
                         <div class="number-container govuk-!-padding-right-4">
                             <div class="float tooltip">
                                 <div class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
                                     <span class="">	4500 </span></div>
                             </div>
                         </div>
                     </div>
                 </li>
                    <li itemprop="Observation" itemtype="https://schema.org/Observation" itemscope="">
                        <strong class="govuk-body-s float govuk-!-margin-bottom-0"> <strong>Total declarations </strong></strong> 
                        <div class="number-group">
                            <div class="number-container govuk-!-padding-right-4">
                                <div class="float tooltip">
                                    <div class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
                                        <span class="">2000</span></div>
                                </div>
                            </div>
                        </div>
                    </li>

               
                </ul>
 
            </div>   
      
            <br>
                                    </div>
       

<div class="govuk-grid-column-full ">
  
  
            <div style="border-bottom:none; border-top:none" class="vaccinations  " itemtype="https://schema.org/SpecialAnnouncement" itemprop="SpecialAnnouncement" itemscope="">
         

                <div class="govuk-grid-column-full ">
                  <h2 class="govuk-heading-m">Output fee  
                   
                  </h2>
                  {%if data. statementDate === "April 2022" %}
                  <div class="govuk-inset-text">
                    There is no output fee this month.
                  </div>
                  {%else%}
                  <table class="govuk-table ">
              
   
                   
             
                    <thead class="govuk-table__head">
                  
                      <tr  class="govuk-table__row">
                       
                  
                        <th   scope="col"  class="govuk-table__header">Milstones</th>
                  
                        <th    scope="col" class="govuk-table__header govuk-table__header--numeric">Band A </th>
                        <th   scope="col" class="govuk-table__header govuk-table__header--numeric">Band B </th>
                        <th   scope="col" class="govuk-table__header govuk-table__header--numeric">Band C </th>
                        <th   scope="col" class="govuk-table__header govuk-table__header--numeric">Band D </th>
                        <th   scope="col" class="govuk-table__header govuk-table__header--numeric">Payments</th>
                      </tr>
                     
                    </thead>
                  
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td  style="border-bottom: none;" scope="row" class="govuk-table__cell"> <strong>Starts</strong>
                        </td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">1000 </td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">1000</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">1000</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">1000</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric"></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td   scope="row" class="govuk-table__cell">Fee per participant</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £119.40</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £117.48</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £115.92</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £115.92</td>
                        <th   class="govuk-table__cell govuk-table__cell--numeric">£168,000.00</th>
                   
                       </tr>
                       <tr class="govuk-table__row">
                        <td  style="border-bottom: none;" scope="row" class="govuk-table__cell"><strong>Retained 1</strong></td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">1000 </td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">1000</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">1000</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">1000</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric"></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td   scope="row" class="govuk-table__cell">Fee per participant</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £119.40</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £117.48</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £115.92</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £115.92</td>
                        <th   class="govuk-table__cell govuk-table__cell--numeric">£168,000.00</th>
                   
                       </tr>
                       <tr class="govuk-table__row">
                        <td  style="border-bottom: none;" scope="row" class="govuk-table__cell"><strong>Retained 2</strong> </td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">1000 </td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">1000</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">1000</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">1000</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric"></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td   scope="row" class="govuk-table__cell">Fee per participant</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £119.40</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £117.48</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £115.92</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £115.92</td>
                        <th   class="govuk-table__cell govuk-table__cell--numeric">£168,000.00</th>
                   
                       </tr>
                       <tr class="govuk-table__row">
                        <td  style="border-bottom: none;" scope="row" class="govuk-table__cell"><strong>Retained 3</strong></td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">1000 </td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">1000</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">1000</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">1000</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric"></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td   scope="row" class="govuk-table__cell">Fee per participant</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £119.40</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £117.48</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £115.92</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £115.92</td>
                        <th   class="govuk-table__cell govuk-table__cell--numeric">£168,000.00</th>
                   
                       </tr>
                       <tr class="govuk-table__row">
                        <td  style="border-bottom: none;" scope="row" class="govuk-table__cell"><strong>Retained 4</strong></td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">1000 </td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">1000</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">1000</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">1000</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric"></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td   scope="row" class="govuk-table__cell">Fee per participant</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £119.40</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £117.48</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £115.92</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £115.92</td>
                        <th   class="govuk-table__cell govuk-table__cell--numeric">£168,000.00</th>
                   
                       </tr>
                       <tr class="govuk-table__row">
                        <td  style="border-bottom: none;" scope="row" class="govuk-table__cell"><strong>Completed </strong></td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">1000 </td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">1000</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">1000</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric">1000</td>
                        <td  style="border-bottom: none;" class="govuk-table__cell govuk-table__cell--numeric"></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td   scope="row" class="govuk-table__cell">Fee per participant</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £119.40</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £117.48</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £115.92</td>
                        <td   class="govuk-table__cell govuk-table__cell--numeric">     £115.92</td>
                        <th   class="govuk-table__cell govuk-table__cell--numeric">£168,000.00</th>
                   
                       </tr>
                       
                    </tbody>
                  </table>
               
               

                 <div style="float: right;" class="govuk-table__row">     
    <div class=" govuk-heading-s govuk-table__header--numeric">Output fee total <br>£156,000.00</div> 
  
</div>     
{%endif%}
             </div>
          
                 </div>    
               

                      <br>
               
              </div>     
                  
    
            </div>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full" >
              <div style="border-bottom:none; border-top:none" class="vaccinations " itemtype="https://schema.org/SpecialAnnouncement" itemprop="SpecialAnnouncement" itemscope="">
 

                <div class="govuk-grid-column-full ">
                  {%if data. statementDate === "April 2022" %}
                
                  {%else%}
                  <a style="float:right; font-size: 16px;" href="ecf-uplift-payment-information" class="govuk-link govuk-link--no-visited-state">
                  <strong>View uplift payment information</strong>
                    </a>
                  {%endif%}
                    
                  <h2 class="govuk-heading-m">Other fees
                   
                  </h2>
                  {%if data. statementDate === "April 2022" %}
                  <div class="govuk-inset-text">
                    There are no other fees this month.
                  </div>
                  {%else%}
                  <table class="govuk-table ">
              
   
                   
             
                    <thead class="govuk-table__head">
                  
                      <tr  class="govuk-table__row">
                       
                  
                        <th   scope="col"  class="govuk-table__header">Payment Type</th>
                  
                        <th    scope="col" class="govuk-table__header ">Participants </th>
                                    
                        <th    scope="col" class="govuk-table__header ">Fee per participant </th>
                        <th   scope="col" class="govuk-table__header ">Payments</th>
                      </tr>
                     
                    </thead>
                  
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td   scope="row" class="govuk-table__cell"> Clawbacks
                        </td>
                       
                        <td  class="govuk-table__cell ">1000 </td>
                        <td   scope="row" class="govuk-table__cell"> 
                          £100.00
                        </td>
                  
                        <td  class="govuk-table__cell">£10,000.00</td>
                      </tr>
                   
                       <tr class="govuk-table__row">
                        <td   scope="row" class="govuk-table__cell">Uplift fee</td>
                        <td   class="govuk-table__cell ">1000 </td>
                        <td   scope="row" class="govuk-table__cell"> 
                          £100.00
                        </td>
                        <td   class="govuk-table__cell ">£10,000.00</td>
                      </tr>
                    
               
                       
                    </tbody>
                  </table>
               
                 <div style="float: right;" class="govuk-table__row">     
    <div class=" govuk-heading-s govuk-table__header--numeric">Other fees total <br> - £20,000.00</div> 
  
</div>     
{%endif%}
             </div>
          
                 </div>    
              <!-- <div style="border-bottom:none; border-top:none" class="vaccinations govuk-!-width-two-thirds" itemtype="https://schema.org/SpecialAnnouncement" itemprop="SpecialAnnouncement" itemscope="">
             
    
                <div style="width:120%" class="govuk-grid-column-full">
                  <h2 class="govuk-heading-m">Uplift payment
                    <a style="float:right; font-size: 16px;" href="" class="govuk-link govuk-link--no-visited-state">
                      <strong>View uplift payment information</strong>
                      </a>
                  </h2>
               
               
                  <table class="govuk-table ">
              
              
                   
              
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
              
                
                        <th  scope="col" class="govuk-table__header ">Eligible participants</th>
                  
                        <th  scope="col" class="govuk-table__header govuk-table__header--numeric">Fee per participant</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    
                      <tr class="govuk-table__row">
   
                  
         
                        <td  class="govuk-table__cell ">     100</td>
                  
                     
                        <th  class="govuk-table__cell govuk-table__cell--numeric">£100</th>
                      
                      </tr>
                  
                    </tbody>
                  </table>
                  <div style="float: right;">     
                    <div class=" govuk-heading-s govuk-table__header--numeric">Uplift payment total <br>£10,000.00</div> 
                  
                </div> 
              
              
              </div>
             
                 </div>    
                 <br> -->
                </div>
            
                <div class="govuk-grid-column-one-half" >
    <!-- <div style="border-bottom:none; border-top:none" class="vaccinations" itemtype="https://schema.org/SpecialAnnouncement" itemprop="SpecialAnnouncement" itemscope="">
             
    
      <div style="width:120%" class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Uplift fee
         
        </h2>
     
     
        <table class="govuk-table">
    
    
         
    
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
    
      
              <th  scope="col" class="govuk-table__header govuk-table">Payment type</th>
        
              <th  scope="col" class="govuk-table__header govuk-table__header--numeric">Payments</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
    
        
              <td  class="govuk-table__cell">     Uplift payment <br> Eligible participants - 100 <br> Fee per participant - £100.00</td>
              <th  class="govuk-table__cell govuk-table__cell--numeric">£10,000.00</th>
            </tr>
  
          
    
          </tbody>
        </table>
        <div style="float: right;">     
          <div class=" govuk-heading-s govuk-table__header--numeric">Other fees total <br>£10,000.00</div> 
        
      </div> 
    </div>
    
       </div>   -->
       </div>  
      </div>   
            <script>
            $(function() {
  $('#date').addClass('govuk-input');
});
           </script>
            <script src="/public/javascripts/date-picker.js"></script>
            <script type="module" src="https://cdn.jsdelivr.net/npm/@duetds/date-picker@1.4.0/dist/duet/duet.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/@duetds/date-picker@1.4.0/dist/duet/duet.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@duetds/date-picker@1.4.0/dist/duet/themes/default.css" />
<script>
  $( "#mybtn2" ).click(function() {
  $( "#notification" ).removeClass('govuk-visually-hidden');
});
 $( ".inner" ).before( "<p>Test</p>" );
  const picker = document.querySelector("duet-date-picker")
  const DATE_FORMAT_US = /^(\d{1,2})\/(\d{1,2})\/(\d{4})$/

  picker.dateAdapter = {
    parse(value = "", createDate) {
      const matches = value.match(DATE_FORMAT_US)

      if (matches) {
        return createDate(matches[3], matches[1], matches[2])
      }
    },
    format(date) {
      return `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()}`
    },
  }

  picker.localization = {
    buttonLabel: "Choose date",
    placeholder: "",
    selectedDateMessage: "Selected date is",
    prevMonthLabel: "Previous month",
    nextMonthLabel: "Next month",
    monthSelectLabel: "Month",
    yearSelectLabel: "Year",
    closeLabel: "Close window",
    calendarHeading: "Choose a date",
    dayNames: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
    monthNames: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
    monthNamesShort: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
    locale: "en-UK",

  }
</script>
<script>



function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.innerHTML === "Hello") {
    x.innerHTML = "Swapped text!";
  } else {
    x.innerHTML = "Hello";
  }
}



// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

// // Get the modal
// var sendmodal = document.getElementById("sendmodal");

// // Get the button that opens the modal
// var sendbtn = document.getElementById("send");

// // Get the <span> element that closes the modal
// var sendspan = document.getElementsByClassName("close2")[0];

// // When the user clicks on the button, open the modal
// sendbtn.onclick = function() {
//   sendmodal.style.display = "block";
// }

// // When the user clicks on <span> (x), close the modal
// sendspan.onclick = function() {
//   sendmodal.style.display = "none";
// }

// // When the user clicks anywhere outside of the modal, close it
// window.onclick = function(event) {
//   if (event.target == sendmodal) {
//     sendmodal.style.display = "none";
//   }
// }

</script>
{% endblock %}
