{% extends "layout-full-width-providers.html" %}


{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{{ govukBackLink({
  text: "Back",
 href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}


        <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl">Uplift payment information</h1>
            <div class="govuk-inset-text">
              <strong class="">{{data.providerName}}</strong>
              <p class="">Milestone end date 21 November 2021</p>
            </div>
           
       <table class="govuk-table ">
                                <thead>
                                <!--     <h3 class="govuk-heading-s" style="margin-bottom: 0px; margin-top:10px">Delivery partners</h3> -->
                                    <tr class="govuk-table__row">
                         
                                        <th scope="col" class="govuk-table__header " style="font-weight:700">Delivery partner</th>
                                               <th scope="col" class="govuk-table__header govuk-table__cell--numeric" style="font-weight:700">Pupil premium</th>
                                                  <th scope="col" class="govuk-table__header govuk-table__cell--numeric" style="font-weight:700">Sparcity</th>
                                                  <th scope="col" class="govuk-table__header govuk-table__cell--numeric" style="font-weight:700">Both</th>
                                                       <th scope="col" class="govuk-table__header govuk-table__cell--numeric" style="font-weight:700">Total</th>
                                         
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">Delivery partner 1</td>
                                       <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">50</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">50</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">50</td>
                                         <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">150</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                            <td class="govuk-table__cell" scope="row">Delivery partner 2</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">50</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                         <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">50</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                         <td class="govuk-table__cell" scope="row">Delivery partner 3</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">150</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">5</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">5</td>
                                         <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">160</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                          <td class="govuk-table__cell" scope="row">Delivery partner 4</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                         <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">10</td>
                                         <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">10</td>
                                    </tr>
                                        <tr class="govuk-table__row">
                                          <td class="govuk-table__cell" scope="row">Delivery partner 5</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                    </tr>
                                        <tr class="govuk-table__row">
                                          <td class="govuk-table__cell" scope="row">Delivery partner 6</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                    </tr>
                                        <tr class="govuk-table__row">
                                          <td class="govuk-table__cell" scope="row">Delivery partner 7</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                    </tr>
                                        <tr class="govuk-table__row">
                                          <td class="govuk-table__cell" scope="row">Delivery partner 8</td>
                                       <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                         <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                         <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                         <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                    </tr>
                                        <tr class="govuk-table__row">
                                          <td class="govuk-table__cell" scope="row">Delivery partner 9</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                    </tr>
                                        <tr class="govuk-table__row">
                                          <td class="govuk-table__cell" scope="row">Delivery partner 10</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                    </tr>
                                        <tr class="govuk-table__row">
                                          <td class="govuk-table__cell" scope="row">Delivery partner 11</td>
                                     <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                       <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                       <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                       <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                    </tr>
                                        <tr class="govuk-table__row">
                                          <td class="govuk-table__cell" scope="row">Delivery partner 12</td>
                                       <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                         <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                         <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                         <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                    </tr>
                                        <tr class="govuk-table__row">
                                          <td class="govuk-table__cell" scope="row">Delivery partner 13</td>
                                         <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                           <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                           <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                           <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                    </tr>
                                        <tr class="govuk-table__row">
                                          <td class="govuk-table__cell" scope="row">Delivery partner 14</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                    </tr>
                                        <tr class="govuk-table__row">
                                          <td class="govuk-table__cell" scope="row">Delivery partner 15</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                    </tr>
                                        <tr class="govuk-table__row">
                                          <td class="govuk-table__cell" scope="row">Delivery partner 16</td>
                                       <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                         <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                         <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                         <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                    </tr>
                                        <tr class="govuk-table__row">
                                          <td class="govuk-table__cell" scope="row">Delivery partner 17</td>
                                       <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                         <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                         <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                         <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                    </tr>
                                        <tr class="govuk-table__row">
                                          <td class="govuk-table__cell" scope="row">Delivery partner 18</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                    </tr>
                                        <tr class="govuk-table__row">
                                          <td class="govuk-table__cell" scope="row">Delivery partner 19</td>
                                      <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">0</td>
                                    </tr>
                                     
                                </tbody>
                            </table>


 
                

             
          
       
       

       
     
        </div>
        </div>




{% endblock %}

