{% extends "layout-full-width-providers.html" %}


{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}



{% endblock %}

{% block content %}



        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                              
                  

                <form method="post" novalidate="" autocomplete="off" action="trainee-scheme-route" >
               
     
                    
                        <h1 class="govuk-heading-xl" >Choose trainee scheme</h1>

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                      <div class="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="provider1" name="scheme" type="radio" value="Early Career Framework (ECF)">
                                    <label class="govuk-label govuk-radios__label" for="epaoName-city-guilds">
                                        Early Career Framework (ECF)
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="provider2" name="scheme" type="radio" value="National professional qualifications (NPQ)" >
                                    <label class="govuk-label govuk-radios__label" for="epaoName-cumbria">
                                        National professional qualifications (NPQ)
                                    </label>
                                </div>
                     
                                
                            </div>
                        </fieldset>
                    </div>
                    <button type="submit" data-module="govuk-button"class="govuk-button">Continue</button>
                </form>
            </div>
        </div>
    </main>
</div>

{% endblock %}
