
{% extends "layout.html" %}
{% block beforeContent %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}




<div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl" >Getting your teacher reference number</h1>

      
    <p>If you don’t know what your teacher reference number (TRN) is, you can find this on your payslip, teachers’ pensions documentation or teacher training records.</p>

    <p>The TRN is typically 6 or 7 digits long, but previously has been known as a QTS, GTC, DfE, DfES or DCSF number and therefore may include the letters RP and the forward slash symbol ‘/’. For example: 4567814 or 95/78674</p>

  <!--   <p>If you cannot find your TRN, you can request a reminder.</p> -->

    <h2 class="govuk-heading-m">Request a TRN reminder by email</h2>
    <p> Send an email to <a href="">qts.enquiries@education.gov.uk</a>. Put the phrase ‘Undertaking an NPQ and require TRN clarification’ in the subject line. The email needs to include your:</p>
       <ul class="govuk-list govuk-list--bullet">
            <li>full name</li>
            <li>date of birth</li>
             <li>National Insurance number</li>
        </ul>
      
<p>The team aim to respond to valid email requests within 5 working days.</p>
         <h2 class="govuk-heading-m">Request a TRN reminder by phone</h2>
         <p>Call the Teaching Regulation Agency on 020 7593 5394.</p><p> Make sure you have your National Insurance number ready before you call.</p><p> Phone lines are open 9 AM – 5PM Monday – Thursday and 9AM – 4:30 PM on Friday. Lines are closed on bank holidays.</p><p>  State that you are studying for a National Professional Qualification and need a reminder of your TRN.</p>
</div>
</div>
</div>



{% endblock %}
