{% extends "layout.html" %}



{% block content %}


<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Email sent
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      We've emailed a security code to {{ data['email'] }}
    </h3>
  <!--   <p class="govuk-body">Contact <a class="govuk-notification-banner__link" href="#">example@department.gov.uk</a> if you think there's a problem.</p> -->
  </div>
</div>
      <form action="details" method="get" class="form">
     <h1 class="govuk-heading-xl" style="">
Confirm your code
        </h1>
     <!--    <p>We've emailed a security code to {{ data['email'] }}</p> -->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">

          <div class="govuk-form-group">
              <label class="govuk-label govuk-!-width-one-quarter bold-label" for="firstName">
                 Enter your code
              </label>
              <!--span id="email-hint" class="govuk-hint">
              We’ll only use this to send you a receipt
            </span-->
              <input class="govuk-input govuk-!-width-one-quarter" id="firstName" name="firstName" type="text" aria-describedby="First Name">
          </div>
          </fieldset>
        </div>
  <p style="margin-bottom:30px"><a href="requestNewEmail">I have not recieved an email</a><p>
        <button class="govuk-button">Continue</button>

      </form>
   <!--  <h3 class="govuk-heading-s">Not received an email? </h3> -->
  
    </div>

  </div>
  <p style="margin-top:400px"> <a href="emailSent">inbox</a>  </p>
{% endblock %}
