
{% extends "layout.html" %}
{% block beforeContent %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}

<div class="govuk-width-container">
  
        <div class="govuk-grid-row"">
                <div class="govuk-grid-column-two-thirds">


        <form method="get" action="detailsCorrectOrNot">
            <h1 class="govuk-heading-xl">Confirm your details</h1>
            <p>This information was entered by your NPQ Provider: ABC Training. </p>


                  <dl class="app-check-your-answers app-check-your-answers--short">
               <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style=" font-weight:400; ;">
           
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; ;">
           
          </dd>
     
        </div>

         <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; ;">
          First name
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; ">
           Jenny
          </dd>
    
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; ;">
           Last name
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; ">
           Middleton
          </dd>
  
        </div>

          <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; ;">
          NPQ
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; ">
           National Professional Qualification for Headship
          </dd>
     
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="font-weight:400; ">
          Funding
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; ">
           Scholarship
          </dd>
      
        </div>
<!-- 
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="font-weight:400; ">
            End date
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; ">
           August 2021
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="add-apprentice" style="font-weight:400; ">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div> -->


  <!--       <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; ;">
           Apprenticeship 
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; ">
             {{ data['course-name'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="../courseComplete" style="font-weight:400; ">
              Change
            </a>
          </dd>
        </div> -->

<!-- This only shows if the user has come from the enter and EPAO name and cost route  -->
<!-- This is set in routes.js line 2946! - /// EPAO > Enter costs only  > confirm page  -->
<!-- {% if  data.showEPAOConfirm %}
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; ;">
           End point assessment organisation 
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; ">
               {{ data['epao-name'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="../chooseEPAO" style="font-weight:400; ">
              Change
            </a>
          </dd>
        </div>
{% endif %} -->

<!--                 <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="font-weight:400; ">
             Cost of apprenticeship training
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; ">
           £{{ data['price'] }}
          </dd>

          <dd class="app-check-your-answers__change">
            <a href="add-apprentice" style="font-weight:400; ">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div> -->
<!--          <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="font-weight:400; ">
             Cost of endpoint assessment 
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; ">
           £{{ data['agreedEPAOPrice'] }}
          </dd>

          <dd class="app-check-your-answers__change">
            <a href="add-apprentice" style="font-weight:400; ">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div> -->
<!--          <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="font-weight:400; ">
             Total cost
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; ">
            £{{ data['epaoTotalCost'] }}
          </dd>

          <dd class="app-check-your-answers__change">
            <a href="add-apprentice" style="font-weight:400; ">
              <span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div> -->
      </dl>
    </div>
  </fieldset>
</div>
<div style="margin-top:25px"></div>
 <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

                              <!--   <p>Choose the End Point Assessment Organisation for   {{ data['course-name'] }}</p> -->
       

                                <label class="govuk-label  bold-label" for="firstName">
 Confirm these details are correct?

              </label>

                            </legend>
                            <div class="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="detailsCorrect" name="detailsCorrect" type="radio" value="details-yes" {{ checked( "detailsCorrect", "details-yes") }}>
                                    <label class="govuk-label govuk-radios__label" for="TRN-yes">
                                       Yes, these details are correct
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="detailsCorrect" name="detailsCorrect" type="radio" value="details-no" {{ checked( "detailsCorrect", "details-no") }}>
                                    <label class="govuk-label govuk-radios__label" for="TRN-no">
                                       No, these details are not correct
                                    </label>
                                </div>
                    <!--             <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="epaoName-coventry" name="epao-name" type="radio" value="Coventry University" {{ checked( "epao-name", "Coventry University") }}>
                                    <label class="govuk-label govuk-radios__label" for="epaoName-coventry">
                                       Coventry University
                                    </label>
                                </div> -->
                            </div>
                        </fieldset>
                    </div>


            <button type="submit" class="govuk-button">Continue </button>
             <!--  <a  class="govuk-button clear-button" href="confirm-training-provider" >Cancel</a> -->
        </form>
    </div>
</div>
</main>
</div>



{% endblock %}