{% extends "layout.html" %}


{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{{ govukBackLink({
  text: "Back",
 href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}



        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                                <h1 class="govuk-heading-xl">Choose your NPQ</h1>
                               <!--  <p>You </p> -->
                    <!--                <span id="waste-hint" class="govuk-hint">
                                     The information you provide will help us personalise your experience and will not used for anything else
                                    </span> -->

        <!--     <p>We'll send you:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Reminders</li>
              <li>Help and advice</li>
              <li>Announcements</li>
           
            </ul>

            <p>to:  {{ data['email'] }} </p> -->

             <!--    <form action="confirmSchool" > -->
                <form action="chooseProvider" >
                       <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <!-- <h2 class="govuk-fieldset__heading">Sign up to email updates?</h2> -->
                    </legend>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                      <div class="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id=" NPQ Senior Leadership" name="assessment" type="radio" value="  NPQ Leading Teaching" {{ checked( 'chooseSearch', '  NPQ Leading Teaching') }}>
                                    <label class="govuk-label govuk-radios__label" for="epaoName-city-guilds">
                                        NPQ Leading Teaching (NPQLT)
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id=" NPQ Leading Teacher Development" name="assessment" type="radio" value=" NPQ Leading Behaviour and Culture" {{ checked( 'chooseSearch', ' NPQ Leading Behaviour and Culture') }}>
                                    <label class="govuk-label govuk-radios__label" for="epaoName-cumbria">
                                       NPQ Leading Behaviour and Culture (NPQLBC)
                                    </label>
                                </div>
                                          <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="NPQ Executive Leadership" name="assessment" type="radio" value="NPQ Leading Teacher Development" {{ checked( 'chooseSearch', 'NPQ Leading Teacher Development') }}>
                                    <label class="govuk-label govuk-radios__label" for="epaoName-cumbria">
                                         NPQ Leading Teacher Development (NPQLTD)
                                    </label>
                                </div>
                                          <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="NPQ Leading Teaching" name="assessment" type="radio" value="  NPQ for Senior Leadership " {{ checked( 'chooseSearch', '  NPQ for Senior Leadership' ) }}>
                                    <label class="govuk-label govuk-radios__label" for="epaoName-cumbria">
                                      NPQ for Senior Leadership (NPQSL)
                                    </label>
                                </div>
                                          <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="NPQ Headship" name="assessment" type="radio" value="NPQ Headship" {{ checked( 'chooseSearch', 'NPQ Headship') }}>
                                    <label class="govuk-label govuk-radios__label" for="epaoName-cumbria">
                                       NPQ for Headship (NPQH)
                                    </label>
                                </div>
                                          <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="NPQ Leading Behaviour and Culture" name="assessment" type="radio" value=" NPQ for Executive Leadership" {{ checked( 'chooseSearch', ' NPQ for Executive Leadership') }}>
                                    <label class="govuk-label govuk-radios__label" for="epaoName-cumbria">
                                        NPQ for Executive Leadership (NPQEL)
                                    </label>
                                </div>
                                
                            </div>
                        </fieldset>
                    </div>
                    <button class="govuk-button">Continue</button>
                </form>
            </div>
        </div>
    </main>
</div>

{% endblock %}
