
{% extends "layout.html" %}
{% block beforeContent %}


{% endblock %}
{% block content %}

<div class="govuk-width-container">
 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <!--       <h1 class="govuk-heading-xl">
            Add an apprentice
        </h1> -->

           <p class="govuk-body">Dear  {{ data['firstName'] }}  {{ data['lastName'] }}</p>
            <p class="govuk-body">This email address has been used to apply for the National Professional Qualification (NPQ).  You need to visit <a href=''>{{ data['providerName'] }} </a>to complete your registration. You will also find details of your course timings and deadlines for completion.</p><P> You will need to visit <a href="">  </a> to complete your registration.</p>

       

<!-- <p class="govuk-body">If you did not register with this service, please ignore the email.</p> -->
<!-- <p class="govuk-body">Best Regards</p> -->
<p class="govuk-body">The NPQ Team</p>



    </div>
</div>
</main>
</div>

{% endblock %}
