
{% extends "layout.html" %}
{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
{% block content %}

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            NPQ Alpha </h1>
       <!--  <h2 class="govuk-heading-m">Linkies</h2> -->
                               <h2 class="govuk-heading-s">Sprint 11 - NPQ Journey Updates</h2>
                          <p style="margin-top:25px"><a href="/version-11/guidance/fullGuidance">v11 Guidance</a></p>
                         <p style="margin-top:25px"><a href="/version-11/ambition/">v11 Provider page</a></p>
                         <p style="margin-top:25px"><a href="/version-11/tstart/">v11 Teacher registration on NPQ service with additional guidance at the start</a></p>

      
          

                

     <hr style="margin:25px 0 25px 0">

                            <h2 class="govuk-heading-s">Sprint 10 - NPQ Journey Updates</h2>
                          <p style="margin-top:25px"><a href="/version-10/guidance/fullGuidance">v10 Guidance</a></p>
                         <p style="margin-top:25px"><a href="/version-10/ambition/">v10 Provider page</a></p>
                         <p style="margin-top:25px"><a href="/version-10/tstart/">v10 Teacher registration on NPQ service with additional guidance at the start</a></p>

      
          

                

     <hr style="margin:25px 0 25px 0">

                     <h2 class="govuk-heading-s">Sprint 9 - NPQ Journey Updates</h2>

           <p style="margin-top:25px"><a href="/version-9/guidance/">v9 Guidance</a></p>
             <p style="margin-top:25px"><a href="/version-9/ambition/">v9 Provider page</a></p>
              <p style="margin-top:25px"><a href="/version-9/tstart/">v9 Teacher registration on NPQ service</a></p>
                <p style="margin-top:25px"><a href="/version-9/account/">v9 Account</a></p>
                 <p style="margin-top:25px"><a href="/version-9/account/acceptOne/">v9 Choose course</a></p>
                  <p style="margin-top:25px"><a href="/version-9/API/">v9 API Landing Page</a></p>
      
          

                

     <hr style="margin:25px 0 25px 0">

              <h2 class="govuk-heading-s">Sprint 8 - NPQ Journey Updates</h2>

           <p style="margin-top:25px"><a href="/version-8/guidance/">v8 Guidance</a></p>
             <p style="margin-top:25px"><a href="/version-8/ambition/">v8 Provider page</a></p>
              <p style="margin-top:25px"><a href="/version-8/tstart/">v8 Teacher registration on NPQ service</a></p>
                <p style="margin-top:25px"><a href="/version-8/account/">v8 Account</a></p>
                 <p style="margin-top:25px"><a href="/version-8/account/acceptOne/">v8 Choose course</a></p>
                  <p style="margin-top:25px"><a href="/version-8/API/">v8 API Landing Page</a></p>
      
          

                

     <hr style="margin:25px 0 25px 0">

                  <h2 class="govuk-heading-s">Sprint 7 - NPQ Journey Updates</h2>

           <p style="margin-top:25px"><a href="/version-7/guidance/">v7 Guidance</a></p>
             <p style="margin-top:25px"><a href="/version-7/ambition/">v7 Provider page</a></p>
              <p style="margin-top:25px"><a href="/version-7/tstart/">v7 Teacher registration on NPQ service</a></p>
                <p style="margin-top:25px"><a href="/version-7/account/">v7 Account</a></p>
                 <p style="margin-top:25px"><a href="/version-7/account/acceptOne/">v7 Choose course</a></p>
      
          

                

     <hr style="margin:25px 0 25px 0">

                  <h2 class="govuk-heading-s">Sprint 6 - Test Journeys</h2>

              <p style="margin-top:25px"><a href="/version-6/upload/">File upload</a></p>
              <p style="margin-top:25px"><a href="/version-6/tstart/">v6 Teacher registration on NPQ service</a></p>
              <p style="margin-top:25px"><a href="/version-6/payments/">v1 NPQ Payment breakdown</a></p>
                <p style="margin-top:25px"><a href="/version-6/paymentsECF/">v1 ECF Payment breakdown</a></p>
          

                

     <hr style="margin:25px 0 25px 0">


                    <h2 class="govuk-heading-s">Sprint 5 - Test Journeys</h2>
        <!--   <p>Logos version</p> -->
           
              <p style="margin-top:25px"><a href="/version-5/tstart/">v5 Teacher registration on NPQ service</a></p>
              <p style="margin-top:25px"><a href="/version-5/sstart/home">v5 School registration on NPQ service</a></p>

                

     <hr style="margin:25px 0 25px 0">

             <h2 class="govuk-heading-s">Sprint 4 - Guidance</h2>
        <!--   <p>Logos version</p> -->
           
              <p style="margin-top:25px"><a href="/version-4/guidance/">Guidance</a></p>
               <p style="margin-top:25px"><a href="/version-4/guidance/guidanceAccordian">Guidance accordion</a></p>
              
               <p style="margin-top:25px"><a href="/version-4/microsite/guide/showall/">Task list</a></p>
               <p style="margin-top:25px"><a href="/version-4/smartAnswers/">Smart answers type journey</a></p>
                <p style="margin-top:25px"><a href="/version-4/microsite/">Sketch microsite</a></p>
                

     <hr style="margin:25px 0 25px 0">

       <h2 class="govuk-heading-s">Sprint 3 - Teacher registration</h2>
        <!--   <p>Logos version</p> -->
           
              <p style="margin-top:25px"><a href="/version-3/tstart/">v3 Full registation on NPQ service</a></p>
               <p style="margin-top:25px; margin-left:20px">- <a href="/version-3/tstart/proQuestionOne">v3 Jump to questions</a></p>
                 <p style="margin-top:25px"><a href="/version-3/task/">v3 Task List, Full registation on NPQ service</a></p>


     <hr style="margin:25px 0 25px 0">
     <h2 class="govuk-heading-s">Sprint 2 - Teacher registration</h2>
        <!--   <p>Logos version</p> -->
           
              <p style="margin-top:25px"><a href="/version-2/tstart/">v2 Teacher starts, Provider verifies</a></p>

    
          
   
           <hr style="margin:25px 0 25px 0">
            <h2 class="govuk-heading-s">Sprint 1 - Teacher registration</h2>
        <!--   <p>Logos version</p> -->
           <p style="margin-top:25px"><a href="/version-1/pstart/teacher">v1 Provider starts, teacher finishes</a></p>
              <p style="margin-top:25px"><a href="/version-1/tstart/">v2 Teacher starts, Provider verifies</a></p>

    
          
   
           <hr style="margin:25px 0 25px 0">









</div>
</div>
</details>
</div>
</div>


{% endblock %}
