
{% extends "layout.html" %}
{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
{% block content %}

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            NPQ Alpha </h1>
       <!--  <h2 class="govuk-heading-m">Linkies</h2> -->


     <h2 class="govuk-heading-s">Sprint 1 - Teacher registration</h2>
        <!--   <p>Logos version</p> -->
           <p style="margin-top:25px"><a href="/version-1/">v1 Provider starts, teacher finishes</a></p>
              <p style="margin-top:25px"><a href="https://das-epao-fireitup.herokuapp.com/campaign/hub-apprentice.html">v2 Teacher starts, Provider verifies</a></p>

    
          
   
           <hr style="margin:25px 0 25px 0">









</div>
</div>
</details>
</div>
</div>


{% endblock %}
