
{% extends "layout.html" %}
{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
{% block content %}

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            NPQ Alpha </h1>
       <!--  <h2 class="govuk-heading-m">Linkies</h2> -->

                    <h2 class="govuk-heading-s">Sprint 5 - Test Journeys</h2>
        <!--   <p>Logos version</p> -->
           
              <p style="margin-top:25px"><a href="/version-5/tstart/">v5 Teacher registation on NPQ service</a></p>
              <p style="margin-top:25px"><a href="/version-5/sstart/">v5 School registation on NPQ service</a></p>

                

     <hr style="margin:25px 0 25px 0">

             <h2 class="govuk-heading-s">Sprint 4 - Guidance</h2>
        <!--   <p>Logos version</p> -->
           
              <p style="margin-top:25px"><a href="/version-4/guidance/">Guidance</a></p>
               <p style="margin-top:25px"><a href="/version-4/guidance/guidanceAccordian">Guidance accordion</a></p>
              
               <p style="margin-top:25px"><a href="/version-4/microsite/guide/showall/">Task list</a></p>
               <p style="margin-top:25px"><a href="/version-4/smartAnswers/">Smart answers type journey</a></p>
                <p style="margin-top:25px"><a href="/version-4/microsite/">Sketch microsite</a></p>
                

     <hr style="margin:25px 0 25px 0">

       <h2 class="govuk-heading-s">Sprint 3 - Teacher registration</h2>
        <!--   <p>Logos version</p> -->
           
              <p style="margin-top:25px"><a href="/version-3/tstart/">v3 Full registation on NPQ service</a></p>
               <p style="margin-top:25px; margin-left:20px">- <a href="/version-3/tstart/proQuestionOne">v3 Jump to questions</a></p>
                 <p style="margin-top:25px"><a href="/version-3/task/">v3 Task List, Full registation on NPQ service</a></p>


     <hr style="margin:25px 0 25px 0">
     <h2 class="govuk-heading-s">Sprint 2 - Teacher registration</h2>
        <!--   <p>Logos version</p> -->
           
              <p style="margin-top:25px"><a href="/version-2/tstart/">v2 Teacher starts, Provider verifies</a></p>

    
          
   
           <hr style="margin:25px 0 25px 0">
            <h2 class="govuk-heading-s">Sprint 1 - Teacher registration</h2>
        <!--   <p>Logos version</p> -->
           <p style="margin-top:25px"><a href="/version-1/pstart/teacher">v1 Provider starts, teacher finishes</a></p>
              <p style="margin-top:25px"><a href="/version-1/tstart/">v2 Teacher starts, Provider verifies</a></p>

    
          
   
           <hr style="margin:25px 0 25px 0">









</div>
</div>
</details>
</div>
</div>


{% endblock %}
