
{% extends "layout.html" %}
{% block beforeContent %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}


<div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                                <h1 class="govuk-heading-xl">I don't know if I updated my name</h1>
                                 <p class="govuk-body"> </p>
                             <p>If you are unsure whether you have updated your name on Teaching Regulation Agency records, you can request a reminder.</p>

    <h2 class="govuk-heading-m">Request a TRN reminder by email</h2>
    <p>Send an email <a href="">qts.enquiries@education.gov.uk</a> which includes your:</p>
       <ul class="govuk-list govuk-list--bullet">
            <li>full name</li>
            <li>date of birth</li>
             <li>National Insurance number</li>
        </ul>
      

         <h2 class="govuk-heading-m">Request a TRN reminder by phone</h2>
         <p>Call the Teaching Regulation Agency on 020 7593 5394 to obtain your TRN.<br />Make sure you have your National Insurance number ready before you call.</p>
                              
        <!--         <form action="details" method="get" class="form">
                    <button class="govuk-button">Continue</button>
                </form> -->
            </div>
        </div>
    </main>


{% endblock %}
