
{% extends "layout.html" %}
{% block beforeContent %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}

<!-- <script>

function whereNow() {
   var status = $('input[name=head]:checked').val();
   console.log(status);
       switch (true) {
          case  (status == 'Yes'):
                console.log('headteacherYes')
                // localStorage.setItem("commitments.apprenticestatus", JSON.stringify('paused'));
                 window.location.href='npqHeadshipTwo';
                break;

        case  (status == 'No'):
            console.log('headteacherNo')
           // localStorage.setItem("commitments.apprenticestatus", JSON.stringify('stopped'));
             window.location.href='chooseProvider';
            break;
       
        default:
             console.log('gyahhhhhhhh, bork bork bork')
            break;
        }
    }

</script> -->


<div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                                <h1 class="govuk-heading-xl">Will you be a headteacher when your NPQH starts?</h1>
 <p>You are eligible for additional support if you are completing or have completed an NPQH and are in your first 2 years of headship. </p><p>If eligible, your training provider will share further details with you.</p>
                 <form action="headship13" >
                       <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <!-- <h2 class="govuk-fieldset__heading">Sign up to email updates?</h2> -->
                    </legend>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">

                      <div class="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="headteacherYes" name="head" type="radio" value="Yes" {{ checked( 'chooseSearch', '  yes') }}>
                                    <label class="govuk-label govuk-radios__label" for="headteacherYes">
                                        Yes
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="headteacherNo" name="head" type="radio" value="No" {{ checked( 'chooseSearch', ' no') }}>
                                    <label class="govuk-label govuk-radios__label" for="headteacherNo">
                                       No
                                    </label>
                                </div>

                                
                            </div>
                        </fieldset>
                    </div>
                 <!--     <input class="button govuk-button" id="saveAndContinue" type="button" onclick="whereNow()" value="Continue"> -->
                    <button class="govuk-button">Continue</button>
                </form>


            </div>
        </div>
    </main>


{% endblock %}
