
{% extends "layout.html" %}
{% block beforeContent %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}

<script>

function whereNow() {
   var status = $('input[name=assessment]:checked').val();
   console.log(status);
       switch (true) {

       
        default:
             localStorage.setItem("npq.qualifyASO", JSON.stringify('yes'));
              window.location.href='chooseProvider';
            break;
        }
    }

</script>


<div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                                <h1 class="govuk-heading-xl">You qualify for Additional Support Offer (ASO) for NPQH funding</h1>
                                <p>The additional support offer is a targeted support package for teachers new to the role of headship.</p>

                                <p> It is for new headteachers in their first 2 years of a headship role who have either completed an NPQH or are currently taking an NPQH.</p>
                                <p>Your training provider will give you more details. </p>

                 <form action="" >
                      
                  
                     <input class="button govuk-button" id="saveAndContinue" type="button" onclick="whereNow()" value="Continue">
                   <!--  <button class="govuk-button">Continue</button> -->
                </form>


            </div>
        </div>
    </main>


{% endblock %}
