
{% extends "layout.html" %}
{% block beforeContent %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
text: "Back",
href: "javascript:history.back()"
}) }}
{% endblock %}
{% block content %}


<div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                                <h1 class="govuk-heading-xl">Your delivery partner</h1>
                                 <p class="govuk-body"> </p>
                                 <p style="">Your delivery partner will be running your NPQ course.</p>
           

                <form action="deliveryProviderChecking" method="get" class="form">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

                              <!--   <p>Choose the End Point Assessment Organisation for   {{ data['course-name'] }}</p> -->
       

                                <label class="govuk-label  bold-label" for="firstName">
 Do you know which partner {{ data['providerName'] }} is using?

              </label>

                            </legend>
                            <div class="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="trn" name="trn" type="radio" value="deliveryYes" {{ checked( "trn", "deliveryYes") }}>
                                    <label class="govuk-label govuk-radios__label" for="TRN-yes">
                                       Yes, I know which delivery partner will be used
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="trn" name="trn" type="radio" value="deliveryNo" {{ checked( "TRN", "deliveryNo") }}>
                                    <label class="govuk-label govuk-radios__label" for="TRN-no">
                                       No, I don't know which partner is being used
                                    </label>
                                </div>
                    <!--             <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="epaoName-coventry" name="epao-name" type="radio" value="Coventry University" {{ checked( "epao-name", "Coventry University") }}>
                                    <label class="govuk-label govuk-radios__label" for="epaoName-coventry">
                                       Coventry University
                                    </label>
                                </div> -->
                            </div>
                        </fieldset>
                    </div>

                    <button class="govuk-button">Continue</button>
                    <!--  <a  class="govuk-button clear-button" href="apprenticeDetails/add-apprentice" >Skip and continue</a> -->
                </form>



            </div>
        </div>
    </main>


{% endblock %}
