
{% extends "layout.html" %}
{% block beforeContent %}


{% endblock %}
{% block content %}

<div class="govuk-width-container">
 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <!--       <h1 class="govuk-heading-xl">
            Add an apprentice
        </h1> -->

           <p class="govuk-body">Dear  {{ data['first-name-real'] }}  {{ data['last-name-real'] }}</p>
            <p class="govuk-body">This email has been used to register for the National Professional Qualifications (NPQ) service. You will need to finish the registration to access your NPQ course.</p>

       
<p><a href="password">Continue with registration</a></p>
<p class="govuk-body">If you did not register with this service, please ignore the email.</p>
<p class="govuk-body">Best Regards</p>
<p class="govuk-body">NPQ Team</p>



    </div>
</div>
</main>
</div>

{% endblock %}
